@media only screen and  (min-width: 1000px)  {
	table.fullWidth th label{
	  min-width: 153px;
	}
   .tablediv.exchange{
	 margin-top: -25px;
   }
}
@media only screen and (max-width: 1200px) {
  .infoBoxOpacity {
	width: 70%;
	height: 50%;
	left: 15%;
  }
  #ltr img.iconLeft{
	margin-top: 7px;
  }
}

@media only screen and (max-width: 1000px) {
  .tablediv.exchange{
	margin-top: 15px;
  }
  #rtl img.iconLeft{
	margin-top: 7px;
  }
}
@media only screen and (max-width: 990px){
  .applicationBanner{
	display: none;
  }
  .submitButton.pdr7{
	padding-right: 0;
  }
  #rtl form .form-control.long{
	width: 100%;
  }
  .infoBoxOpacity {
	width: 80%;
	height: 50%;
	left: 10%;
  }
}
@media only screen and (max-width: 770px) {
  #ltr body#account header #current-buy  {
	margin-top: 31px;
	margin-right: 30px;
  }
  .how-to-container, .how-to{
	max-width: 100%;
  }
  .app .app-content{
	min-height: 400px;
  }
  .infoBoxOpacity {
	top: 10%;
	width: 80%;
	height: 80%;
	left: 10%;
  }
}
@media only screen and (max-width: 700px){
  #homepage #header-text-block h1{
	text-align: center !important;
  }
  #homepage #about .right{
	text-align: center;
	margin: auto;
	float: none;
	margin-bottom: 10px;
  }
  .infoBoxOpacity {
	top: 12%;
	width: 80%;
	height: 75%;
	left: 10%;
  }
}
@media only screen and (max-width: 700px){
  .infoBoxOpacity {
	top: 15%;
	height: 70%;
  }
}
@media only screen and (max-width: 550px){
  .infoBoxOpacity {
	top: 15%;
	height: 70%;
	width: 90%;
	left: 5%;
  }
  .sellButton, .sellButton  .btn.btn-gray, .sellButton .btn.btn-fb{
	width: 100%;
	margin-top: 10px;
  }

}
@media only screen and (max-width: 450px){
  .col-sm-9.app-content{
	padding: 25px 10px;
  }
  section .container{
	padding: 0;
  }
}
@media only screen and (max-width: 450px){
  .infoBoxOpacity {
	top: 15%;
	height: 70%;
	width: 96%;
	left: 2%;
  }
  img.iconLeft{
	max-width: 10% !important;
	margin-right: 3%;
  }
}
/*inputs - general*/
@media only screen and (max-width: 1000px) {
  .clearfixSmall{
	content:"";
	display:table;
	clear:both;
  }
  .form-control.short.firstname, .form-control.short,form.form-voucher input[type="text"] {
	width: 57%;
	margin-left: 0;
	margin-right: 2%;
  }
  .app-content form label[for=frm-form-amount-100],
  .app-content form label[for=frm-form-amount-200],
  .app-content form label[for=frm-form-amount-300],
  .app-content form label[for=frm-form-amount-500],
  .app-content form label[for=frm-form-amount-1000],
  .app-content form label[for=frm-form-amount-2000]{
	width: auto;
	max-width: 99%;
  }
  .app-content .radio-key-100,
  .app-content .radio-key-200,
  .app-content .radio-key-300,
  .app-content .radio-key-500,
  .app-content .radio-key-1000,
  .app-content .radio-key-2000{
	width: 23%;
	display: inline-block;
  }
  .app-content form label {
	margin-right: 1%;
  }
}
@media only screen and  (max-width: 570px)  {
  .fullWidth .width20.formLabel{
	width: 100%;
	display: block;
  }
  .fullWidth .width80{
	width: 100%;
  }
}
/*homepage*/
@media only screen and (max-width: 1200px){
  .header-application .downloadApp{
	margin-left: 20px;
  }
  #security .col-md-4{
	min-height: 250px;
  }
}
@media only screen and (max-width: 1000px){
  #homepage h1{
	color: #FFF;
  }
}
@media only screen and (max-width: 1025px){
  	div#homepage-subscribe{
	  margin-bottom: 20px;
	}
}
@media only screen and (max-width: 1000px){
  	#security .col-md-4{
	  min-height: 10px;
  	}
}
/*Menu my Wallet*/
.app .app-sidebar ul.nav-stacked:not(#snippet--menu) li a:first-child {
  color: #666;
  float: left;
}

@media only screen and (max-width: 767px){
  .header-application .downloadApp{
	  margin-left: 0;
	  margin-bottom: 30px;
  }
  .nav.nav-pills.nav-stacked:not(#snippet--menu){
	  margin-top: 17px;
	  margin-bottom: -6px;
  }
  .app .app-sidebar  ul.nav-stacked:not(#snippet--menu) li i {
	font-size: 18px;
	position: absolute;
	top: 22px;
	color: #666;
	z-index: 50;
	left: 40%;
  }
  .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li a {
	color: #666;
	padding: 1px 0px 18px 75px;
	width: 100%;
	height: 64px;
	overflow: hidden;
	float: left;
	text-align: center;
  }
  .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li a:last-child{
	display: none;
  }
  .nav-stacked > li{
	display: inline-flex;
  }
}


/*My Vouchers*/
@media only screen and (max-width: 450px){
  #account table td,  #account table th{
	padding-left: 3px;
	padding-right: 3px;
  }
}

/*My Wallet*/
@media only screen and (max-width: 510px){
  .app-content .btn.btn-gray, .app-content .btn.btn-fb{
	width: 100%;
	margin-bottom: 10px;
  }
  .header-application .downloadApp{
	width: 100%;
	text-align: center;
  }
  .header-application p{
	max-width: 100%;
	text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  #snippet-bitcoinTransactions- table.table tr td, table.vertical-table tr td{
	padding-left: 5px;
	padding-right: 5px;
  }
  #snippet-bitcoinTransactions- table.table tr th, table.vertical-table tr th{
	padding-left: 5px;
	padding-right: 5px;
  }
}
/*send Bitcoine*/
@media only screen and (max-width: 1200px) {
  #account .app-content .send-bitcoins{
	border-right: none;
	padding-right: 0;
	width: 100% !important;
  }
  #rtl #account .app-content .send-bitcoins{
	border-left: none;
	padding-left: 0;
  }
  .chosen-container.chosen-container-single{
	max-width: 100%;
	width: 100%;
  }
  #account .multisig-account-steps{
	display: none;
  }
  #rtl #account .app-content .send-bitcoins{
	width: 100%;
	border-right: none;
	padding-right: 0;
  }
}
@media only screen and (max-width: 775px) {
  #account .app-content .send-bitcoins{
	float: none;
  }
  #addressToSend{
	width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  #btcToSend{
	width: 49%;
  }
  #currencyToSend{
	width: 50%;
  }
  #exchangeResult{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
  }
  #account #newRecipient{
	right: 22px;
  }
  .mobile-100 {
	  width: 100% !important;
  }
}
@media only screen and (max-width: 450px) {
	.send-bitcoins-balance{
	  width: 100%;
	}
}
/*Page - How to buy bitcoin*/
@media only screen and (max-width: 580px) {
	.how-to{
	  height: auto;
	  min-height: 120px;
	  padding-top: 0;
	}
  	.how-to span{
	  min-height: 90px;
	  display: inline-block;
	}

}
@media only screen and (max-width: 550px) {
	.how-to-two{
	  padding-left: 121px;
	  padding-top: 124px;
	}
}
@media only screen and (max-width: 550px) {
  .how-to-two{
	padding-left: 121px;
	padding-top: 124px;
  }
}
@media only screen and (max-width: 430px) {
	.how-to{
	  padding-top: 125px;
	  padding-left: 0;
	  padding-right: 0;
	}
  	.how-to-two{
	  padding-left: 0;
	}
}
@media only screen and (max-width: 350px) {
	.how-to-two{
	  background-position: left top, 10px 120px;
	  padding-left: 120px;
	}
}
@media only screen and (max-width: 300px) {
  .how-to-two{
	background-position: left top, 10px 120px;
	padding-left: 0px;
	padding-top: 228px;
  }
}

/*Page - Buy bitcoin*/
/*menu*/
@media only screen and (max-width: 1200px) {
	.topchoice a#show-how-to{
	  float: none !important;
	  margin-top: 25px;
	  margin-bottom: 20px;
	}
   	.voucher-first .voucher-left.unverified .labelinput label {
	  width: 26%;
   	}
	.voucher-first #limit-exceeded span {
		width: 0;
	}
	.voucher-first #frm-form-firstName{
	  margin-right: 25%;
  	}
  	.voucher-first #frm-form-lastName, .voucher-first #frm-form-firstName{
	  width: 45%;
  	}
}

/*buy voucher*/
@media only screen and (max-width: 1200px) {
	.radio-key-2000{
	  margin-left: 115px;
	}
  	#paymentMethod{
	  width: 200px;
  	}
  	.voucher-first #currency{
		width: 80px;
  	}
  	.voucher-first #amount{
		width: 110px;
  	}
}
/*buy voucher*/
@media only screen and (max-width: 1000px) {
  	.voucher-left-panel {
	  width: 100%;
  	}
  	.form-voucher .voucher-right-panel {
	  margin-top: 10px;
	  width: 100%;
  	}
}
@media only screen and (max-width: 1100px) {
  .widthsixtie{
	width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .voucher-first #frm-form-lastName, .voucher-first #frm-form-firstName, .voucher-first #paymentMethod{
	width: 71%;
	margin-right: 0%;
  }
  .voucher-first #amount{
	width: 47%;
  }
  .voucher-first #currency{
	width: 22%;
	margin-right: 0;
  }
  .radio-key-2000{
	margin-left: 0px;
  }
  .radio-key-500{
	margin-left: 27.5%;
  }
  .app-content form label{
	max-width: 26%;
  }
  form.form-voucher .selectinfo{
	width: 100%;
	display: inline-block;
	padding-left: 28%;
  }
  #paymentMethod{
	width: 51%;
  }
}
@media only screen and (min-width: 990px) {
  #frm-form-name-attachments, #frm-form-name-visaAttachments{
  	width: 91.5%;
  }
}
@media only screen and (max-width: 760px) {
  .voucher-first #amount{
	width: 40%;
  }
  .voucher-first #currency{
	width: 29%;
  }
  .radio-key-2000{
	margin-left: 0px;
  }
  .radio-key-500{
	margin-left: 27.5%;
  }
  .voucher-left{
	float: none;
  }
}
@media only screen and (max-width: 590px) {
  #account .app-content form label[for="frm-form-initiated"] {
	width: auto;
	float: left;
  }
}
@media only screen and (max-width: 590px) {
  .voucher-first #frm-form-lastName, .voucher-first #frm-form-firstName, .voucher-first #paymentMethod{
	width: 71.8%;
	margin-right: 0%;
  }
  .voucher-first #amount{
	width: 48.5%;
  }
  .voucher-first form select.form-control#currency{
	width: 20%;
  }
  .voucher-first .voucher-left.unverified .labelinput label{
	width: 40%;
  }
}
@media only screen and (max-width: 550px) {
  .topchoice a{
	margin-bottom: 14px;
  }
  .topchoice a#show-how-to{
	margin-top: 10px;
  }
  .voucher-first span.selectinfo{
	text-align: right;
	padding-right: 12px;
  }
  .voucher-first{
	padding: 0 10px 40px 10px;
  }
  .voucher-agree.stepspayment.paddingcheck{
	padding-left: 10px;
  }
  input#frm-form-initiated{
	margin-right: 17px;
  }
}
@media only screen and (max-width: 525px) {
  #snippet--sellBitcoinForm #fromAmount, #snippet-- #amount{
	width: 60%;
  }
  #snippet--sellBitcoinForm select,#snippet--  select{
	width: 37%;
  }
  #snippet--sellBitcoinForm select#toCurrency {
	margin-right: 1% !important;
  }
  #snippet--sellBitcoinForm #toAmount.width20{
	width: 55%;
  }
  .app-content .radio-key-100, .app-content .radio-key-200, .app-content .radio-key-300, .app-content .radio-key-500, .app-content .radio-key-1000, .app-content .radio-key-2000{
	width: 49%;
  }
  .voucher-first #frm-form-lastName, .voucher-first #frm-form-firstName, .voucher-first #paymentMethod{
	width: 100%;
  }
  .voucher-first #amount{
	width: 60%;
  }
  .voucher-first form select.form-control#currency{
	width: 36%;
  }
  .app-content form label{
	max-width: 100%;
	width: 100%;
	display: block;
  }
  .app-content form input, .form-control.short.firstname, .form-control.short, form.form-voucher input[type="text"]{
	max-width: 100%;
	width: 100%;
  }
  form.form-voucher input[type="radio"]{
	width: 10px;
  }
  form.form-voucher .selectinfo{
	padding-left: 0;
  }
  .radio-key-500{
	margin-left: 0;
  }
  #paymentMethod{
	width: 100%;
  }
  .my-friends-fb{
	width: 100%;
  }
  #frm-phoneSetup-form-number{
	max-width: 100%;
  }
  form.buy-bitcoins #toAmount {
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .voucher-first .voucher-left.unverified .labelinput label{
	width: 100%;
	display: block;
	margin-bottom: 0;
	margin-top: 12px;
  }
  .voucher-first #amount{
	width: 59%;
  }
  .voucher-first form select.form-control#currency{
	width: 33%;
  }
  .voucher-first #frm-form-lastName, .voucher-first #frm-form-firstName, .voucher-first #paymentMethod{
	width: 96%;
  }
}
/*Receive*/
@media only screen and (max-width: 1200px){
  .tabledivshort {
	width: 100%;
  }
}
@media only screen and (max-width: 550px){
  #account #frm-note-form-submit{
	margin-top: 3px;
	margin-bottom: 15px;
  }
  #account form textarea#frm-note-form-note{
	width: 100%;
	margin-left: 0;
  }
}
/*Verification*/
@media only screen and (max-width: 1200px){
  #frm-form-address-zip{
	width: 28%;
  }
}
@media only screen and (max-width: 1000px){
  .app-content form label{
	max-width: 100%;
  }
  #frm-form-address-country{
	width: 30%;
  }
  #frm-form-address-city{
	width: 29%
  }
}
@media only screen and (max-width: 990px){
  #rtl #homepage .col-md-1, #rtl #homepage .col-md-2, #rtl #homepage .col-md-3, #rtl  #homepage .col-md-4, #rtl #homepage .col-md-5, #rtl #homepage .col-md-6, #rtl #homepage .col-md-7, #rtl #homepage .col-md-8, #rtl #homepage .col-md-9, #rtl #homepage .col-md-10, #rtl #homepage .col-md-11{
	float: none;
  }
  #rtl .submitButtonsubmitButton{
	width: 100%;
  }
  #frm-form-address-city, #frm-form-address-zip, #frm-form-name-firstName, #frm-form-name-lastName{
	width: 48.7%;
	max-width: 50%;
  }
  #frm-form-address-city, #frm-form-name-firstName{
	margin-right: 1%;
  }
  #frm-form-address-zip, #frm-form-name-lastName{
	margin-right: 0;
  }
  #frm-form-address-country, #frm-form-occupation, #frm-form-address-street{
	max-width: 100%;
	width: 99%;
  }
  .fullWidth.submitButtonsubmitButton.pdr7{
	padding-right: 0;
  }
}
@media only screen and (max-width: 765px){
  #frm-form-address-city, #frm-form-address-zip, #frm-form-name-firstName, #frm-form-name-lastName{
	width: 49%;
	margin-right: 0;
  }
}
@media only screen and (max-width: 600px){
  #frm-form-address-city, #frm-form-address-zip, #frm-form-name-firstName, #frm-form-name-lastName{
	margin-right: 0;
  }
}
@media only screen and (max-width: 600px){
  #account .app-content form label{
	width:100%;
	display: block;
  }
  #frm-form-saveDraft{
	margin-right: 0;
	margin-top: 10px;
  }
  .submitButtonsubmitButton input{
	width: 100%;
  }
}
/*Redeem Voucher*/
@media only screen and (max-width: 1200px){
  .exchange{
	width: 21%;
  }
}
@media only screen and (max-width: 1000px){
  .redeem-left h2{
	width: 100%;
	margin-bottom: 40px;
  }
  .exchange{
	width: 100%;
	margin-bottom: 10px;
  }
  .redeem-left label[for=frm-form-amount]{
	max-width: 100%;
	width: 100%;
	margin-bottom: 0;
  }
  .redeem-left #fiatAmount{
	margin-bottom: 20px;
  }
  .redeem-left .btclabel{
	width: 100%;
	max-width: 100%;
	margin-bottom: 0;
  }
  .app-content .redeem-first form label, .app-content .redeem-first form label.frm-form-amount{
	max-width: 100%;
	width: 100%;
  }
  .redeem-left #currency{
	margin-top: -10px;
	width: 19%;
	margin-right: 0;
  }
  .redeem-left #fiatAmount{
	width: 79%;
	margin-right: 1%;
  }
  .redeem-left #btcAmount{
	width: 100%;
  }
}
@media only screen and (max-width: 990px){
  .redeem-left #frm-form .labelinput span:last-child{
	display: inline-block;
	width: 100%;
  }
}
@media only screen and (max-width: 775px){
  .redeem-left #frm-form .labelinput span:last-child{
	display: inline-block;
	width: 100%;
  }
}
@media only screen and (max-width: 550px){
  .exchange{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  .redeem-first #btcAmount{
	width: 100%;
  }
  .redeem-left form label{
	width: 19%;
  }
  .redeem-left #fiatAmount{
	width: 59%;
  }
  .redeem-left #currency{
	width: 38%;
  }
}
/*other css*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .how-to-container, .how-to{
	max-width: 100%;
	padding-top: 0;
  }

  .col-20 {
    width: 20%;
    float: left;
  }
  #topmenu {
	  display: none;
  }
  header .menu-ico {
    display: none;
  }
  header h1 {
  	margin-top: 40px;
  	color: #20564c;
  	font-size: 30px;
  	padding: 0px 0px 0px 0px;
  }
  header p {
  	font-size: 23px;
  	padding: 25px 20px 40px 20px;
  	font-weight: 300;
  	line-height: normal;
  }
  header #lang {
	  float: right;
	  padding: 40px 0 20px 0;
	  height: 70px;
	}
  header #desktop-topmenu {
    display: block;
    float: left;
    font-size: 13px;
    padding-top: 0;
    clear: none;
  }
  header #desktop-topmenu ul {
    margin: 40px 0 0 30px;
    background: none;
  }
  header #desktop-topmenu ul li {
    float: left;
    margin-right: 30px;
  }
  header #desktop-login {
	  display: block;
  }
  header #mobile-login {
	  display: none;
  }
  header #login, header #register {
    float: right;
    padding: 40px 0 20px 0;
    height: 70px;
  }
  header #current-buy {
    float: right;
    clear: none;
    font-size: 15px;
    margin-top: 28px;
    text-align: left;
    margin-right: 40px;
  }
  header h1 {
    margin-top: 80px;
  }
  #homepage h1.main-message {
		font-size: 43px;
		margin: 80px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		line-height: normal;
	}
	#homepage p.sub-message {
		font-size: 23px;
		margin: 0px 0px 0px 0px;
		padding: 25px 130px 40px 130px;
		line-height: normal;
	}
	#info header {
		background: #204b44 url('../../images/bg-sub.jpg') no-repeat;
	}

  #info header #logo img {
  	display: block;
  }
	section#about {
		width: 100%;
  	padding: 85px 0;
  	background: white url(../../img/bg/al-arabone.jpg) bottom no-repeat;
  	padding-top: 280px;
  	-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		min-height: 737px;
	}
	section#about .content h2 {
		color: #2a5968;
		font-size: 43px;
		font-weight: 300;
	}
	section#about .content p {
		width: 400px;
		line-height: 25px;
		font-weight: 300;
		padding-left: 3px;
		font-size: 19px;
	}
	section#why-buy-bitcoin .content h2.whybuy {
  	color: #07B29B;
  	font-size: 43px;
  	font-weight: 300;
		text-align: center;
		padding-bottom:0px;
	}
	section#why-buy-bitcoin {
  	/* background: #F9F9F9;border-bottom: 1px solid #F1F1F1; */
  	background: #FFFFFF;
  	padding-top: 80px;
  	text-align: center;
  }
  section#homemultisig h2.homemultisig, section#homereferences h2 {
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 0px 0px;
		font-size: 43px;
		font-weight: 300;
		text-align: center;
	}
	section#security .container > h2 {
		color: #07b29b;
		font-size: 43px;
		font-weight: 300;
		padding-bottom:60px;
		text-align: center;
	}
	section#homereferences a {
		margin: 20px 2px;
	}
  footer .logo {
    clear: none;
    padding-top: 0;
    text-align: right;
  }
  footer nav ul li a {
  	color: #333333;
  	font-size: 13px;
  }
  .youtube iframe {
	 	width: 426px;
	 	height: 241px;
 }
 	#account header {
		/*background: url(../../images/bg.jpg) center no-repeat;*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		min-height: 100px;
	}

	/************* ARABIC CSS **************/
  #rtl section#about {
		width: 100%;
  	padding: 85px 0;
  	background: white url(../../img/bg/al-arabone.jpg) bottom no-repeat;
  	padding-top: 280px;
  	-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		min-height: 737px;
		-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	}
	#rtl section#about .container .content {
		-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	}
	#rtl #homepage header #logo {
  	display: block;
  	padding: 25px 20px 20px 20px;
  	width: 160px;
  	height: 170px;
  	float: right;
  }
  #rtl header #desktop-topmenu {
    display: block;
    float: right;
    font-size: 13px;
    padding-top: 0;
    clear: none;
  }
  #rtl header #desktop-topmenu ul li {
    float: right;
    margin-right: 30px;
  }
  #rtl header #login, #rtl header #register {
    float: left;
    padding: 40px 0 20px 0;
    height: 70px;
  }
  #rtl header #lang {
    float: left;
    padding: 40px 0 20px 0;
    height: 70px;
  }
  #rtl header #current-buy {
    float: left;
    clear: none;
    font-size: 15px;
    margin-top: 28px;
    text-align: left;
    margin-left: 40px;
  }
  #rtl header .menu-ico {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	header #topmenu ul li {
		margin-right: 0;
	}
	header #topmenu ul {
		margin-left: 0;
	}
}

@media only screen and (max-width: 700px) {
	header .content h1 {
		color: #EEE;
		width: 100% !important;
	}
	header .content #homepage-header-text {
		width: 100% !important;
		text-align: center !important;
	}
	#homepage #homepage-subscribe,
	#homepage #header-text-block {
		padding-top: 10px !important;
		width: 100%;
	}
	#homepage #homepage-subscribe form {
		width: 100% !important;
		padding-bottom: 20px;
	}
	#homepage #homepage-subscribe a.btn {
		width: 80% !important;
		margin-top: 0px !important;
	}
	body#homepage #homepage-header-text {
		font-weight: normal;
	}
	section#homereferences a {
		margin: 20px 0px;
	}
    #rtl #desktop-login{
	  display: none;
	}
}
@media only screen and (max-width: 770px) {
  #rtl body#account header #current-buy {
	margin-right: 0px;
  }
}

/*Homepage*/
@media only screen and (max-width: 450px) {
	section#about .content{
		width: 90%;
	}
}

/*Footer*/
@media only screen and (min-width: 725px) and (max-width: 1000px){
  #contact .col-md-3{
	float: left;
	margin-right: 20px;
  }
}
/*ltr*/
/*menu*/
@media only screen and (max-width: 768px) {
  #rtl .app .col-sm-3.blog-sidebar.app-sidebar{
	width: 100%;
  }
  #rtl .col-sm-9.app-content{
	width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  #rtl .col-sm-9.app-content{
	padding: 7px;
  }
}
@media only screen and (max-width: 1200px){
  #rtl a#show-how-to{
	float: none;
  }
}

/*Menu my Wallet*/

@media (max-width: 1000px){
  .app .app-sidebar ul li a{
	padding-left: 35px;
  }
  #rtl .app .app-sidebar ul li a{
	padding: 20px 37px 20px 14px;
  }
}

@media only screen and (max-width: 767px){
  .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li{
	width: 16.67%;
	margin-right: -4px;
  }
  .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li a{
	width: 100%;
	display: inline-block;
	padding: 0;
  }
  #rtl .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li i {
	margin-left: auto;
	margin-right: auto;
  }
  #rtl .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li a:last-child {
	color: #666;
	padding: 17px 65px 18px 0px;
	width: 28px;
	height: 64px;
	overflow: hidden;
	float: left;
  }
  #rtl .nav-stacked > li{
	display: inline-flex;
  }
}
@media only screen and (max-width: 400px){
  .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li{
	width: 34%;
	float: left;
  }
  #bitcoin-address span{
	word-wrap: break-word;
	max-width: 100%;
  }
}
/*buy Bitcone*/
@media only screen and (max-width: 1200px){
  #rtl .voucher-first #frm-form-firstName{
	margin-left: 30%;
  }
}
@media only screen and (max-width: 1000px){
  #rtl .voucher-first .voucher-left.unverified .labelinput label{
	width: 22%;
  }
}
@media only screen and (max-width: 990px){
  #rtl .voucher-first #frm-form-firstName{
	margin-left: 16%;
  }
}
@media only screen and (max-width: 500px){
  #rtl .voucher-first #frm-form-firstName{
	margin-left: 0;
  }
  #rtl .voucher-first .voucher-left.unverified .labelinput label{
	width: 23%;
  }
}
@media only screen and (max-width: 450px){
  #rtl .voucher-first .voucher-left.unverified .labelinput label{
	width:100%;
  }
}
/*rtl sell*/
@media only screen and (max-width: 1200px) {
  #rtl .infoBoxOpacity {
	right: 15%;
  }
}
@media only screen and (max-width: 990px){
  #rtl .infoBoxOpacity {
	right: 10%;
  }
}
@media only screen and (max-width: 770px) {
  #rtl .infoBoxOpacity {
	right: 10%;
  }
}
@media only screen and (max-width: 700px){
  #rtl .infoBoxOpacity {
	right: 10%;
  }
}
@media only screen and (max-width: 550px){
  #rtl .infoBoxOpacity {
	right: 5%;
  }
}
@media only screen and (max-width: 450px){
  #rtl .infoBoxOpacity {
	right: 2%;
  }
}


