.container {
	width: 100%;
}
@media (min-width: 1200px) {
	#snippet--flashes {
		max-width: 99%;
	}
}

.horizontal-separator {
	background-color: #d8d9d8;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 12px;
	height: 30px;
	width: 1px;
}

.font-size14 {
	font-size: 14px;
}

.mg15 {
	margin: 15px;
}

.mgb10 {
	margin-bottom: 10px;
}

.mgr0i {
	margin-right: 0px !important;
}

.mgt10 {
	margin-top: 10px;
}

.mgt25 {
	margin-top: 25px;
}

.mgt80 {
	margin-top: 80px;
}

.pd10 {
	padding: 10px;
}

.pdb0 {
	padding-bottom: 0px;
}

.pdt0 {
	padding-top: 0px;
}

.width25 {
	width: 25%;
}

.width50 {
	width: 50%;
}

.white-background {
	background-color: #ffffff;
}

@media (min-width: 1250px){
  .app .app-content{
    padding: 0px 0px 25px;
  }
}

#submit-order.place-buy-order, #submit-order.place-sell-order {
	font-weight: bold;
	width: 100%;
	margin: 20px 0px;
	text-transform: uppercase;
}

#submit-order.place-buy-order {
	color: #fff;
	background-color: #0091d0;
	border: 1px solid #0091d0;
}

#submit-order.place-sell-order {
	color: #fff;
	background-color: #d9534f;
	border: 1px solid #d9534f;
}

#buy-btn {
	background-color: #ffffff;
	border: 1px solid #0091d0;
	color: #0091d0;
}
#buy-btn.active {
	color: #fff;
	background-color: #0091d0;
	border: 1px solid #0091d0;
}

#sell-btn.active {
	color: #fff;
	background-color: #d9534f;
	border: 1px solid #d9534f;
}

.order-book .order-book-table {
	border-right: 1px solid #f0f4f5;
}

.order-book .order-book-table div.row:last-child {
	padding-bottom: 0;
}

.order-book .order-book-container .order-book-table > .head,
.order-book .trades > .head {
	background-color: #0091d0;
}

.order-book .order-book-container .order-book-table > .head.columns-titles,
.order-book .trades > .head.columns-titles {
	background-color: #eaeaea;
	color: #0091d0;
	font-weight: normal;
}

.order-book .order-book-container .order-book-table > .head > div,
.order-book .trades > .head > div {
	background-color: transparent;
	text-align: center !important;
}

.order-book .order-book-container .order-book-table > .head > .head-title,
.order-book .trades > .head > .head-title {
	color: #000000;
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
}

.order-book .order-book-container .order-book-table > .head > div .precision-value,
.order-book .trades > .head > div .precision-value {
	color: #ffffff;
	font-size: 13px;
	font-weight: normal;
}

.order-book .order-book-container .order-book-table > .head > div .span-bids,
.order-book .order-book-container .order-book-table > .head > div .span-asks {
	color: #ffffff;
	font-weight: bold;
}

.order-book .trades > .head > div .span-trades {
	color: #ffffff !important;
	font-weight: bold !important;
}

.order-book .precision button {
	height: 18px;
	width: 18px;
	padding: 0;
	border: none;
	border-radius: 3px;
	background-color: #ffffff;
	color: #0091d0;
	font-weight: bold;
	vertical-align: text-top;
}

#order-book-modal {
	display: none;
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: calc(100% - 41px);
	background: rgba(240, 240, 240, 0.7) url(../../img/loading.gif) 50% 50% no-repeat;
	top: 41px;
}

#order-book-modal.loading {
	display: block;
}

.exchange-sidebar .orders .buy-sell-buttons .btn-green {
	background-color: #0091d0;
	border: 1px solid #0091d0;
	color: #ffffff;
	font-weight: bold;
}

.exchange-sidebar .orders form {
	margin: 10px;
}

.exchange-sidebar .orders .buy-sell-buttons .btn-danger {
	background-color: #ffffff;
	border: 1px solid #0091d0;
	color: #0091d0;
	font-weight: bold;
	width: 97%;
}

.exchange-sidebar .orders .type {
	text-align: center;
}

.exchange-sidebar .orders .type a, .exchange-sidebar .orders .type span {
	border-bottom: 1px solid #d8d9d8;
	color: #0091d0;
	display: block;
	padding: 15px 0px;
}

.exchange-sidebar .orders .type span {
	color: #C1C1C1;
	text-decoration: line-through;
}

.exchange-sidebar .orders .type a:hover {
	font-weight: bold;
}

.exchange-sidebar .orders .type a.active {
	border-bottom: 1px solid #0091d0;
	color: #0091d0;
}

.exchange-sidebar .orders .total-price {
	border-bottom: 1px solid #d8d9d8;
	margin: 25px 0px 0px;
	padding: 0px 10px;
	text-transform: uppercase;
}

.exchange-sidebar .orders .total-price span {
	font-size: 14px;
	margin-bottom: 10px;
}

.exchange-sidebar ul.nav {
	border: none;
	background-color: #ffffff;
	padding: 20px 25px;
}

.exchange-sidebar ul.nav li a {
	padding: 2px 0px;
	text-transform: uppercase;
}

.exchange-sidebar ul.nav li a:hover {
	text-decoration: underline;
}

.exchange-homepage .app div.app-content {
	background-color: inherit;
	left: 0px;
	padding-left: 0px;
}

.app div.app-content {
	border-left: 15px solid #eef2f3;
}

body .btn.btn-green.small, body #frm-verificationSelectorForm select, body #frm-tradeSummary-form select#tradeSummaryCurrency {
	padding: 5px 15px !important;
}

body #frm-verificationSelectorForm select, body #frm-tradeSummary-form select#tradeSummaryCurrency {
	height: 30px;
}

body #frm-tradeSummary-form select#tradeSummaryCurrency {
	border: none;
	margin: 1px 0px;
}

#frm-tradeSummary-form select#tradeSummaryCurrency {
	padding: 10px 15px !important;
	font-size: 85% !important;
	font-weight: bold;
}
#frm-tradeSummary-form select#tradeSummaryCurrency {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/select-arrow.png) no-repeat #0091d0 95% 50%;
	color: #fff;
	border-radius: 3px;
	height: 40px;
	width: 22%;
}
#frm-tradeSummary-form select#tradeSummaryCurrency {
	width: 105px;
}

#rtl #frm-tradeSummary-form select#tradeSummaryCurrency {
	background: url(../images/select-arrow.png) no-repeat #0091d0 5% 50%;
}

#frm-tradeSummary-form {
	display: inline-block;
	float: right;
}


body .trade-summary, body .order-book, body .charts, body .open-orders {
	background-color: #fff;
	border-width: 0px;
	border-radius: 0px;
}

body .trade-summary {
	line-height: 30px;
}

body .trade-summary span {
	color: #0091d0;
	font-size: 15px;
}

body .trade-summary span > span {
	color: #06457b;
	font-weight: bold;
}

.charts h3 i.fa, .open-orders h3 i.fa {
	margin-right: 10px;
}

body .app .app-content .charts h3, body .app .app-content .open-orders h3 {
	color: #0091d0;
}

.app .app-sidebar.exchange-sidebar {
	padding: 0 0 25px 0;
}

.exchange-sidebar h2 {
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	padding: 15px;
	background-color: #ffffff;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
}
.exchange-sidebar .deposit-withdrawal {
	background-color: #ffffff;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
.exchange-sidebar .deposit-withdrawal > div {
	padding: 0px;
}
.exchange-sidebar .deposit-withdrawal a {
	width: 100%;
	display: inline-block;
	padding: 15px 0px;
	text-align: center;
	color: #0091d0;
	border-bottom: solid 1px #d8d9d8;
}
.exchange-sidebar .deposit-withdrawal a:hover {
	font-weight: bold;
}
.exchange-sidebar .balances {
	padding: 15px;
	padding-bottom: 0px;
	background-color: #ffffff;
	color: #06457b;
	font-weight: bold;
	margin-bottom: 5px;
}
.exchange-sidebar .balances .balances-arrow {
	color: gray;
	border-top: 1px solid #d8d9d8;
	text-align: center;
	margin-top: 10px;
}
.exchange-sidebar .balances .balances-arrow i {
	font-weight: bold;
}
.exchange-sidebar .balances .amount {
	text-align: right;
}
.exchange-sidebar .orders {
	background-color: #ffffff;
	margin: 0px 15px 10;
}
.exchange-sidebar .orders .type {
	text-transform: uppercase;
	margin: 0;
}
.exchange-sidebar .orders .type a.active {
	font-weight: bold;
}
.exchange-sidebar .orders .buy-sell-buttons {
	margin: 0px;
}
.exchange-sidebar .orders .type div, .exchange-sidebar .orders .buy-sell-buttons div {
	padding: 0!important;
}
.exchange-sidebar .orders .buy-sell-buttons a {
	width: 100%;
}
.exchange-sidebar .orders .buy-sell-buttons a.active {
	opacity: 0.8;
}
.exchange-sidebar .orders .buy-sell-buttons #buy-btn {
	margin: 0 5px 7px 0;
}
.exchange-sidebar .orders .buy-sell-buttons #sell-btn {
	margin: 0 0 7px 5px;
}
.exchange-sidebar .orders .total-price {
	margin-top: 15px;
}
.exchange-sidebar ul.nav {
	width: 100%;
	padding: 5px 15px 0 15px;
}
.exchange-sidebar ul.nav li, .exchange-sidebar ul.nav li a {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.exchange-sidebar ul.nav li a {
	padding: 10px 0;
}
.trade-summary, .order-book, .charts, .open-orders {
	border: 1px solid #999;
	border-radius: 3px;
}
.trade-summary {
	padding: 5px 10px;
}
.trade-summary span {
	color: #06457b;
	border-radius: 0;
}
.trade-summary .trade-summary-desktop span.price-header {
	/*margin: 0 0 0 25px;*/
	margin: 0 0 0 10px;
	display: inline-block;
}
.trade-summary .trade-summary-desktop > span:first-child {
	padding-left: 0px;
	margin-right: -3px;
}
.trade-summary .trade-summary-desktop > span:last-child {
	padding-right: 0;
}
.trade-summary span > span {
	color: #999;
	margin-left: 10px;
}
.order-book, .charts {
	margin-top: 10px;
}
.order-book {
	font-size: 13px;
	position: relative;
}
.order-book, .order-book .row {
	margin-left: 0!important;
	margin-right: 0!important;
}
.order-book .order-book-container, .order-book .order-book-table {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}
.order-book .order-book-table {
	border-right: 1px solid #D1D1D1;
}
.order-book .order-book-table .data {
	border-bottom: 1px solid #FFFFFF;
}
.order-book .order-book-table.bids .data {
	border-left: 1px solid #FFFFFF;
}
.order-book .order-book-table.trades .data {
	border-right: 1px solid #FFFFFF;
}
.order-book div.trades {
	border-right: none;
}
.order-book div.head {
	font-weight: bold;
}
.order-book .precision {
	float: right;
}
.order-book .precision .precision-value {
	margin-right: 5px;
}
.order-book .precision button {
	width: 24px;
}
.order-book .order-book-table div.head:first-child div {
	color: #06457b;
	padding-top: 10px;
	text-align: left;
	line-height: 21px;
}
.order-book .order-book-table div.head:first-child div span {
	font-weight: bold;
	color: #000;
}
.order-book .order-book-table div.row:last-child {
	padding-bottom: 10px;
}
.order-book .order-book-table .row div {
	text-align: right;
	padding-left: 5px;
	padding-right: 0;
}
.order-book .order-book-table.bids div.head div:first-child, .order-book .order-book-table.bids div.data .row div:nth-child(2) {
	padding-left: 10px;
}
.order-book .order-book-table div.head div:last-child, .order-book .order-book-table div.data .row div:last-child {
	padding-right: 10px;
}
.order-book div.trades div.head div:first-child, .order-book div.trades div.data div.row div:first-child {
	text-align: left;
}
.order-book .order-book-table div.row div.count {
	text-align: center;
}
.order-book div .row {
	position: relative;
}
.order-book div .row div.depth-bar, .order-book .trades div.buy, .order-book .trades div.sell {
	position: absolute;
	top: 0;
	padding-left: 0;
	padding-right: 0;
	max-width: 100%;
}
.order-book .trades div.buy, .order-book .trades div.sell {
	width: 100%;
}
.order-book .trades div.buy {
	background-color: #e6ffe5;
}
.order-book .trades div.sell {
	background-color: #ffe6e6;
}
.order-book div.bids .row div.depth-bar {
	right: 0;
	background-color: #e6ffe5;
}
.order-book div.asks .row div.depth-bar {
	left: 0;
	background-color: #ffe6e6;
}
.charts, .open-orders {
	padding: 10px;
}
.app .app-content .charts h3, .app .app-content .open-orders h3 {
	margin-bottom: 0;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.app .app-content .charts h3:hover, .app .app-content .open-orders h3:hover {
	cursor: pointer;
}
.charts .chart-container, .open-orders table {
	margin-top: 20px;
}
.alert.websocket {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
label[for=chart-type-selector] {
	font-weight: normal;
}
table tr td i.cancel-order {
	color: #d9534f;
	margin-left: 10px;
}

.open-orders div.order-list {
	display: none;
}

.withdraw-form {
	margin-top: 30px;
}

.withdraw-form th {
	display: none;
}

.withdraw-form tr {
	display: inline-block;
}

.withdraw-form input[type="text"] {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	color: #555555;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	padding: 0px 15px;
}

.withdraw-form input[type="submit"] {
	background: #00b49b;
	border: none;
	border-radius: 4px;
	color: #FFFFFF;
	margin-left: 5px;
	padding: 10px 20px;
}

.deposit-form {
	margin-top: 30px;
}

.deposit-form th {
	display: none;
}

.deposit-form tr {
	display: inline-block;
}

.deposit-form input[type="text"] {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	color: #555555;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	padding: 0px 15px;
}

.deposit-form input[type="submit"] {
	background: #00b49b;
	border: none;
	border-radius: 4px;
	color: #FFFFFF;
	margin-left: 5px;
	padding: 10px 20px;
}

.withdraw-wallet-select {
	background: #00b49b;
	border: none;
	border-radius: 4px;
	color: #FFFFFF;
	font-weight: 500;
	padding: 10px 10px;
	width: 270px;
	height: 37px;
}

.table-list {
	border-collapse: separate;
}

.table-list tr:not(:first-of-type):hover td {
	background: #e1ece8;
}

.table-list tr th:first-of-type,
.table-list tr td:first-of-type {
	padding: 9px 15px;
}

.table-list tr:first-of-type th {
	background: #0091d0;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: middle;
}

.table-list tr:not(:first-of-type) td {
	background: #eff5f3;
	border-top: 5px solid #FFFFFF;
	font-size: 14px;
}

.table-list tr:last-of-type td {
	border-bottom: 5px solid #FFFFFF;
}

.table-list tr:not(:first-of-type) td:not(:first-of-type) {
	color: #303030;
}

.table-list > table.table {
	border-spacing: 0px;
}

.table-list > table.table tr th {
	border-radius: 0;
	line-height: 13px;
}

.table-list > table.table tr td {
	border-radius: 0px;
	color: #333333;
	font-size: 100% !important;
	padding: 10px 15px;
	height: auto;
}

.table-detail-inside table, .table-detail {
	border-collapse: separate;
	border-spacing: 0 5px;
}

.table-detail-inside table tr td:first-of-type, .table-detail tr td:first-of-type {
	background: #f1f1f1;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #646464;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px;
	width: 50%;
}

.table-detail-inside table tr td:last-of-type, .table-detail tr td:last-of-type {
	background: #f8f8f8;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #646464;
	font-size: 14px;
	padding: 10px 15px;
	width: 50%;
}

.exchange-homepage .table-list {
	padding-right: 0px;
}

.bitcoin-withdrawal-box {
	margin-top: 15px;
}

.bitcoin-withdrawal-box .external-wallet-address {
	margin-top: 15px;
}

#account.exchange-body .text-green {
	color: #0091d0;
}

#account.exchange-body .text-red {
	color: #d9534f;
}

.table-detail-inside .tabledivshort, .table-detail-inside .tablediv {
	max-width: none;
	width: 100%;
	background: none;
	padding: 0;
}
.table-detail-inside .borderedtable {
	border: none;
}
.table-detail-inside h3.voucherh3 {
	margin-bottom: 10px;
	width: 50%;
}

.exchange-body .btn.btn-green {
	background-color: #00b49b;
}


.top-panel {
	display: flex;
	margin-bottom: 10px;
	padding-left:15px;
}

.top-panel .exchange-button {
	align-items: center;
	background-color: white;
	display: flex;
	padding: 0px;
	margin-left: 15px;
	text-transform: uppercase;
	width: 12.5%;
}

.top-panel .exchange-button img {
	height: 100%;
	width: 45px;
}

.top-panel .exchange-button h2 {
	font-weight: bold;
	flex: 1;
	font-size: 19px;
	text-align: center;
}

.top-panel .trade-summary {
	flex: 1;
}

@media screen and (max-width: 1280px) {
	.top-panel {
		flex-direction: column;
	}

	.top-panel .exchange-button {
		width: auto;
		margin-bottom: 10px;
	}

	.top-panel .exchange-button img {
		height: 100%;
		width: 50px;
	}

	.top-panel .exchange-button h2 {
		font-weight: bold;
		flex: 1;
		font-size: 19px;
		text-align: center;
	}

	.top-panel .trade-summary {
		flex: 1;
	}
}


.top-panel {
	display: flex;
	margin-bottom: 10px;
}

.top-panel .exchange-button {
	align-items: center;
	background-color: white;
	display: flex;
	padding: 0px;
	margin-right: 15px;
	text-transform: uppercase;
	width: 12.5%;
}

.top-panel .exchange-button img {
	height: 100%;
	width: 45px;
}

.top-panel .exchange-button h2 {
	font-weight: bold;
	flex: 1;
	font-size: 19px;
	text-align: center;
}

.top-panel .trade-summary {
	flex: 1;
	padding-top: 7px;
}

#inner-content-exchange {
	margin: 0 20px;
}

@media screen and (max-width: 1280px) {
	.top-panel {
		flex-direction: column;
	}

	.top-panel .exchange-button {
		width: 100%;
		margin-bottom: 10px;
	}

	.top-panel .exchange-button img {
		height: 100%;
		width: 50px;
	}

	.top-panel .exchange-button h2 {
		font-weight: bold;
		flex: 1;
		font-size: 19px;
		text-align: center;
	}

	.top-panel .trade-summary {
		flex: 1;
	}
}

@media only screen and (min-width: 700px) {
	header #logout {
		float: right;
		padding: 10px 0 10px 0;
		height: 50px;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	#account header {
		min-height: 55px;
	}
}

.order-book-table .price {
	cursor: pointer;
}

.bids .data .row:hover, .asks .data .row:hover {
	background-color: #f6f6f6;
}

.bids .data .row:hover > div.depth-bar {
	background-color: #d4f6d4;
}

.asks .data .row:hover > div.depth-bar {
	background-color: #f6d5d4;
}

.trades .data .row:hover div.buy {
	background-color: #d4f6d4;
}

.trades .data .row:hover div.sell {
	background-color: #f6d5d4;
}

.order-book .asks .data .row .price {
	width: 85px;
	float: left;
	padding-right: 0 !important;
}

@media only screen and (max-width: 768px) {
	.order-book .order-book-table.asks .cumulative {
		padding-right: 10px;
	}
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
	.order-book-table.asks .precision {
		float: left;
	}
}

@media only screen and (max-width: 500px) {
	.order-book-table .precision {
		float: none;
		margin-top: 5px;
		font-size: 20px;
	}

	.order-book-table .precision button {
		height: 24px;
		width: 24px;
	}

	.order-book-table.bids .precision {
		display: block;
		float: none;
		margin-top: 5px;
	}

	.order-book-table.asks .head-title {
		min-height: 68px;
	}
	
	#order-book-modal {
		top: 70px;
		height: calc(100% - 70px);
	}
}

@media only screen and (max-width: 1199px) {
	#order-book-modal {
		background-position: 50% 25%;
	}
}

.app div.col-md-9.app-content {
	padding: 0;
}

.trade-summary .trade-summary-desktop {
	display: inline-block;
}

.trade-summary .trade-summary-mobile {
	display: none;
}

@media only screen and (max-width: 991px) {
	.app .app-sidebar.exchange-sidebar {
		margin: 0 0 10px 0;
		padding-bottom: 1px;
	}

	.app div.col-md-9.app-content {
		border-left: 0;
	}

	.trade-summary .trade-summary-desktop {
		display: none;
	}
	.trade-summary .trade-summary-mobile {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	.top-panel {
		margin-bottom: 6px;
	}

	.balances-sidebar, .buy-and-sell-sidebar, .menu-sidebar {
		background-color: #fff;
		padding: 10px;
		margin-bottom: 6px;
	}

	.balances-sidebar h3 i.fa, .buy-and-sell-sidebar h3 i.fa, .menu-sidebar h3 i.fa {
		margin-right: 10px;
	}

	.balances-sidebar h3, .buy-and-sell-sidebar h3, .menu-sidebar h3 {
		margin-bottom: 0;
		color: #0091d0;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.balances-sidebar h3:hover, .buy-and-sell-sidebar h3:hover, .menu-sidebar h3:hover {
		cursor: pointer;
	}

	.menu-sidebar ul.nav {
		display: none;
	}

	.balances-sidebar > div {
		display: none;
	}

	.buy-and-sell-sidebar div.orders {
		display: none;
	}

	.app .app-sidebar.exchange-sidebar {
		margin: 0;
		padding-bottom: 1px;
	}

	.open-orders, .charts, .order-book, .mgt10, .order-list {
		margin-top: 0;
		margin-bottom: 6px;
	}
}

@media only screen and (max-width: 450px) {
	table tr td i.cancel-order {
		color: #d9534f;
		margin-left: 0;
	}
}

@media only screen and (max-width: 699px) {
	.menu-sidebar {
		display: none;
	}
}

.ui-tooltip {
	white-space: pre-line;
}

#account.exchange-body div.system-notifications {
	background-color: #E5FFDD;
	margin-bottom: 9px;
}
#account.exchange-body div.system-notifications.system-notifications-warning {
	background-color: #ffe6e6;
	margin-bottom: 9px;
}
#account.exchange-body div.system-notifications > div {
	padding: 6px 12px;
	font-size: 15px;
	text-align: center;
	color: #333333;
	font-weight: 400;
}
#account.exchange-body div.system-notifications a.close-system-notification {
	float: right;
	color: #0091d0;
}

@media only screen and (max-width: 768px) {
	.topchoice a {
		padding: 10px 0;
		margin: 0;
		display: block;
	}

	.topchoice .currentpatt {
		padding: 10px 0;
		margin: 0;
	}

	#inner-content-exchange {
		padding-bottom: 10px;
	}

	h2 {
		font-size: 18px;
	}
}

.trade-summary .trade-summary-mobile span {
	font-size: 14px;
	padding: 0;
}

@media only screen and (max-width: 360px) {
	.trade-summary .trade-summary-mobile span {
		font-size: 12px;
	}
}

#account.exchange-body #support {
	padding: 13px 20px 20px 0;
}
#account.exchange-body .logout-menu, #account.exchange-body .support-menu {
	top: 55px;
}
#account.exchange-body .logout-menu {
	right: 30px;
}
#account.exchange-body .support-menu {
	right: 180px;
}
#logout a.triangle::before, #support a.triangle::before {
	top: 45px;
}

#referralHowTo {
	margin-top: 12px!important;
}
@media screen and (max-width: 549px) {
	#referralHowTo {
		margin-top: 0!important;
		margin-bottom: 10px;
		width: 100%;
	}
}
.tablediv.referralInfo table tr th {
	min-width: 90px;
}

.aed-award-ico {
	background-color: currentColor;
	mask: url(../../images/AED-award.svg) no-repeat 100% 100%;
	-webkit-mask: url(../../images/AED-award.svg) no-repeat 100% 100%;
	width: 25px;
	height: 25px;
	display: inline-block;
	padding-top: 4px;
}

.referral-how-to-container {
	width: 100%;
	margin: 50px auto 0px auto;
	padding-bottom: 30px;
}
.referral-how-to {
	width: 100%;
	height: auto;
	min-height: 119px;
	margin-bottom: 25px;
	padding: 35px 100px 25px 120px;
	border-bottom: 1px solid #e3e8e9;
	margin-left: 10px;
}
.referral-how-to-one {
	background-image: url(../../images/one.png), url(../../images/referral-how-to-1.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 80px, 280px;
	padding-right: 290px;
}
.referral-how-to-two {
	background-image: url(../../images/two.png), url(../../images/referral-how-to-2.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 80px, 280px;
	padding-top: 25px;
	padding-right: 290px;
}
.referral-how-to-three {
	background-image: url(../../images/three.png), url(../../images/referral-how-to-3.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 80px, 350px;
	padding-right: 350px;
}
.referral-how-to-four {
	background-image: url(../../images/four.png), url(../../images/referral-how-to-4.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 80px, 280px;
	padding-right: 290px;
}
.referral-how-to-five {
	background-image: url(../../images/five.png), url(../../images/referral-how-to-5.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 80px, 150px;
	padding-right: 150px;
}
.referral-how-to-six {
	background-image: url(../../images/six.png), url(../../images/referral-how-to-6.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 80px, 150px;
	padding-right: 150px;
}

@media screen and (max-width: 1256px) {
	.referral-how-to {
		padding-top: 15px;
	}
}

@media screen and (max-width: 1023px) {
	.referral-how-to {
		padding-top: 5px;
	}
}

@media screen and (max-width: 800px) {
	.referral-how-to {
		padding-top: 0;
	}
	.referral-how-to-one {
		background-size: 80px, 200px;
		padding-right: 200px;
	}
	.referral-how-to-two {
		background-size: 80px, 200px;
		padding-right: 200px;
	}
	.referral-how-to-three {
		background-size: 80px, 300px;
		padding-right: 300px;
	}
	.referral-how-to-four {
		background-size: 80px, 200px;
		padding-right: 200px;
	}

}

@media screen and (max-width: 666px) {
	.referral-how-to {
		background-size: 40px;
		padding-left: 60px;
		padding-right: 0;
	}
	.referral-how-to-one {
		background-image: url(../../images/one.png);
	}
	.referral-how-to-two {
		background-image: url(../../images/two.png);
	}
	.referral-how-to-three {
		background-image: url(../../images/three.png);
	}
	.referral-how-to-four {
		background-image: url(../../images/four.png);
	}
	.referral-how-to-five {
		background-image: url(../../images/five.png);
	}
	.referral-how-to-six {
		background-image: url(../../images/six.png);
	}
}