/****** DEFAULTS ******/
body {
  font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  overflow-x:hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.account {
  color: #767676;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Droid Arabic Kufi', serif !important;
}
.clearfix{
  clear: both;
}
.app .app-content .tab-selector.mgb-0{
  display: inline-block;
}
.mgt-55{
  margin-top: 55px !important;
}
.mgt-35{
  margin-top: 35px !important;
}
.mgt-30{
  margin-top: 30px !important;
}
.mgt-25{
  margin-top: 30px !important;
}
.mgt-20{
  margin-top: 20px !important;
}
.mgt-18{
  margin-top: 18px !important;
}
.mgt-10{
  margin-top: 10px !important;
}
.mgt-5{
  margin-top: 5px !important;
}
.mgb-5{
  margin-bottom: 5px !important;
}
.mgb-10{
  margin-bottom: 10px !important;
}
.mgb-20{
  margin-bottom: 20px !important;
}
.mgb-30{
  margin-bottom: 30px !important;
}
.mgb-40{
  margin-bottom: 40px !important;
}
.mgt-50{
  margin-top: 50px !important;
}
.mgr-10{
  margin-right: 10px;
}
.mgr-20 {
  margin-right: 20px;
}
.mgl-10{
  margin-left: 10px;
}
.mgl-2p{
  margin-left: 2%;
}
#rtl .mgl-2p{
  margin-right: 2%;
}
.pdr-25{
  padding-right: 25px;
}
.pdl-25{
  padding-left: 25px;
}
#rt .pdr-25{
    padding-left: 25px;
}
#rt .pdl-25{
    padding-right: 25px;
}
.pdr7{
  padding-right: 7%;
}
.width10{
  width: 10%;
  float: left;
}
.maxWidth15{
  max-width: 15% !important;
}
.width20{
  width: 20%;
  float: left;
}
.width30{
  width: 30%;
  float: left;
}
.width40{
  width: 40%;
  float: left;
}
.width50{
  width: 50%;
  float: left;
}
.width59{
  width: 59%;
  float: left;
}
.mgr1{
  margin-right: 1% !important;
}
.width60{
  width: 60%;
  float: left;
}
.width70{
  width: 70%;
  float: left;
}
.width80{
  width: 80%;
  float: left;
}
.width85{
  width: 85%;
  float: left;
}
.width90{
  width: 90%;
  float: left;
}
.width94{
  width: 94%;
  float: left;
}
.width100{
  width: 100%;
  float: none;
}
.equals{
  margin-top: 20px;
  float: left;
}
#rtl .equals{
  margin-right: 3px;
  float: right;
}
.max-width-270{
  max-width: 270px;
  display: inline-block;
  float: left;
}
#snippet-- span .max-width-270{
    padding-right: 0;
}
@media (max-width: 1023px) {
  .stopscrolling {
  	visibility: hidden;
  	-webkit-transition: all 0.3s ease;
	  -moz-transition: all 0.3s ease;
	  -o-transition: all 0.3s ease;
	  -ms-transition: all 0.3s ease;
	  transition: all 0.3s ease;
  }
}

h1 {
  font-size: 38px;
  font-weight: 400;
  color: #0091d0;
}
h2 {
  font-size: 22px;
  font-weight: 400;
  color: #06457b;
}
h3 {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
.btn {
	font-weight: 300;
	min-width: 120px;
	font-size: 16px;
}
.btn.btn-icon {
	min-width: 20px;
	height: 25px;
	padding: 1px 5px;
	margin: 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
.chosen-container.chosen-container-single{
  max-width: 100%;
  width: 100%;
}
.btn-green-small {
	padding: 4px 5px 5px 5px !important;
	min-width: 80px !important;
	float: left;
	margin-left: 5px !important;
}

form label input[type=checkbox] {
	margin-right: 7px;
}
#addressRow{
  position: relative;
}
#newRecipient{
  position: absolute;
  top: -22px;
  right: 8px;
}
form label
.form-control-small {
	border-radius: 3px;
	padding: 5px;
	border: none;
	border: 1px solid #bdc3c7;
	float: left;
}
.btn-fb, .btn-blue {
	background-color: #3B5998;
	color: #fff;
	margin: 0px;
}
.btn-fb i, .btn-blue i {
	font-size: 23px;
	padding-right: 7px;
	display: inline-block;
	top: 2px;
	position: relative;
}
.btn-fb:hover, .btn-blue:hover {
	color: #fff;
}
.btn-fb-block {
	display: block;
	margin: 0px !important;
	font-size: 18px;
}
.sellButton{
  display: inline-block;
  margin-top: -12px;
  float: right;
}
#rtl .sellButton{
  float: left;
}
#info h1 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 28px;
    color: #1CC4A4;
    margin-top: 0px;
    margin-bottom: 20px;
}
#info h1.bigtitle {
  font-size: 58px;
  font-weight: 400;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
	#info h1.bigtitle {
  	font-size: 38px;
  }
}
#info h2 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #1CC4A4;
    margin-top: 30px;
    margin-bottom: 5px;
}
a {
  transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  -webkit-transition: 150ms ease-in-out;
  color: #2980b9;
  outline: 0;
}
a:hover {
  text-decoration: none;
  color: #0091d0;
}
.center {
  text-align: center;
}
.col-20 {
  padding: 0 15px;
}
.fl {
	float: left;
}
.fr, .frfl {
	float: right;
}
#rtl .frfl {
	float: left;
}
.mt-30 {
	margin-top: 30px;
}
.app .app-content h3.mt-30 {
	margin-top: 30px;
}
.tac {
	text-align: center;
}
.closediv {
	display: none !important;
}
.infoBoxOpacity{
  	width: 50%;
  	height: 50%;
  	background-color: white;
  	border-radius: 5px;
  	top: 15%;
  	position: relative;
  	padding: 0 20px;
  	left: 25%;
}
#rtl .infoBoxOpacity{
  right: 25%;
}
/* Icons */
[class^="ico-"], [class*=" ico-"] { 
  display: inline-block;
}
.ico {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.my-friends {
	font-size: 18px;
	position: absolute;
	left: 15px;
	top: 22px;
	color: #666;
	z-index: 50;
	background: url(../../images/icon-myfriends.png) no-repeat;
	background-size: 17px 16px;
	display: block;
	width: 17px;
	height: 16px;
}
.my-wallet {
	font-size: 18px;
	position: absolute;
	left: 15px;
	top: 22px;
	color: #666;
	z-index: 50;
	background: url(../../images/icon-wallet.png) no-repeat;
	background-size: 17px 16px;
	display: block;
	width: 17px;
	height: 16px;
}

/*** FORMS ***/
.submitButtonsubmitButton.pdr7 .btn{
  margin-left: 5px;
  float: right;
}
.submitButtonsubmitButton.pdr7 .btn:last-child{
  margin-left: 0;
}
.formLabel label{
  padding-top: 20px;
}
form input.form-control,
form button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  height: 50px;
  padding: 0 15px;
    margin: 15px 0;
}
#frm-form-saveDraft{
  margin-right: 10px;
}
#frm-phoneSetup-form-number, #frm-phoneSetup-form-code {
  min-width: 120px;
}
#homepage > form input.form-control {
  border: 3px solid #dddddd;
  margin-left: 0px;
}
#homepage input[type="email"] {
	margin-left: 0px;
	margin-right: 10px;
	font-weight: 300;
}
#homepage input[type="password"] {
	margin-left: 0px;
	font-weight: 300;
}
#account form input.form-control, #account form textarea.form-control, div#homepage-subscribe form input.form-control {
  margin-left: 0px;
}
#account form select.form-control {
	/* -webkit-appearance: none;
  background: url(../../images/arrowd.png) right no-repeat; */
  margin-left: 0px;
}
#account form textarea {
	border: 0 none;
	font-weight: 400;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 15px;
	border: 1px solid #bdc3c7;
	height: auto;
	margin: 5px;
	display: inline-block;
	border-radius: 3px;
}

#account #frm-note-form-submit {
	background-color: #0091d0;
	color: #fff;
	margin: 0px;
	border: none;
	border-radius: 3px;
	padding: 10px;
	font-size: 13px;
	margin-top: 25px;
}
#account #currencyToSend, #btcToSend{
  margin-right: 0;
}
#account .last-login {
	margin-top: -80px;
	font-size: 13px;
	color: #4d6368;
}
#account .last-login a {
	color: #4d6368;
}
.voucher-bank-details-full .btn.fr.btn-disabled,.voucher-bank-details-full .btn.fr.btn-green{
  margin: 5px;
}
form .btn.btn-gold {
  background-color: #0091d0;
  color: #fff;
  border: none;
  font-weight: 300;
}
#homepage .text-center {
	text-align: center;
	color: #ffffff;
}
#homepage .selficon {
	width: 100%;
	height: 85px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#homepage .selficoneasy {
	background: url(../../images/icon_easy.png) top center no-repeat;
}
#homepage .selficonprotect {
	background: url(../../images/icon_protect.png) top center no-repeat;
}
#homepage .selficonfraud {
	background: url(../../images/icon_fraud.png) top center no-repeat;
}
#homepage .selficontransparency {
	background: url(../../images/icon_transparency.png) top center no-repeat;
}
#homepage .selficonlegal {
	background: url(../../images/icon_legal.png) top center no-repeat;
}
#homepage .selficonlicensed {
	background: url(../../images/icon_licensed.png) top center no-repeat;
}
#homepage h1.main-message {
	font-size: 26px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	line-height: 160%;
}
#homepage #homepage-header-text {
	font-weight: 300;
	font-size: 20px;
	color: white;
	text-align: left;
	font-size: 20px;
	width: 65%;
	padding-bottom: 20px;
}
.header-application{
  	padding-top: 40px;
  	border-top: 2px #5c7f7a solid;
  	color: #fff;
  	text-align: left;
  	font-size: 20px;
}
.header-application p{
  	font-size: 20px;
  	line-height: 24px;
  	max-width: 280px;
  	margin-top: 4px;
}
#homepage #header-text-block h1 {
	width: 70%;
}
#homepage #header-text-block {
	padding-top: 40px;
}
#homepage #homepage-subscribe {
	padding-top: 150px;
}

#homepage #header-text-block {
	float: left;
	width: 48%;
}
#homepage #homepage-subscribe {
	float: right;
	width: 48%;
}

#homepage p.sub-message {
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 10px 0px;
	line-height: 200%;
}
.secondline {
	margin-top: 50px;
}
.btn {
	 transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  -webkit-transition: 150ms ease-in-out;
}
.btn:hover {
	opacity: 0.8;
}

/*** HEADER ***/

	header {
		background-position: center;
	}
@media only screen and (max-width: 1023px) {
	header {
	  width: 100%;
	  min-height: 505px;
	  background-image: url('../../images/bg-mobile.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  backface-visibility: hidden;
	}
	header p {
		color: #ffffff;
	}
}
@media only screen and (min-width: 1024px) {
	header {
	  width: 100%;
	  background-image: url('../../images/bg.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  backface-visibility: hidden;
	}
}
@media only screen and (min-width: 1200px) {
	header {
	  width: 100%;
	  background-image: url('../../images/bg.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  backface-visibility: hidden;
	}
}
@media only screen and (min-width: 1500px) {
	header {
      width: 100%;
	  background-image: url('../../images/bg.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  backface-visibility: hidden;
	}
}
@media only screen and (min-width: 1800px) {
	header {
		width: 100%;
		min-height: 650px;
	  /*background-image: url('../../images/bg-half.jpg');*/
	  background-size: cover;
	  background-repeat: no-repeat;
	  /*background-position: bottom;*/
	  backface-visibility: hidden;
	}
}
#info header {
	min-height: 107px;
	background: #204b44 url('../../images/bg-sub.jpg') no-repeat;
}
header .container {
	position: relative;
}
#account header {
  background: url('../../images/bg-sub.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 55px;
}
#account header #logo{
  display: block;
  background: none;
  padding: 29px 0px 20px 0px;
  width: 160px;
  float: left;
}
#account header #logo img{
  width: 80%;
}
#homepage header #logo {
  display: block;
  padding: 15px 10px 10px 10px;
  width: 100px;
  height: 63px;
  float: left;
  margin-bottom: 15px;
}
#info header #logo {
  display: block;
  width: 120px;
  height: 32px;
  float: left;
  background-size: 120px 32px;
  margin-top: 35px;
  margin-left: 20px;
}
#info header #logo img {
  display: none;
}
header #logo:hover {
  cursor: pointer;
}
#register {
	margin-left: 10px;
}
#login, #register  {
  display: block;
  background: #0091d0;
  padding: 10px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  width: 85px;
}
#logout, #support {
  display: block;
  padding: 10px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  position: relative;
}
@media (min-width: 992px){
  #logout a {
	display: block;
	height: 49px;
	padding: 5px 2px;
	margin-top: -5px;
  }
}
@media (min-width: 1200px){
  #logout a.triangle::before, #support a.triangle::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ffffff;
	left: 14px;
	top: 70px;
  }
  #homepage #logout a.triangle::before, #support #logout a.triangle::before {
	top: 70px;
  }
}
@media (max-width: 1200px) {
  #logout a, #support a {
	display: inline-block;
  }
  #logout a.triangle::before, #support a.triangle::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ffffff;
	left: 14px;
	top: 70px;
  }
  #homepage #logout a.triangle::before, #homepage #support a.triangle::before{
	top: 70px;
  }
}
@media (max-width: 970px) {
  #logout a.triangle::before, #support a.triangle::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ffffff;
	left: 14px;
	top: 70px;
  }
  #homepage #logout a.triangle::before, #homepage #support a.triangle::before {
	top: 70px;
  }
}
#lang {
  display: block;
  background: none;
  padding: 10px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  width: 85px;
}
#lang a  {
  color: #fff;
}
#lang a:hover, #login:hover  {
  opacity: 0.0;
  text-align: right;
}
#logout img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
#logout a {
  color: #ffffff;
  outline: 0;
}
#logout a:hover {
  text-decoration: underline;
}
.logout-menu, .support-menu {
  background: #ffffff;
  height: auto;
  position: absolute;
  top: 80px;
  right: 110px;
  z-index: 100;
  padding: 0px 20px 9px 20px;
  border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 1px 3px 8px #dadedf;
    -webkit-box-shadow: 1px 3px 8px #dadedf;
    box-shadow: 1px 3px 8px #dadedf;
  display: none;
}
#ltr .support-menu {
	right: 220px;
}
#rtl .support-menu {
	right: -45px;
}
.logout-menu a:first-child, .support-menu a:first-child {
  padding-top: 15px;
}
.logout-menu a, .support-menu a {
  color: #777777;
  display: block;
  font-size: 13px;
  padding: 5px 0px 5px 0px;
  outline: 0 !important;
}
.logout-menu a:hover, .support-menu a:hover {
  color: #32c0a8;
  outline: 0;
}
.logout-menu a:visited, .support-menu-menu a:visited {
  outline: 0;
}
.logout-menu a.active, .support-menu a.active {
  outline: 0;
}
.logout-menu-block, .support-menu-block {
  display: block;
  outline: 0;
  z-index: 50;
}
.logout-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 45;
  background-color: transparent;
}
#homepage .logout-menu, #homepage .support-menu {
  background: #ffffff;
  height: auto;
  position: absolute;
  top: 80px;
  right: 110px;
  z-index: 100;
  padding: 0px 20px 9px 20px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 2px 3px rgba(0,0,0, 0.1);
}
#ltr #homepage .support-menu {
	right: 220px;
}
#rtl #homepage .support-menu {
	right: -50px;
}
#homepage .logout-menu a:first-child, #homepage .support-menu a:first-child {
  padding-top: 15px;
}
@media (max-width: 767px) {
  #login, #register {
  	clear: both;
  	margin-top: 10px;
  	margin-left: 0px;
  	width: 100%;
  }
  #homepage header #logo {
	display: block;
	background: none;
	padding: 20px 0px 20px 0px;
	width: 160px;
	float: left;
  }
}

@media (max-width: 459px) {
	.center-mobile {
  	text-align: center;
  }
}
header a.takeme {
		margin: 30px 0px 30px 0px !important;
	}
@media (max-width: 768px) {
  a.takemetwo {
		margin: 30px 0px 30px 0px !important;
	}
}
@media (min-width: 769px) {
  a.takemetwo {
		display: none !important;
	}
}
header #desktop-login {
	display: none;
}
#mobile-login {
	text-align: center;
	clear: both;
	margin-top: 70px;
}
a.lang {
	margin-top: 39px;
	margin-left: 48px;
	color: #0091d0;
	font-size: 16px;
	display: inline-block;
}
a.lang-ar {
	margin-top: 19px;
	margin-left: 0px;
	color: #0091d0;
	font-size: 16px;
	display: inline-block;
}
a.lang:hover {
	color: #ffffff;;
}
a.lang-ar:hover {
	color: #ffffff;;
}
span.lang-line {
	color: #0091d0;;
}
#mobile-login a#register, #mobile-login a#login  {
	display: inline-block;
	width: auto;
	clear: none;
	border-radius: 5px 5px 5px 5px !important;
	-moz-border-radius: 5px 5px 5px 5px !important;
	-webkit-border-radius: 5px 5px 5px 5px !important;
	padding: 10px 0px 10px 0px;
	width: 106px;
	text-align: center;
	margin: 0px 5px 0px 5px;
}
#login:hover, #register:hover {
  background: rgba(7,178,155,.7);
}
header #current-buy {
  text-align: right;
  font-size: 13px;
  padding: 14px 0 20px 0;
  margin-top: 66px;
  color: #ffffff;
}
#account header .caret {
	border-top: 4px solid #fff;
}
#account header #current-buy {
  color: #ffffff;
}
#info header #current-buy {
  color: #ffffff;
}

/* MENU */
.menu-ico {
  display: block;
}
.menu-ico {
  display: block;
  padding-top: 5px;
  padding-bottom: 1px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  width: 40px;
  z-index: 1000;
  position: absolute;
  right: 20px;
  top: 12px;
}
#account .menu-ico {
  border: 1px solid #ffffff;
}
.menu-ico i {
  display: none;
}
.menu-ico span {
  display: block;
  margin: 0 5px 4px 5px;
  background: #ffffff;
  height: 3px;
}
#account .menu-ico span {
  background: #ffffff;
}
#topmenu {
  padding-top: 0px;
  right: -100%;
  top: 0;
  position: fixed;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  background: rgba(0,40,35, 1);
  z-index: 10;
  height: 100% !important;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#topmenu.menu {
  right: 0px;
}
#topmenu .mobileslide {
	background: rgba(0,40,35, 1);
	display: block;
	padding-bottom: 0px;
	height: 100%;
}
#topmenu .menuprice {
	margin: 20px 47px 0px 47px;
	background: #195c51;
	border-radius: 5px 5px 5px 5px;
	padding: 8px;
	text-align: center;
	color: #ffffff;
	font-weight: 500;
}
#topmenu .menufollow {
	margin: 20px 47px 0px 47px;
	padding: 8px 0px 50px 0px;
	text-align: center;
	color: #ffffff;
	font-weight: 500;
}
#topmenu .menufollow a {
	color: #ffffff;
	padding: 0px 5px 0px 5px;
}
#topmenu .menufollow i {
	font-size: 30px;
	margin-top: 0px;
	color: #ffffff;
}
#topmenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 5px 47px 5px 47px;
  margin-top: 20px;
}
#topmenu ul li {
  padding: 4px 0px;
  border-bottom: 1px solid #0c332c;
  text-align: left;
}
#topmenu ul li.dropdown {
  padding: 0px 0px;
}
#topmenu ul li a {
  color: #ffffff;
  font-size: 15px;
}
#desktop-topmenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-top: 20px;
}
#desktop-topmenu ul li {
	list-style: none;
	list-style-image: none;
	display: inline;
}
#desktop-topmenu ul li a {
  color: #ffffff;
  font-size: 15px;
}
#account header #topmenu ul li a {
  color: #ffffff;
}
#info header #topmenu ul li a {
  color: #ffffff;
}
#topmenu ul li a:hover {
  text-decoration: underline;
}

/* Header form */
header .container .content {
	text-align: center;
}
header form input.form-control {
  width: 220px;
}
header h1 {
  color: #20564c;
  font-size: 25px;
  padding: 0px 10px 0px 10px;
}
header p {
  font-size: 17px;
  /*padding: 25px 20px 40px 20px;*/
  font-weight: 300;
  line-height: 150%;
}

/**** Content ****/
.content {
	padding-bottom: 0px;
}

/*** Section defaults ***/
section {
  position: relative;
  z-index: 1;
}
#account section {
  position: relative;
  z-index: 1;
  padding: 0px 0px 60px 0px;
}
.my-friends-fb {
	float: right;
}
h3.my-friend-title {
	float: left;
	margin-top: 10px !important;
}

/*** SECURITY section ***/
section#security .container > h2 {
	color: #0091d0;
	font-size: 33px;
	font-weight: 300;
	padding-bottom:40px;
	text-align: center;
}
section#security {
  background: #fff;
  text-align: center;
}
section#security .col-md-4 {
  margin-bottom: 40px;
}
section#security .ico-bank-level,
section#security .ico-offline,
section#security .ico-encrypted { 
  height: 64px;
  background: url(../../images/security.png) no-repeat;
  margin-bottom: 40px;
}
section#security .ico-bank-level {
  width: 47px;
}
section#security .ico-offline {
  width: 64px;
  background-position: -115px 0;
}
section#security .ico-encrypted {
  width: 52px;
  background-position:  -247px 0;
}
section#security p {
	margin-top: 25px;
	margin-right: 40px;
	font-weight: 300;
	font-size: 19px;
}
section#security li {
	margin-right: 40px;
}

/*** ABOUT section ***/
#why-buy-bitcoin .col-md-4 {
	margin: 0px 0px 0px 0px;
	padding-bottom: 30px;
}
#why-buy-bitcoin h2.whybuy {
	margin: 0px 0px 60px 0px;
	padding: 0px 0px 0px 0px;
}
#why-buy-bitcoin .whyicon {
	width: 103px;
	height: auto;
	margin: 0px auto 20px auto;
	padding: 0px 0px 0px 0px;
}
#why-buy-bitcoin p {
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	text-align: center;
	font-weight: 300;
	font-size: 19px;
}

#wallet-application{
  background: #27b29b url(../../images/background_application.jpg) center no-repeat ;
}
#wallet-application p{
  color: #fff;
  font-size: 28px;
  line-height: 33px;
  max-width: 240px;
  margin-right: auto;
  margin-left: auto;
}
#wallet-application p .bigger{
  font-size: 36px;
  line-height: 42px;
}

/*** ABOUT section ***/
section#about {
	width: 100%;
  padding: 85px 0;
  background: white url(../../images/homepage-bg-mid.jpg) bottom no-repeat ;
  padding-top: 60px;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 537px;
}
section#about strong {
  color: #2a5968;
  font-size: 38px;
  font-weight: 400;
}
section#about p {
  padding: 0;
  margin: 10px 0;
  line-height: 125%;
  color: white;
}
section#about a {
	background-color: #fff;
	border: 1px white solid;
  	font-weight: 400;
	padding: 10px 18px;
  	color: #06457b;
}
section#about .content {
	width: 60%;
	text-align: right;
}
section#about .content h2 {
	color: #fff;
	font-size: 33px;
	font-weight: 300;
}
section#about .content p {
	width: 100%;
	line-height: 25px;
	font-weight: 300;
	padding-left: 3px;
	font-size: 19px;
}
/*** WHY buy bitcoin section ***/
section#why-buy-bitcoin {
  /* background: #F9F9F9;border-bottom: 1px solid #F1F1F1; */
  background: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
section#why-buy-bitcoin .content{
	padding-bottom:0px;
}
section#why-buy-bitcoin .content h2.whybuy {
  color: #0091d0;
  font-size: 33px;
  font-weight: 300;
	text-align: center;
	padding-bottom:0px;
	margin-bottom: 30px;
}
/*Buy Bitcone*/
#fiatAmount{
  width: 210px;
}
#currency, #toCurrency{
  width: 81px;
}
.app-content .redeem-first form label, .app-content .redeem-first form label.frm-form-amount{
  width: 20%;
  max-width: 20%;
}
#frm-form-address-city{
  max-width: 33%;
}
#frm-form-address-zip{
  max-width: 29%;
  width: 28.5%;
  margin-right: 1%;
}
#frm-form-name-attachments, #frm-form-name-visaAttachments{
  max-width: 100%;
  width: 100%;
}
/*** SECURE section ***/
section#secure {
	height: 640px;
  background: #fcfcfc;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 100px;
}
section#secure strong {
  color: #2980b9;
  font-size: 38px;
  font-weight: 400;
}
section#secure p {
  padding: 0;
  margin: 10px 0;
  line-height: 125%;
}
section#secure .content {
	padding: 30px 0px 90px 0px;
  background: url(../../img/bg/secure-monitor.png) top right no-repeat;
}
section#secure .content h2 {
	color: #0091d0;
	font-size: 38px;
	font-weight: 400;
}
section#secure .content p {
	width: 400px;
	line-height: 40px;
}


/*** homereferences section ***/
section#homereferences {
	text-align: center;
}

section#homereferences p {
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 0px 10px;
	text-align: center;
	font-weight: 300;
	font-size: 19px;
}

#homereferences a {
	margin: 40px 20px 0 20px;
	height: 74px;
	display: inline-block;
}
#homereferences a img {
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
#homereferences a:hover img {
	opacity: 1;
}

/*** HOMEMULTISIG section ***/
section#homemultisig {
	text-align: center;
	min-height: 657px;
}
section#homemultisig h2.homemultisig {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 33px;
	font-weight: 300;
	text-align: center;
}
section#homemultisig p.multiperex {
	margin: 0px 0px 60px 0px;
	font-weight: 300;
}
section#homemultisig .homemulticon {
	width: 147px;
	height: auto;
	margin: 0px auto 20px auto;
	padding: 0px 0px 0px 0px;
}
section#homemultisig p {
	margin: 0px 0px 0px 0px;
	padding: 5px 10px 0px 10px;
	text-align: center;
	font-weight: 300;
	font-size: 19px;
}
section#homemultisig .col-md-4 {
	margin-bottom: 40px;
}

/*** MULTISIG section ***/
section#multisig {

}
section#multisig .row {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #f1f1f1;
}
section#multisig .iconpic {
	text-align: center;
}
section#multisig .iconpic img {
	width: 130px;
}
section#multisig .icontext {
}
section#multisig .icontext p.padone {
	padding-top: 50px;
}
section#multisig .icontext p.padtwo {
	padding-top: 35px;
}

@media (max-width: 1023px) {
	section#multisig .icontext {
		text-align: center;
	}
	section#multisig .icontext ul {
		list-style-position: inside;
	}
	section#multisig .icontext p.padone {
		padding-top: 10px;
	}
	section#multisig .icontext p.padtwo {
	padding-top: 10px;
}
}

/*** HOWTOBUYBITCOIN section ***/
section#howtobuy {

}
section#howtobuy .row {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ffffff;
}
section#howtobuy .row .how-login {
	height: 200px;
	background: url(../../images/how-login.png) no-repeat;
	background-size: 1170px;
	text-align: center;
	padding-top: 20px;
}
section#howtobuy .row .how-transfer {
	height: 200px;
	background: url(../../images/how-transfer.png) no-repeat;
	background-size: 1170px;
	text-align: center;
	padding-top: 20px;
}
section#howtobuy .row .how-buy {
	height: 200px;
	background: url(../../images/how-buy.png) no-repeat;
	background-size: 1170px;
	text-align: center;
}
section#howtobuy h2.howto {
	width: 250px;
	margin: 0px auto 0px auto;
	padding: 20px 0px 10px 0px;
	font-size: 30px;
	border-bottom: 1px solid #f1f1f1;
}
section#howtobuy .howtotext {
	width: 450px;
	margin: 10px auto 0px auto;
}
@media (max-width: 459px) {
	section#howtobuy .howtotext {
		width: auto;
		margin: 10px auto 0px auto;
	}
	section#howtobuy .row .how-login {
		padding-top: 0px;
		height: auto;
	}
	section#howtobuy .row .how-transfer {
		padding-top: 0px;
		height: auto;
	}
	section#howtobuy .row .how-buy {
		padding-top: 0px;
		height: auto;
	}
}
@media (max-width: 1169px) {
	section#howtobuy .row .how-login {
		background: none;
	}
	section#howtobuy .row .how-transfer {
		background: none;
	}
	section#howtobuy .row .how-buy {
		background: none;
	}
}

/*** FOOTER ***/
footer {
  background: #fcfcfc;
  padding: 45px 0;
  font-size: 13px;
  border-top: 1px solid #f1f1f1;
}
footer h3 {
  color: #cccccc;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
}
footer nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer nav ul li a {
  color: #333333;
  font-size: 16px;
}
footer nav ul li a:hover {
  text-decoration: underline;
}
footer span.fa {
	display:inline-block;
	width:14px;
	color:#AAA;
	align:center;
}
footer .logo {
  clear: both;
  padding-top: 40px;
  text-align: center;
}
.col-md-2.logo.hidden-on-mobile{
  float: right;
}
footer .logo img {
  width:75px;
  margin-bottom:10px;
  margin-right: 5px;
}
#info section {
	background-color: #FFF;
}
#info footer {
	border-top: 1px solid #f1f1f1;
}
#info footer {
	background: #fcfcfc;
}
footer .address span, footer .address div {
	float: left;
}
footer .address span {
	margin-top: 3px;
}
footer .address div {
	margin-left: 7px;
}

/************ STYLES IN ACCOUNT ***********/

.youtube iframe {
	width: 100%;
	height: 230px;
 }
.circlee {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	top: 17px;
	left: 13px;
	border: 1px solid #000000;
	border-radius: 50%;	
}
.fullWidth{
  width: 100%;
}
.fullWidth::after{
  clear: both;
  content: " ";
  display: block;
}
table#deposit {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-collapse: separate; 
}
table#deposit tr {
	display: block;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
}
table#deposit tr td.tdleft {
	background: #f1f1f1;
	vertical-align: middle;
	padding: 5px 15px 5px 15px;
	border: 1px solid #f1f1f1;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}
table#deposit tr td.tdright {
	border: 1px solid #f1f1f1;
	vertical-align: middle;
	padding: 5px 15px 5px 15px;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
}
table.compliance-dashboard th, table.compliance-dashboard td {
	padding-left: 10px;
}
table.compliance-dashboard tr td.tdleft {
	vertical-align: top;
}
table.vouchers-summary td {
	padding-top: 10px;
}
table.vouchers-summary .tdleft {
	max-width: 150px;
}
table.table {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-collapse: separate;
	border-spacing: 0px 5px; 
}
table.table tr td:first-child, table.table tr th:first-child {
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}
table.table tr td:last-child, table.table tr th:last-child {
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
}
table.table tr td img {
  border-radius: 50%;
}
table.table tr td.actionColumn {
	width: 14%;
}
table.table tr.red td {
	color: red;
}
.lastlogin {
  float: right;
  padding: 15px 0;
  cursor: default;
}
#homepage-subscribe {
	font-size: 22px;
	width: 400px;
	padding: 15px;
}
#homepage-subscribe .error {
	font-size: 12px;
	margin-top: -40px;
}
div#homepage-subscribe {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 100%;
}
header div#homepage-subscribe form input.form-control {
	max-width: 280px;
}
#exchangeResult{
  margin-top: 18px;
  display: inline-block;
  margin-left: 13px;
}
#homepage-subscribe  span {
	font-size: 14px;
	position: relative;
	top: -6px;
}
@media (max-width: 767px) {
	a#homepage-subscribe {
		width: 250px;
	}
	div#homepage-subscribe {
		width: 250px;
	}
}
#account p.lock {
	margin: 0px 0px 20px 0px;
	padding: 5px 0px 5px 22px;
	background: url(../../images/icon-lock.png) 0px 2px no-repeat;
	color: #a7a7a7;
	font-weight: 400;
	font-size: 16px;
}
#account .send-bitcoins-title {
	float: left;
	margin-top: 11px;
	margin-bottom: 11px;
}

a div.unconfirmed {
	font-size: 84%;
}
#account .send-bitcoins-balance {
	float: right;
}

#account .qrcode {
	margin: 25px 25px 25px 0;
	float: left;
	width: 256px;
	height: 256px;
}
#account .qrcode.qrcode-small {
	width: 150px;
	height: 150px;
}
#account .bitcoin-address {
	float: left;
	margin: 25px;
}
#account .payment-request {
	float: left;
	margin: 0 25px;
}
#account form#frm-quickSend-form {
	float: right;
}
.chosen-container-single .chosen-single div {
	width: 19px !important;
}
#bitcoin-address {
	margin-top: 44px;
}

#account .pre-deposit-info {
	margin-bottom: 30px;
}
#account .deposit-info #bitcoin-address{
	margin-top: 0px;
}
#account .deposit-info-logo-and-qrcode{
	margin-top: 25px;
	margin-right: 45px;
	float:left;
}

/***** Dashboard ******/


.dashtabs {
	/* border-bottom: 1px solid #e7e7e7;
	padding-bottom: 10px; */

	float: left;
	margin-top: 11px;
	margin-bottom: 11px;
}
.app .app-content .tab-selector { 
	/* cursor: pointer; */
	display: inline;
	margin-right: 20px;
	margin-bottom: 0px;
	font-size: 22px;
	color: #8f8f8f;
}
.app .app-content .tab-selector:hover { 
	color: #0091d0;
}
.app .app-content .tab-selected {
	padding-bottom: 8px;
	/* border-bottom: 2px solid #1CC4A4; */
	color: #0091d0;
}
.app .app-content .seq-flash {
	padding: 10px 20px 20px 20px;
	background: #e4f7f5;
	color: #007263;
	font-size: 14px;
	border-radius: 5px;
	margin: 30px 0px 0px 0px;
}
.app .app-content .seq-flash .close {
	opacity: 0.8;
}
.app .app-content .seq-flash .fa {
	font-size: 20px;
	color: #007263;
}
.app .app-content .seq-flash-message {
	margin-top: 10px;
}
.app .app-content .seq-flash a {
	font-weight: bold;
	text-decoration: underline;
}
.fancyframe .fancyframe-wrap {
	padding: 15px;
}
.fancyframe img {
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}
.fancyframe h3 {
	color: #0091d0;
	padding-bottom: 15px;
}
.fancyframe p {
	padding-bottom: 15px;
}
.fancybox-close {
  position: absolute;
  top: 10px;
  right: -3px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  background: url(fancy-close.png) no-repeat;
}
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


/**** First version of send steps ***/

#account .sendsteps {
	width: 315px;
	height: 76px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
}
#account .sendsteps .send-step-one {
	width: 55px;
	height: 76px;
	margin: 0px 0px 0px 0px;
	padding: 56px 0px 0px 0px;
	background: url(../../images/step-1.png) no-repeat;
	color: #a7a7a7;
	font-size: 10px;
	float: left;
	text-align: right;
}
#account .sendsteps .active-one {
	background: url(../../images/step-1-active.png) no-repeat;
	color: #0091d0;
}
#account .sendsteps .send-step-two {
	width: 130px;
	height: 76px;
	margin: 0px 0px 0px 0px;
	padding: 56px 0px 0px 0px;
	background: url(../../images/step-2.png) no-repeat;
	color: #a7a7a7;
	font-size: 10px;
	float: left;
	text-align: right;
}
#account .sendsteps .active-two {
	background: url(../../images/step-2-active.png) no-repeat;
	color: #0091d0;
}
#account .sendsteps .send-step-three {
	width: 130px;
	height: 76px;
	margin: 0px 0px 0px 0px;
	padding: 56px 0px 0px 0px;
	background: url(../../images/step-3.png) no-repeat;
	color: #a7a7a7;
	font-size: 10px;
	float: left;
	text-align: right;
}
#account .sendsteps .active-three {
	background: url(../../images/step-3-active.png) no-repeat;
	color: #0091d0;
}

/**** Second version of send steps ***/
#account .app-content .send-bitcoins {
	float: left;
	width: 540px;
	border-right: 1px solid #e8eeef;
	padding-right: 50px;
}
#account .multisig-account-steps {
	width: 230px;
	height: 180px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
	font-size: 12px;
}
@media (max-width: 1200px) {
	#account .multisig-account-steps {
		width: 115px;
		margin-right: -19px;
	}
	#account .multisig-account-steps div.multisig-step {
		padding-right: 40px;
		font-size: 11px;
	}
}
@media (max-width: 991px) {
	#account .multisig-account-steps {
		display: none;
	}
}
#account .multisig-account-steps h5 {
	text-align: right;
	font-weight: 300;
	padding-right: 5px;
	font-size: 16px;
	padding-bottom: 5px;
}
#account .multisig-account-steps span.icon-info {
	background: url(../../images/icon-info.png) center no-repeat;
	padding: 0px 7px 0px 7px;
	cursor: default;
}
#account .multisig-account-steps .multisig-step {
	width: 190px;
	height: 57px;
	margin: 0px 0px 0px 0px;
	padding: 30px 50px 0px 0px;
	float: right;
	font-size: 12px;
	text-align: right;
}
#account .multisig-account-steps .multisig-step .ui-tooltip {
  font: normal 11px "Helvetica Neue", Sans-Serif !important;
}
#account .multisig-account-steps .step-o {
	background: url(../../images/sendstep-o.png) right bottom no-repeat;
	padding: 21px 50px 0px 0px;
	height: 37px;
}
#account .multisig-account-steps .step-o-active {
	background: url(../../images/sendstep-o-active.png) right bottom no-repeat;
	padding: 21px 50px 0px 0px;
	height: 37px;
}
#account .multisig-account-steps .step-tw {
	background: url(../../images/sendstep-tw.png) right no-repeat;
}
#account .multisig-account-steps .step-bitoasis {
	background: url(../../images/sendstep-tw.png) right no-repeat;
}
#account .multisig-account-steps .step-bitoasis.active {
	background: url(../../images/sendstep-tw-active.png) right no-repeat;
}
#account .multisig-account-steps .step-tw-active {
	background: url(../../images/sendstep-tw-active.png) right no-repeat;
}
#account .multisig-account-steps .step-th {
	background: url(../../images/sendstep-th.png) right no-repeat;
}
#account .multisig-account-steps .step-th-active {
	background: url(../../images/sendstep-th-active.png) right no-repeat;
}
#account .multisig-account-steps .step-f {
	background: url(../../images/sendstep-f.png) right no-repeat;
}
#account .multisig-account-steps .step-f-active {
	background: url(../../images/sendstep-f-active.png) right no-repeat;
}

/******* BORDER RADIUS FOR ALL ELEMENTS ********/

.app-content {
	border-radius: 0px 3px 3px 3px;
	-moz-border-radius: 0px 3px 3px 3px;
	-webkit-border-radius: 0px 3px 3px 3px;
}
.app-sidebar ul li a {
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}
.btn, .form-control, .app-content span, form .error {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}
.nav-tabs li a {
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
}
#account header #topmenu ul li ul, #homepage header #logo, #info header #logo {
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
}
.ui-progressbar {
	background: #ffffff;
	width: 100px;
	height: 10px;
}
.ui-widget-content, .ui-widget-header {
	border: none;
}


/********** FLASHES ************/
#snippet--flashes {
    position: fixed;
    z-index: 2;
    top: 71px;
    width: 100%;
    text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.ui-tooltip {
	font-size: 14px;
}

/********** OTHERS STYLES **********/

.paymentrequest {
	padding: 40px 40px 0px 40px;
	text-align: center;
}
.paymentrequest h3 {
	color: #0091d0;
	font-size: 43px;
	font-weight: 300;
	text-align: center;
	padding-bottom:30px;
}
.paymentrequest .qrcode {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.paymentrequest .qrcode img {
	display: inline !important;
	background: #ffffff;
	padding: 15px;
	border-radius: 3px;
}

@media (max-width: 459px) {
	.paymentrequest {
		padding: 40px 20px 0px 20px;
		text-align: center;
	}
	.receivingadd {
		font-size: 13px;
	}
}

#tags span span {
	margin-right: 3px;
}
#tags span.fa.fa-times-circle {
	margin-left: 3px;
}


/********* TOOLTIPS ***********/
.ui-tooltip, .arrow:after {
  background: #eef2f3;
  border: 1px solid #bdc3c7 !important;
}
.ui-tooltip {
  padding: 10px 20px;
  color: #646464;
  border-radius: 20px;
  font: normal 12px "Helvetica Neue", Sans-Serif;
  text-transform: none;
  box-shadow: 0 0 0px black;
  border: 1px solid #bdc3c7 !important;
  line-height: 160%;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  /* box-shadow: 6px 5px 9px -9px black; */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
.entry {
  position: relative;
  right: -200px;
  width: 500px;
}
.entry-tooltip-positioner {
  position: fixed !important;
  left: -130px !important;
}

/******* TABLES *********/
table.table tr td, table.vertical-table tr td {
	border: none;
	background-color: #eef2f3;
	color: #666;
	padding: 8px 15px 8px 15px;
	vertical-align: middle;
	height: 56px;
}
table.table-striped tr td {
	height: auto !important;
}
#snippet--recipients.table tr td:last-child {
	text-align: center;
}
#frm-send-form-newRecipient{
  	margin-top: 29px;
}
#newRecipient label{
  	margin-right: 0;
}
table.table tr td a.ajax {
	color: #797979;
	font-weight: bold;
	display: block;
	right: 0px;
}
table.table tr.with-image td img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
table.table tr td img.my-friends-photo {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
table.table tr td span.paginator a.ajax {
	display: inline;
}
table.table tr td.actions a.ajax {
	display: inline;
}
.app-content table, .app-content tbody {
  width: 100%;
}
table tr td div.hr {
	border-top: 1px solid #bdbdbd;
	margin-top: 20px;
	width: 100%;
}

.table-list {
	border-collapse: separate;
}

.table-list tr:not(:first-of-type):hover td {
	background: #e1ece8;
}

.table-list tr th:first-of-type,
.table-list tr td:first-of-type {
	padding: 9px 15px;
}

.table-list tr:first-of-type th {
	background: #0091d0;
	color: #FFFFFF;
	font-weight: bold;
	vertical-align: middle;
}

.table-list tr:not(:first-of-type) td {
	background: #eff5f3;
	border-top: 5px solid #FFFFFF;
	font-size: 14px;
}

.table-list tr:last-of-type td {
	border-bottom: 5px solid #FFFFFF;
}

.table-list tr:not(:first-of-type) td:not(:first-of-type) {
	color: #303030;
}

.table-list > table.table {
	border-spacing: 0px;
}

.table-list > table.table tr th {
	border-radius: 0;
	line-height: 13px;
}

.table-list > table.table tr td {
	border-radius: 0px;
	color: #333333;
	font-size: 100% !important;
	padding: 10px 15px;
	height: auto;
}

/******** OTHERS *********/
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 50px;
	border: 1px solid #bdc3c7 !important;
	border-radius: 3px !important;
	background: #fff !important;
	background-clip: padding-box;
	box-shadow: none !important;
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 40px;
	/* padding-top: 12px; */
}

/**************** VOUCHERS *****************/

.topchoice {
	width: 100%; 
	text-align: left;
	font-size: 15px;
	border-bottom: 1px #e7e7e7 solid;
	margin-bottom: 10px;
	padding-bottom: 0;
}
.topchoice a {
	margin: 15px 40px -2px 0px;
	color: #8f8f8f;
	line-height: 21px;
    display: inline-block;
    padding-bottom: 17px;
}
.topchoice a#show-how-to {
	float: right;
	border: none;
	font-weight: lighter;
}
#rtl .topchoice a#show-how-to {
	float: left;
}
html#rtl .topchoice a {
	margin-right: 20px;
}
.topchoice a:hover {
	color: #32c0a8;
}
.topchoice .currentpatt {
	color: #32c0a8;
	border-bottom: 3px solid #32c0a8;
	padding-bottom: 15px;
	font-weight: 600;
}
.topchoice .currentpatt:hover {
	color: #32c0a8;
}
.voucher-steps {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}
.voucher-steps p {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	width: 150px;
}
.voucher-steps p::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 7px;
	height: 2px;
	background: #e4e4e4;
	z-index: 1;
}
.voucher-steps p.firstchild::before {
	width: 50px;
	display: none;
}
.voucher-steps p.secondchild::before {
	width: 115px;
	right: 92px;
	left: auto;
}
.voucher-steps p.thirdchild::before {
	width: 115px;
	right: 92px;
	left: auto;
}
.voucher-steps p.thirdchild::after {
	width: 50px;
	content: "";
	position: absolute;
	top: 17px;
	right: 8px;
	height: 2px;
	background: #e4e4e4;
	z-index: 1;
	display: none;
}
.voucher-steps p i {
	font-style: normal;
	border: 1px solid #e2e2e2;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: block;
	text-align: center;
	line-height: 33px;
	margin: 0px auto 0px auto;
	z-index: 100;
	background: #ffffff;
}
.voucher-steps p span {
	display: block;
	font-size: 14px;
	z-index: 100;
}
.voucher-steps p.active i {
	background: #0091d0;
	border: none;
	color: #ffffff;
}
.voucher-steps p.active span {
	color: #0091d0;
}
.voucher-steps p.active::before {
	background: #0091d0;
}
.voucher-steps p.active::after {
	background: #0091d0;
}
#snippet-- {
	/*
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
  */
}
#snippet-- span {
	padding-right: 20px;
}
form.form-voucher input[type="text"] {
	width: 30%;
}
form.form-voucher input.firstname {
	margin-right: 20px;
}
#rtl form.form-voucher input.firstname {
	margin-left: 20px;
	margin-right: 0;
}
#rtl .topchoice{
  text-align: right;
}
form.form-voucher select {
	width: 240px;
}
form.form-voucher .selectinfo {
	font-size: 10px;
	padding-left: 13px;
	color: #0091d0;
}
form.buy-bitcoins #toCurrency {
	margin-right: 0;
	float: right;
}
form.buy-bitcoins #toAmount {
	float: left;
	margin-top: 20px;
	font-weight: 400;
	min-width: 140px;
	text-align: right;
}
#rtl form.buy-bitcoins #toCurrency {
	float: left;
}
#rtl form.buy-bitcoins #toAmount {
	float: right;
	text-align: left;
}
.snippet-second {
	margin-top: 45px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 45px;
}
.snippet-second .short {
	width: 151px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 10px;
}
.tablediv {
	background: #f3f3f3;
	border-radius: 5px;
	padding: 20px;
	color: #646464;
	font-size: 14px;
	position: relative;
}
.tablediv.info {
	background-color: #e4f7f5;
	color: #1d8376;
}
.tablediv.info p {
	margin: 0;
}
.borderedtable {
	border: 1px solid #bdbdbd;
}
.borderedtable.info {
	border-color: #32c0a8;
}
.tabledivshort {
	width: 60%;
}
.tablediv .tdleft {
	font-weight: bold;
	padding-right: 10px;
}
.tablediv .tdright {
   word-break: break-word;
}
.tablediv .tdright {
  word-break: break-word;
}
.tablediv.fullWidthInputs input:not([type="checkbox"]), .tablediv.fullWidthInputs textArea, .tablediv.fullWidthInputs select {
	width: 100%;
}
table{
  word-break: break-word;
}
#snippet--invitationRequests tbody, #snippet-users-grid #users tbody, #snippet-tickets-grid tbody,
.col-sm-9.app-content tbody{
	display: table-header-group;
}
table td{
  min-width: 40px;
}
.voucher-bank-details {
	width: 60%;
	float: left;
	text-align: left;
	font-size: 14px;
}
.voucher-bank-details-full {
	width: 100%;
	text-align: left;
	font-size: 14px;
}
#rtl .voucher-bank-details-full {
	text-align: right;
}
.snippet-second .tocomplete {
	font-size: 13px;
	margin-bottom: 25px;
}
.snippet-second .underto {
	font-size: 15px;
	font-weight: 600;
}
.voucher-order-details {
	width: 35%;
	float: right;
	text-align: left;
	font-size: 14px;
}
.voucher-order-details strong {
	font-size: 18px;
	color: #636363;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}
.vouchersecondstep h3 {
	font-size: 14px !important;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 7px;
}
h3.voucherh3 {
	font-size: 14px !important;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 7px;
	color: #535353 !important;
}
.snippet-completed {
	margin-top: 45px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 45px;
}
.snippet-completed p {
	font-size: 14px;
}
.snippet-completed p.bolded {
	font-size: 15px;
	font-weight: 600;
}
.redeem-first, .voucher-first {
	margin-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 45px;
}
#snippet--sellBitcoinForm{
  	padding-left: 25px;
  	padding-right: 25px;
}
.redeem-left, .voucher-left {
	margin-top: 20px;
	float: left;
	width: 100%;
}
.redeem-first select, .voucher-first form.form-voucher .labelinput select,
.voucher-first form.form-voucher .labelinput input[type="text"] {
	width: 315px;
}
.voucher-first #currency{
  	width: 73px;
  	margin-right: 5px;
}
.redeem-first #btcAmount {
	width: 300px;
	height: 50px;
	border: 1px solid #bdc3c7 !important;
	border-radius: 5px;
	display: inline-block;
	margin-left: 0px;
	text-align: left;
}
.redeem-first label, .voucher-first .labelinput label {
	width: 145px;
}
.voucher-first .voucher-left.unverified .labelinput label {
	width: 16%;
}
.voucher-first #frm-form-lastName, .voucher-first #frm-form-firstName {
  	width: 28.5%;
}
.voucher-first #amount{
  	width: 44%;
}

.voucher-left-panel {
	width: 65%;
}
.form-voucher .voucher-right-panel {
	width: 35%;
	padding: 19px;
	text-align: center;
}

.voucher-first #limit-exceeded span {
	width: 17%;
	display: inline-block;
}
.voucher-first #limit-exceeded a {
	font-size: 14px;
	color: red;
	text-decoration: underline;
}
.redeem-first .btclabel {
	display: inline-block;
}
.exchange {
	float: right; 
	width: 25%;
	text-align: center;
	font-color: #333333;
	font-size: 18px;
	padding: 13px 10px 13px 10px;
	margin-top: 0px;
	font-weight: bold;
}
.exchange.homepage {
	background-color: #dbdbdb;
	color: #333333;
	font-size: 16px;
	font-weight: 300;
}
.greentitle {
	color: #0091d0;
	padding-bottom: 15px;
}
.light-turq, .orange, .red {
	border-radius: 5px;
}
.light-turq {
	background: #e4f7f4;
	text-align: center;
	padding: 20px;
	color: #007263;
	font-size: 13px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.light-turq-notice {
	background-color: #e4f7f5;
	color: #007263;
	padding: 10px 32px;
	position: relative;
}
.orange, .red {
	font-size: 14px;
	padding: 10px 32px;
}
.orange.no-border, .red.no-border {
	border: none!important;
	font-weight: 400;
}
.orange {
	background-color: #fffb9a;
	border: #ffc194 1px solid;
	color: #d28f34;
}
.red {
  background-color: #FFCDCD;
	border: 1px solid #FF9186;
  color: #DF4B4B;
}
.how-to-container {
	width: 660px;
	margin: 50px auto 0px auto;
	padding-bottom: 30px;
}
.how-to {
	width: 650px;
	height: 119px;
	margin-bottom: 25px;
	padding: 35px 100px 25px 120px;
	border-bottom: 1px solid #e3e8e9;
	margin-left: 10px;
}
.how-to-one {
	background-image: url(../../images/how-to-1.png), url(../../images/one.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	padding-left: 150px;
}
.how-to-two {
	background-image: url(../../images/how-to-2.png), url(../../images/two.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-left: 215px;
}
.how-to-three {
	background-image: url(../../images/how-to-3.png), url(../../images/three.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	padding-top: 25px;
	padding-left: 150px;
}
.how-to-four {
	background-image: url(../../images/how-to-4.png), url(../../images/four.png);
	background-position: left top, right top;
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-left: 150px;
}
a.paymentinfo {
	color: #646464;
	font-size: 15px;
	margin: 6px;
	display: inline-block;
}
.stepspayment {
	margin-bottom: 20px;
}
.stepcircle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #32c0a8;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
	font-size: 21px;
	float: left;
}
#rtl .stepcircle {
	float: right;
}
.steptext {
	float: left;
	width: 90%;
	margin-left: 15px;
	font-size: 15px;
	font-weight: 400;
}
#rtl .steptext {
	float: right;
	text-align: right;
	margin-right: 15px;
	margin-left: 0;
}
.steponeline {
	margin-top: 10px;
}
.widthsixtie {
	width: 60%;
}
.widthsixtie table{
   word-break: normal;
}
.radio-value-mashreq-bank label {
	background: url(../../images/mashreq-bank.jpg) center left no-repeat;
	background-size: 20px 20px;
	padding-left: 28px;
}
.radio-value-adib label {
	background: url(../../images/adib-bank.jpg) 0px 5px no-repeat;
	background-size: auto 15px;
	padding-left: 80px;
}
.radio-value-rak-bank label {
	background: url(../../images/rak-bank.png) 0px 1px no-repeat;
	background-size: auto 17px;
	padding-left: 80px;
}
.paddingcheck {
	padding-left: 33px;
}

/*wallet*/
#bitcoin-transactions table tr{
  	width: 100%;
}
.tablediv.tabledivshort{
  max-width: 100%;
}

/************* ARABIC CSS **************/
#rtl .left{
  float: right;
}
#rtl .right{
  float: left;
}
#rtl .mgr-20 {
  margin-left: 20px;
  margin-right: 0;
}
#rtl .mgr1{
  margin-left: 1% !important;
  margin-right: 0 !important;
}
#rtl .width10,#rtl .width20,#rtl .width30,#rtl .width59,#rtl .width40,#rtl .width50,#rtl .width60,#rtl .width70,#rtl .width80,#rtl .width90,#rtl .width94,#rtl .width100{
	float: right;
}
#rtl .col-md-1, #rtl .col-md-2, #rtl .col-md-3, #rtl .col-md-4, #rtl .col-md-5, #rtl .col-md-6, #rtl .col-md-7, #rtl .col-md-8, #rtl .col-md-9, #rtl .col-md-10, #rtl .col-md-11 {
	float: right;
}
#rtl .col-sm-1, #rtl .col-sm-2, #rtl .col-sm-3, #rtl .col-sm-4, #rtl .col-sm-5, #rtl .col-sm-6, #rtl .col-sm-7, #rtl .col-sm-8, #rtl .col-sm-9, #rtl .col-sm-10, #rtl .col-sm-11 {
	float: right;
}
#rtl .dashtabs {
  float: right;
}
#rtl #homepage header #logo {
  display: block;
  float: right;
  margin-bottom: 15px;
  padding: 20px 20px 20px 20px;
  width: 220px;
  height: 120px;
}
#rtl section#about .content p{
  float: right;
}
#rtl .header-application p{
  text-align: right;
}
#rtl #info header #logo{
  float: right;
}
#rtl #account header #logo{
  display: block;
  background: none;
  padding: 29px 0px 20px 0px;
  width: 160px;
  float: right;
}
#rtl .menu-ico {
  display: block;
  padding-top: 5px;
  padding-bottom: 1px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  width: 40px;
  z-index: 1000;
  position: absolute;
  left: 20px;
  right: auto;
  top: 36px;
}
#rtl #topmenu {
  padding-top: 0px;
  left: -100%;
  right: auto;
  top: 0;
  position: fixed;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  background: rgba(0,40,35, 1);
  z-index: 10;
  height: 100% !important;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
#rtl #topmenu.menu {
  left: 0px;
  right: auto;
}
#rtl #topmenu ul li {
  padding: 4px 0px;
  border-bottom: 1px solid #0c332c;
  text-align: right;
}
#rtl .app .app-sidebar ul.nav-stacked:not(#snippet--menu) li a:first-child{
  float: right;
}
#rtl footer .address span, #rtl footer .address div {
	float: right;
}
#rtl footer .address div {
	margin-right: 7px;
	margin-left: 0;
}
#rtl footer .logo {
  clear: both;
  padding-top: 40px;
  text-align: center;
  padding-left: 0px;
}
#rtl table th, #rtl table td {
	text-align: right !important;
}
#rtl table.table tr td:last-child, #rtl table.table tr th:last-child {
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}
#rtl table.table tr td:first-child, #rtl table.table tr th:first-child {
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
}
#rtl table.table tr td, #rtl table.vertical-table tr td {
	border: none;
	background-color: #eef2f3;
	color: #666;
	padding: 15px !important;
}
#rtl table.table tr td img.my-friends-photo {
	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 0px;
}
#rtl .lastlogin {
	float: left;
	padding: 15px 0;
	cursor: default;
}
#rtl .app .app-sidebar {
	background-color: transparent;
	padding-right: 0px;
	padding-left: 0px;
}
#rtl .nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	padding-right: 0px;
}
#rtl .app-sidebar ul li a {
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
}
#rtl .app-content {
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
}
#rtl .app .app-sidebar ul li i {
	font-size: 18px;
	position: absolute;
	right: 15px;
	top: 22px;
	color: #666;
	z-index: 50;
	width: 18px;
}
#rtl .app .app-sidebar ul li a {
	color: #666;
	padding: 20px 55px 20px 20px;
}
#rtl #account .send-bitcoins-title {
	float: right;
	margin-top: 11px;
	margin-bottom: 11px;
}
#rtl #account .send-bitcoins-balance {
	float: left;
}
#rtl #account .app-content .send-bitcoins {
	float: right;
	width: 540px;
	border-left: 1px solid #e8eeef;
	border-right: none;
	padding-left: 50px;
	padding-right: 0px;
}
#rtl #account .multisig-account-steps {
	width: 230px;
	height: 180px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	float: left;
	font-size: 12px;
}
#rtl form .form-control {
	margin-right: 0px;
}
#rtl #account .qrcode {
	margin: 25px 0px 25px 25px;
	float: right;
	width: 256px;
	height: 256px;
}
#rtl #account .bitcoin-address {
	float: right;
	margin: 25px;
}
#rtl #account .payment-request {
	float: right;
	margin: 0 25px;
}
#rtl .nav-tabs>li {
	float: right;
	margin-bottom: 0px;
}
#rtl .nav-tabs {
	padding-right: 0px;
}
#rtl .nav-tabs>li>a {
	margin-left: 2px;
	margin-right: 0px;
}
#rtl form label {
	font-weight: 400;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 0px;
}
#rtl .app .app-content h3 {
	font-family: "Lato";
	font-weight: 300;
	font-size: 26px;
	color: #1CC4A4;
	margin-top: 20px;
	margin-bottom: 20px;
}
#rtl h3.my-friend-title {
	float: right;
	margin-top: 10px !important;
}
#rtl .my-friends-fb {
	float: left;
}
#rtl #desktop-login{
  display: inline-block;
  float: left;
  position: relative;
}
#rtl #logout img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 0px;
}
#rtl .container .logout-menu{
  left: auto;
  right: 120px;
}
#rtl #logout a.triangle::before{
  top: 79px;
  left: auto;
  right: 19px;
}

#rtl #lang {
  display: block;
  background: none;
  padding: 10px 0;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  width: 85px;
}
#rtl #account form#frm-quickSend-form {
	float: left;
}
#rtl a.lang {
	margin-top: 39px;
	margin-right: 48px;
	margin-left: 0px;
	color: #0091d0;
	font-size: 16px;
	display: inline-block;
}
#rtl a.lang-ar {
	margin-top: 19px;
	margin-left: 0px;
	color: #0091d0;
	font-size: 16px;
	display: inline-block;
}
#rtl h2 {
	line-height: 130%;
}
#rtl .paddingcheck label {
	float: right;
	padding-right: 33px;
}
#rtl .paddingcheck span {
	float: right;
}
#rtl input[type="submit"].btn.fr {
	float: left;
}
#rtl .voucher-bank-details-full.vouchersecondstep input[type="submit"].btn.fr {
	margin-right: 5px;
}
#rtl .voucher-first .voucher-left.unverified .labelinput.name label{
  width: auto;
  min-width: 13%;
}
#rtl .pdr7{
  padding-right: 0;
}


/************* FACEBOOK PAGE **************/

#homepage.facebook-page {
	background: #ffffff !important;
}
#homepage.facebook-page .container {
	width: 810px;
}
#homepage.facebook-page .container a:hover {
	opacity: 0.7;
}
#homepage.facebook-page .container header {
	min-height: 410px;
	height: 410px;
	background: url(../../images/bg-mobile.jpg) no-repeat;
	background-size: 810px 410px;
}
#homepage.facebook-page .container header a#logo {
	display: block;
	margin-top: 30px;
	margin-left: 45px;
	padding: 10px 20px 20px 20px;
	width: 140px;
	height: 120px;
	float: left;
}
#homepage.facebook-page .container header p.white-title {
	color: #ffffff;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-size: 28px;
	font-weight: 100;
}
#homepage.facebook-page .container header p.notification-title {
	margin: 35px 0px 40px 0px;
}
#homepage.facebook-page .container header p.sub-title {
	color: #81f1e2;
	margin: 20px 0px 30px 0px;
	padding: 0px 120px 0px 120px;
	text-align: center;
	font-size: 21px;
	font-weight: 100;
}
#homepage.facebook-page .container header a.facebook-page-button {
	width: 300px;
	color: #ffffff;
	margin: 0px auto 0px auto;
	padding: 12px 0px 12px 0px;
	display: block;
	font-size: 20px;
	font-weight: 400;
	background: #0091d0;
	border-radius: 5px;
	text-align: center;
}
#homepage.facebook-page .facebook-page-content {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 40px 0px 10px 0px;
	text-align: center;
}
#homepage.facebook-page .facebook-page-content .icon-block {
	padding: 0px 50px 0px 50px;
	margin-bottom: 30px;
}
#homepage.facebook-page .facebook-page-content h2 {
	font-size: 35px;
	padding-bottom: 40px;
}
#homepage.facebook-page .facebook-page-content h3 {
	font-size: 20px;
	color: #06457b;
	padding-bottom: 5px;
}
#homepage.facebook-page .facebook-page-content p {
	font-size: 14px;
	color: #686868;
	font-weight: 100;
}
#homepage.facebook-page .footer {
	height: 100px;
	background: #ececec;
	text-align: center;
	padding-top: 23px;
}
#homepage.facebook-page .footer span {
	color: #4e4e4e;
	margin: 0px 0px 0px 0px;
	padding: 0px 15px 0px 0px;
	display: inline-block;
	font-size: 20px;
	font-weight: 100;
}
#homepage.facebook-page .footer a.facebook-page-button {
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 12px 30px 12px 30px;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	background: #0091d0;
	border-radius: 5px;
	text-align: center;
}
#rtl .logout-menu {
  background: #ffffff;
  height: auto;
  position: absolute;
  top: 89px;
  left: 80px;
  right: auto;
  z-index: 100;
  padding: 0px 20px 20px 20px;
  border-radius: 3px 3px 3px 3px;
  -moz-box-shadow: 1px 3px 8px #dadedf;
  -webkit-box-shadow: 1px 3px 8px #dadedf;
  box-shadow: 1px 3px 8px #dadedf;
  display: none;
}
@media (max-width: 1200px) and (min-width: 990px){
  #rtl #logout a.triangle::before {
	top: 47px;
	right: 14px;
  }
}
@media (max-width: 990px) and (min-width: 768px){
  #rtl #logout a.triangle::before {
	top: 43px;
  }
}
#rtl .logout-menu-block {
  display: block;
  outline: 0;
  z-index: 50;
}

/******** ACCOUNT *********/
.buypayment .form-control {
	width: 250px;
}

#rtl .close.left {
	float: left;
}
#rtl .fullWidth.submitButtonsubmitButton .btn{
  float: left;
}
#rtl .submitButtonsubmitButton.pdr7 .btn{
  margin-right: 5px;
}
#rtl .submitButtonsubmitButton{
  width: 93.5%;
}
#rtl #account form textarea#frm-note-form-note{
  margin-right: 0;
}

/*inputs - general*/
.form-control.short.firstname, .form-control.short{
  width: 27%;
  margin-left: 0;
  margin-right: 2%;
}
.app-content form label{
  width: auto;
  margin-right: 1%;
}

#tracy-debug-bar li span svg {
	width: 16px;
	height: 16px;
}

/*application banner*/
.applicationBanner{
  font-size: 16px;
  color: #12100b;
  font-weight: 400;
  width: 95%;
  background: #fff;
  padding: 25px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: -50px;
  text-align: center;
}

.js-link-selected {
	text-decoration: underline;
}

.limits .limit .limitText {
	font-size: 15px;
}
.limits h4 {
	margin-bottom: 10px;
}
.limits .limit {
	margin-bottom: 20px;
}
.limits-header {
	float:left;
}
#rtl .limits-header {
	float: right;
}
a.higher-limits {
	top: 10px;
	position: relative;
}
p.higher-limits {
	margin: 0;
	padding-top: 15px;
}

.btn.btn-green.small, #frm-verificationSelectorForm select {
	padding: 10px 15px !important;
	font-size: 85% !important;
	font-weight: bold;
}
#frm-verificationSelectorForm select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/select-arrow.png) no-repeat #0091d0 95% 50%;
	color: #fff;
	border-radius: 3px;
	height: 40px;
	width: 22%;
}
#rtl #frm-tradeSummary-form select#currency {
	background: url(../images/select-arrow.png) no-repeat #0091d0 5% 50%;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
	#frm-verificationSelectorForm select {
			background:none;
	}
}
#account .companyAccountForm form .form-control.long {
	width: 100%;
}
#account .companyAccountForm form .form-control.mid {
	width: 49%;
	max-width: 49%;
	margin-right: 0;
	margin-left: 0;
}
#account .companyAccountForm form .form-control.mid.secondchild {
	margin-right: 0;
	margin-left: 1%;
}
#rtl #account .companyAccountForm form .form-control.mid.secondchild {
	margin-right: 1%;
	margin-left: 0;
}
#account .companyAccountForm form .form-control.short {
	width: 15.5%;
	margin-right: 1%;
}
#rtl #account .companyAccountForm form .form-control.short {
	margin-left: 1%;
	margin-right: 0;
}
.companyAccountForm .submitButtonsubmitButton .btn {
	float: right;
	margin-left: 5px;
}
#rtl .companyAccountForm .pull-right {
	float: left !important;
}
#rtl .companyAccountForm .submitButtonsubmitButton {
	width: 100%;
}
#rtl .companyAccountForm .submitButtonsubmitButton .btn {
	float: left;
	margin-left: 0;
	margin-right: 5px;
}

.admin-trade-exchange-order, .admin-trade-exchange-order td, .admin-trade-exchange-order td span {
	color: darkblue !important;
}

/****** VISUAL PAGINATOR ******/
.pagination {
	height: 36px;
	margin: 18px 0;
	text-align:center;
	width: 100%;
}
.pagination ul {
	display:inline-block;
	zoom:1;
	margin-left:auto;
	margin-right:auto;
	padding-left:0;
	margin-bottom:0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.pagination li { display:inline; }
.pagination a {
	float:left;
	padding:0 14px;
	line-height:34px;
	text-decoration:none;
	border:1px solid #ddd;
	border-left-width:0;
}
.pagination a:hover, .pagination .active a { background-color:#f5f5f5; }
.pagination .active a { color:#999999; cursor:default; }
.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
	color:#999999;
	background-color:transparent;
	cursor:default;
}
.pagination li:first-child a {
	border-left-width:1px;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.pagination li:last-child a {
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.pagination-centered { text-align:center; width: 100%; }
.pagination-right { text-align:right; }

.tab-selector {
	cursor: pointer;
}

.feedback {
	background-color: #ebedee;
	color: #1d8376;
	padding-bottom: 10px;
	border-radius: 5px;
}
.feedback-rating .feedback-rate {
	background: url(../../images/bitcoin.png) no-repeat;
	background-size: 45px 45px;
	display: inline-block;
	width: 45px;
	height: 45px;
	margin-left: -4px;
	margin-bottom: -6px;
}
.feedback-desc {
	padding: 0 30px;
}
@media screen and (max-width: 540px) {
	.feedback-rating .feedback-rate {
		background-size: 35px 35px;
		width: 35px;
		height: 35px;
	}
	.feedback-rating:hover .feedback-rate {
		background-size: 35px 35px;
	}

	.feedback-rating .feedback-rate:hover ~ .feedback-rate {
		background-size: 35px 35px;
	}
}
@media screen and (max-width: 390px) {
	.feedback-rating .feedback-rate {
		background-size: 25px 25px;
		width: 25px;
		height: 25px;
	}
	.feedback-rating:hover .feedback-rate {
		background-size: 25px 25px;
	}

	.feedback-rating .feedback-rate:hover ~ .feedback-rate {
		background-size: 25px 25px;
	}
}
@media screen and (min-width: 1200px) {
	.feedback-question {
		margin-left: 40px;
	}
	.feedback-rating {
		margin-left: -10px;
	}
}
.feedback-rating:hover .feedback-rate {
	background: url(../../images/bitcoin-full.png) no-repeat;
}

.feedback-rating .feedback-rate:hover ~ .feedback-rate {
	background: url(../../images/bitcoin.png) no-repeat;
}
.feedback-question {
	font-weight: bold;
}
.feedback-close {
	padding: 5px;
	padding-bottom: 0;
}
.feedback-close i.fa {
	font-size: 20px;
	color: #007263;
}
.feedback-note-form .feedback-thanks {
	font-weight: bold;
	line-height: 80px;
}
.feedback-note-form #frm-feedback-feedbackNoteForm-note {
	width: 100%;
	resize: vertical;
}
.feedback-note-form .feedback-button {
	line-height: 80px;
}

#account .wallet-notifications div.system-notifications {
	width: 100%;
	border-radius: 5px;
	padding: 20px;
	font-size: 14px;
	position: relative;
	margin-top: 20px;
	text-align: center;
	font-weight: 400;
	background-color: #e4f7f5;
	color: #1d8376;
}
#account .wallet-notifications div.system-notifications.system-notifications-warning {
	color: #D28F34;
	background-color: #FFFB9A;
}
#account .wallet-notifications div.system-notifications.system-notifications-warning a {
	color: #a47e3c;
}
#account .wallet-notifications div.system-notifications.system-notifications-warning a:hover {
	text-decoration: underline;
}
#account .wallet-notifications div.system-notifications a.close-system-notification {
	float: right;
	color: #949494;
}

/* Chosen */
.chosen-container {
	font-size: 14px;
	padding: 5px 0;
	top: -1px;
}

.chosen-container-single .chosen-single {
	padding-left: 15px;
	height: 49px;
	line-height: 40px;
}

.chosen-container-single .chosen-single span {
	padding-top: 4px;
}

.chosen-container-single .chosen-single abbr {
	top: 17px;
}

.chosen-container-single .chosen-single div b {
	width: 80%;
	top: 11px;
	position: relative;
}

.chosen-container .chosen-results li {
	 line-height: 30px;
 }

/* ImageSelect */
.chose-image-small {
	width: 40px;
	height: 40px;
	max-height: 40px;
	margin: 0 8px 0 0;
	padding: 0 0 0 0;
}

.chose-image-list {
	width: 32px;
	max-height: 32px;
	margin: 0 6px 0 0;
	padding: 0 0 0 0;
}

/******** ACCOUNTING *********/
.al-analysis table {
	width: 100%;
}
.al-analysis input[readonly], .al-analysis select[readonly] {
	background-color: lightgray;
	border: none;
}
.al-analysis td:nth-child(5) input[readonly] {
	background-color: transparent!important;
}
.al-analysis table td, .al-analysis table td input[readonly], .al-analysis table td.amount input {
	text-align: right;
}
.al-analysis table th, .al-analysis table td:first-child {
	background-color: lightgray;
}
.al-analysis table th {
	height: 50px;
}
.al-analysis table th:nth-child(2), .al-analysis table td:nth-child(2) {
	width: 80px;
}
.al-analysis table th:nth-child(6), .al-analysis table td:nth-child(6) {
	width: 25px;
	min-width: 25px;
}
.al-analysis table td.amount {
	width: 250px;
}
.al-analysis table td.amount.usd {
	padding-right: 10px;
}
.al-analysis table .assetsContainer td.amount, .al-analysis table .assetsContainer td.amount input, .al-analysis table .assets.sum td.amount.usd {
	background-color: lightblue;
}
.al-analysis table .liabilitiesContainer td.amount, .al-analysis table .liabilitiesContainer td.amount input, .al-analysis table .liabilities.sum td.amount.usd {
	background-color: lightcoral;
}
.al-analysis table td.amount input {
	border: 1px solid black;
	width: 100%;
}
.al-analysis table td.amount.usd, .al-analysis table tr.sum td {
	font-weight: bold;
}
.al-analysis table td input {
	width: 98%;
}

#security #page h2 {
	font-size: 22px;
	padding-bottom: 10px;
	padding-top: 20px;
}
#security #page h3 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 8px;
	padding-top: 16px;
}
#page p {
	text-align: justify;
}
#page li {
	padding: 4px 0;
}
#page b, #page strong {
	font-weight: 500;
}

.announcement-container {
	width: 100%;
	height: auto;
	color: #000000;
	display: none;
	padding: 10px;
	/*warning: background-color: #f5c6a6;*/
}
.announcement {
	vertical-align: middle;
	font-weight: bold;
	text-align: center;
}
.announcement-close {
	padding-right: 20px;
	cursor: pointer;
}

.deposit-selection  {
	width: 370px;
	height: 70px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #EEEEEE;
}
.deposit-selection:hover {
	background-color: #EEEEEE;
}
.deposit-selection a {
	display: block;
	height: 100%;
}
.deposit-selection a p {
	color: #8f8f8f;
	font-size: 14px;
	height: 100%
	vertical-align: center;
	padding-top: 15px;
}
.deposit-selection a img {
	float: left;
	margin-right: 20px;
}
