.here:after {
    content:"";
    position: absolute;
    z-index: 999999999;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #1E2431;
    transform: translate(-50%);
}

.here {
    margin: 10px auto;
    width: 60%;
    height: 40px;
   /* border: 1px solid #ffffff;
    position:relative;*/
    text-align:center
}

body {
	font-family: 'proxima_nova_rgregular';
	background-color: #1E2431;

}
.menu li a, .product-logo, .signing .signup, .signing .signin, .signing .signup, .sgnbtn input, .integration .more-integration a, .signupnow-button, .sgfrm .field, .confirmn_msg a {
	font-family: "proxima_novasemibold";
	font-weight: inherit;
}
.thank_tit, .new-signup-formate h3 span {
	font-family: 'proxima_nova_rgbold';
}
.header {
	position: relative;
	overflow: visible;
	z-index: 100;
	border-bottom: none;	
}
.main {
	color: #333333;
	margin-top: -72px;
}

.forgot-pass{
	color:#fff;
	margin-top: 15px;
   /* margin-left: 60px;*/
    text-align: center;
    cursor: pointer;
}
.content-area {
	max-width: 1170px;
	margin: 0 auto;
	position: relative;
}
h1 {
	color: #d5d5d5;
	/*font-family: "proxima_novalight";*/
	/*font-size: 50px;*/
	font-size: 16px;
	/*letter-spacing: -1px;*/
	line-height: 1.2;
	/*margin: 0 0 20px 0;*/
	/*margin-left:60px;*/
	margin-bottom: 20px;
	/*max-width: 450px;*/
}
h2 {
	text-align: center;
	font-size: 28px;
	line-height: 1.2;
}
p {
	font-size: 18px;
	line-height: 1.65;
}
.product-header {
	background: none;
	transition: none 0s ease 0s;
}
.product-logo {
	background-position: 0 0;
	background-repeat: no-repeat;
	color: #ffffff;
	display: inline-block;
	float: left;
	font-size: 21px;
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 60px;
	z-index: 15;
	position: relative;
}
.product-header-top {
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}
.product-header-top .product-logo, .plain-bg .product-header-inner .product-logo, .plain-bg .product-header-inner .product-menu li a, .plain-bg .product-menu .dropdown-menu-container > a {
	color: #333;
}
.plain-bg .dropdown-menu-container > a::before, .plain-bg .dropdown-menu-container > a::after {
	background: #333;
}
.product-header-inner {
	border-bottom: none;
	position: relative;
	z-index: 1;
	overflow: visible !important;
	min-height: 70px;
	padding: 0 !important;
	max-width: 1170px;
}
.product-header-top .product-header-inner {
	min-height: auto;
}
.product-menu li a {
	color: #ccc;
}
.product-header-top .product-menu li a, .product-header-top .product-menu li > span {
	color: #333;
	padding: 16px 0 15px;
}
.product-header-top .product-menu li > span {
	padding-right: 20px;
}
.product-header-top .dropdown-menu-container > a::before, .product-header-top .dropdown-menu-container > a::after {
	background: #333;
	top: 25px;
}
.product-header-top .product-logo {
	line-height: 56px;
}
/*  Drop Down */

.product-menu li > span {
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding: 25px 0;
	position: relative;
	cursor: pointer;
}
.fullpage-opacity {
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}
.fullpage-opacity span {
	background-image: url("http://www.zoho.com/images/zohohome-sprite-new@2x.png");
	background-size: 450px 100px;
	background-position: -200px -40px;
	display: block;
	height: 30px;
	position: absolute;
	right: 25px;
	top: 25px;
	transition: all 0.3s ease-out 0s;
	width: 30px;
	z-index: 100;
	cursor: pointer;
}
.product-header-showmenu {
	background: #f4f4f4 !important;
	z-index: 100;
	color: #6c6c6c;
	overflow: visible !important;
}
.product-header-showmenu .product-logo, .product-header-showmenu .product-menu > li a {
	color: #6c6c6c;
}
.product-header-showmenu .dropdown-menu-container > a {
	color: #00add5 !important;
}
.product-header-showmenu .product-header-inner {
	border-bottom: 1px solid #e0e6eb;
}
.product-header-showmenu .dropdown-menu-container::before, .product-header-showmenu .dropdown-menu-container::after {
	background: #6c6c6c;
}
.fullpage-menu {
	display: none;
	width: 100%;
	z-index: 2000;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	background: #f4f4f4;
 //padding-top:15px;
	/*-webkit-box-shadow: 0px 36px 57px -55px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 36px 57px -55px rgba(0,0,0,0.75);
	box-shadow: 0px 36px 57px -55px rgba(0,0,0,0.75);*/
	box-sizing: border-box;
	margin-top: 0;
	height: auto;
 //overflow:hidden;
	opacity: 1;
}
.fullpage-menu > div {
	border-top: 1px solid #c4cacf;
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	max-width: 1290px;
	padding-bottom: 30px;
	padding-top: 30px;
	transition: all 0.5s ease-out 0s;
}
.fullpage-menu h2 {
	text-align: center;
	text-transform: uppercase;
	color: #bcbcbc;
	margin-bottom: 40px;
}
.fullpage-menu ul {
	width: 15%;
	box-sizing: border-box;
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
.fullpage-menu ul li {
	color: #333;
	font-size: 12px;
	margin-bottom: 10px;
	position: relative;
	float: none;
	margin-left: 0;
}
/*.fullpage-menu ul li:first-child::after {
    background: #cdcdcd none repeat scroll 0 0;
    bottom: -15px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 90%;
	display:block;
}*/

.fullpage-menu ul li:first-child {
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #000;
}
.product-header-showmenu .fullpage-menu ul li a {
	color: inherit;
	position: relative;
	display: block;
	width: 90%;
	padding: 5px;
	color: #333;
	font-size: 14px;
}
.fullpage-menu ul li a:hover:after {
 //display: inline-block;
}
.fullpage-menu ul li a:hover {
	color: #00add5;
}
.dropdown-menu-container {
	position: relative;
}
.product-menu .dropdown-menu-container > a, .product-header-top .product-menu .dropdown-menu-container > a {
	padding-right: 20px;
	cursor: pointer;
	z-index: 2;
	position: relative;
}
.dropdown-menu-container > a::before {
	background: #ffffff none repeat scroll 0 0;
	content: "";
	height: 1.5px;
	position: absolute;
	right: 0;
	top: 36px;
	transform: rotate(-45deg);
	width: 8px;
}
.dropdown-menu-container > a::after {
	background: #ffffff none repeat scroll 0 0;
	content: "";
	height: 1.5px;
	position: absolute;
	right: 5px;
	top: 36px;
	transform: rotate(45deg);
	width: 8px;
}
.product-header-showmenu .dropdown-menu-container > a::before {
	transform: rotate(45deg);
	background: #00add5;
}
.product-header-showmenu .dropdown-menu-container > a::after {
	transform: rotate(-45deg);
	background: #00add5;
}
.fullpage-menu .select-current-page-ul li:first-child {
 //color:#00add5;
}
.product-header-showmenu .fullpage-menu .select-current-page {
	color: #00add5;
}
/* Home page CSS */
/* BANNER PART STARTS */
.content-wrap {
	margin: 0 auto;
	max-width: 1170px;
	position: relative;
}
.main {
	overflow: hidden;
	clear: both;
	margin-top: -74px;
}
.top-message li span, .logo-section li, .product-logo {
	background-image: url("images/crm-new-home-sprite@2x.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 630px 240px;
}
.banner-part {
	/*background-image: url("https://cuepra.com/images/slider/bg1.jpg");*/
	background-image: url("../images/slider/slider-bg-2.jpg");
	background-position: left top;
	padding: 0 5%;
}
.banner-part {
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.banner-part::before {
	/*background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;*/
	background: rgba(20, 44, 74, 0.96) none repeat scroll 0 0;	
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.banner-inner {
	box-sizing: border-box;
	overflow: hidden;	
	padding: 30px 0 230px; /* top right bottom left  padding: 150px 0 230px;*/	
	position: relative;
	text-align: left;
}

.banner-inner-login {
	box-sizing: border-box;
	overflow: hidden;	
	/*padding: 150px 0 230px;*/ /* top right bottom left  padding: 150px 0 230px;*/	
	padding-bottom:230px;
	position: relative;
	text-align: left;
}
.banner-content {
	float: left;
	/*padding: 50px 0 0;*/
	width: 55%;
	text-align:center;
}

.banner-content img{
	
	/*padding: 50px 0 0;*/
	width: 98xh;
	height:auto;
}
.banner-content p {
	color: #d5d5d5;
	font-size: 16px;
	line-height: 26px;
	max-width: 700px;
	/*padding: 0 50px 10px 0;*/
	position: relative;
	/*margin-left:40px;*/
}
.web-content {
	display: block;
}
.mob-content {
	display: none;
}
.signupnow-button {
	display: block;
	/*background: #f0483e none repeat scroll 0 0;*/
	background: #0891CE none repeat scroll 0 0;
	width:150px;
	color: #fff;
	font-size: 14px;
	line-height: 46px;
	margin: 25px 0 0;
	padding: 0 30px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
.signupnow-button-out{
	background: #0891CE none repeat scroll 0 0;
	width:250px;
	color: #fff;
	margin: auto;
}

.getstarted-box {
	max-width: 100%;
	overflow: hidden;
	padding: 0;
}
.watch-video, .watch-story {
	color: #d5d5d5;
	cursor: pointer;
	font-size: 15px;
	margin: 0;
	max-width: 155px;
	padding: 12px 0;
	z-index: 9;
	text-transform: uppercase;
}
.play-icon {
	background-position: -32px -323px;
	float: left;
	height: 20px;
	margin-right: 8px;
	width: 22px;
}
.banner-content.banner-center {
	padding: 0 5%;
	text-align: center;
	width: 90%;
}
.banner-center p {
	margin: 0 auto;
}
/* BANNER SIGNUP PART STARTS */

/* COUNTRY DROPDOWN CSS FOR EU SETUP ONLY */

.za-region-container {
	display: none;
	margin: 25px 0 10px;
	position: relative;
}
.za-region-container .za-region-select {
	border-radius: 0;
	-webkit-border-radius: 0;
	box-sizing: padding-box;
	font-size: 14px;
	height: 35px;
	margin: 0;
	outline: hidden;
	padding: 0;
	width: 100% !important;
	background: transparent;
	color: #eee;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.za-region-container .za-region-select option {
	box-sizing: padding-box;
	font-size: 12px;
	padding: 5px 10px;
	appearance: none;
	-webkit-appearance: none;
	outline: hidden;
	border: none;
}
/* COUNTRY DROPDOWN CSS FOR EU SETUP ONLY ENDS */

.signup {
	display: none !important;
}
.product-header-inner > .signing .signup {
	display: block !important;
}
.signup-box {
	float: right;
	position: relative;
	max-width: 350px;
	width: 100%;
 //opacity:0;
 //visibility:hidden;
	-webkit-transition: 0.7s ease;
	transition: 0.7s ease;
}
.signup_frm .signup-heading {
	color: #F6BC00;
	font-size: 22px;
	line-height: 28px;
	margin: 0 0 10px;
	text-align: left;
}
/* SIGNUP FORM CSS STARTS */

.end_pop, .confirm_pop {
	margin: 20px auto 0;
	overflow: hidden;
	padding: 0 10px 50px;
	position: relative;
	width: 840px;
}
.endpopsb {
	border-bottom: 2px solid #000000;
	padding-bottom: 25px;
}
.thank_tit {
	color: #333333;
	font-size: 24px;
	letter-spacing: -0.5px;
	line-height: 56px;
	margin: 0 0 20px;
	max-width: 100%;
	text-align: center;
	text-transform: uppercase;
}
#new_zohosignup {
}
.thank_tit span {
}
.sub_inftxt {
	color: #888888;
	font-size: 18px;
	line-height: 28px;
	margin: 0 auto;
	text-align: center;
}
.sub_inftxt span {
	color: #333;
}
.signup_frm, .thank_titmn {
	margin: 30px auto 0;
	min-height: 90px;
}
.signup_frm {
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
	position: relative;
}
.sgnusrname, .sgnpaswrd, .sgnemail, .zs-txtfldnew {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
	border: 1px solid rgba(255,255,255,0);
	border-bottom: 1px solid rgba(255,255,255,0.4);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	display: block;
	float: left;
	font-size: 14px;
	margin-bottom: 7px;
	padding: 12px 10px 5px;
	width: 100%;
	transition: 0.7s ease;
	-webkit-transition: 0.7s ease;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	outline: medium none;
	position: relative;
	z-index: 9;
}
.sgnusrname:focus, .sgnpaswrd:focus, .sgnemail:focus, .zs-txtfldnew:focus {
	border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
.placeholder {
	color: #aaa;
	font-size: 14px;
	left: 0;
	/*position: absolute;*/
	top: 20px;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	z-index: 7;
}
.added-placeholder .placeholder {
	top: 0;
	font-size: 12px;
	color: #aaa;
}
.focusin {
	border: 1px solid #00add5;
}
.signup-box input::-webkit-input-placeholder {
 color: rgba(255,255,255,0.55);
}
.signup-box input:focus::-webkit-input-placeholder {
 color: rgba(255,255,255,0.75);
}

/* Firefox < 19 */
.signup-box input:-moz-placeholder {
 color: rgba(255,255,255,0.55);
 font-size:14px;
}
.signup-box input:focus:-moz-placeholder {
 color: rgba(255,255,255,0.75);
}

/* Firefox > 19 */
.signup-box input::-moz-placeholder {
 color: rgba(255,255,255,0.55);
 font-size:14px;
}
.signup-box input:focus::-moz-placeholder {
 color: rgba(255,255,255,0.75);
}

/* Internet Explorer 10 */
.signup-box input:-ms-input-placeholder {
 color: rgba(255,255,255,0.55);
}
.signup-box input:focus:-ms-input-placeholder {
 color: rgba(255,255,255,0.75);
}
input:focus, input:active {
	outline: none;
}
.za-captcha-container {
	clear: both;
	display: none;
	padding: 10px 0;
	text-align: left;
}
.zs-txtfldnew {
	display: inline-block;
	padding: 12px 0 5px;
	width: 100%;
}
.sgnbtnmn {
	clear: both;
	overflow: hidden;
}
.sgnbtn {
	clear: both;
	float: none;
	height: 46px;
	padding-left: 0;
}
.sgnbtn input {
	background-color: #0891CE;
	border: 1px solid #1091CE;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
	height: 46px;
	padding: 5px 0;
	position: relative;
	width: 100%;
	z-index: 99;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-transform: uppercase;
	opacity: 0.3;
}
.signbtm-msg {
	border-top: 1px solid #d9d9d9;
	font-size: 14px;
	margin: 20px 20px 20px 0px;
	padding-top: 20px;
	text-align: center;
}
.snews-letter {
	color: #444444;
	font-size: 12px;
	height: 0;
	margin: 0;
	opacity: 0;
	padding-left: 0;
	visibility: hidden;
}
.sign_agree {
	color: #999;
	font-size: 10px;
	line-height: 16px;
	padding-bottom: 20px;
	margin-top: 5px;
	text-align: left;
	width: 330px;
}
.sign_agree a {
	color: inherit;
	text-decoration: underline;
}
.sign_agree:hover {
	color: #ccc;
}
.sgfrm .field {
	color: #666666;
	font-size: 13px;
	left: 0;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
}
.signup_error, .jqval-error, .error {
	color: #F0483E;
	float: left;
	font-size: 14px;
	margin: 0 0 7px;
	/*padding: 3px 0;*/
	text-align: left;
}
.field-msg .jqval-error {
	display: none !important;
}
.field-msg .jqval-error a {
	color: #00add5;
	text-decoration: underline;
	display: inline-block;
	padding-left: 5px;
}
.za-captcha-container .error.jqval-error {
	display: block !important;
	width: 100%;
}
.portalName {
	text-align: left;
}
.field-error .error {
	display: inline-block !important;
}
.password-strength {
	text-align: left;
	clear: both;
}
.password-strength div {
	color: #FE0000;
	display: block;
	margin: 0;
	overflow: hidden;
	padding-top: 5px;
}
:-moz-placeholder {
 color: #A5A0A0;
}
.new-signup-formate {
	border-top: 1px dotted #ddd;
	bottom: 80px;
	margin: 0 35px;
	overflow: hidden;
	padding: 30px 0 0;
	position: absolute;
	width: 450px;
	z-index: 99;
}
.new-signup-formate h3 {
	color: #333333;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 15px;
	margin-top: 20px;
	position: relative;
	text-align: center;
}
.signup-twocol {
	max-width: 400px;
}
.two-input .sgfrm {
	float: left;
	width: 48%;
	margin-right: 2%;
}
.two-input .sgfrm:last-child {
	float: left;
	width: 50%;
	margin-right: 0%;
}
/* SIGNIN USING SOCIAL MEDIAS CSS STARTS */
 
.socl-signup {
	margin: 0;
	overflow: hidden;
	padding: 15px 0 0;
	text-align: right;
}
.socl-signup p {
	color: #aaa;
	display: inline-block;
	font-size: 15px;
	line-height: 24px;
	padding: 0;
	position: relative;
	text-align: right;
	top: -5px;
}
.socl-signup ul {
	display: inline-block;
}
.socl-signup ul li {
	background-image: url("http://www.zoho.com/images/social-signin-sprite.png");
	background-position: 4px 1px;
	background-repeat: no-repeat;
	color: #496faf;
	cursor: pointer;
	font-size: 14px;
	height: 20px;
	margin: 0 0 0 10px;
	opacity: 0.7;
	padding: 0;
	text-align: left;
	text-indent: -99999em;
	width: 20px;
	display: inline-block;
	line-height: 25px;
	float: right;
}
.socl-signup ul li:hover {
	opacity: 1;
}
.socl-signup .vi-google {
	background-position: 4px 1px;
}
.socl-signup .vi-linkedin {
	background-position: -98px 1px;
}
.socl-signup .vi-office365 {
	background-position: -202px 1px;
}
.socl-signup .vi-twitter, .socl-signup .vi-facebook, .socl-signup .vi-yahoo, .socl-signup .vi-gapps {
	display: none;
}
.idpform {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 0 0 25px 0;
	width: 100%;
}
.idpform .sub-domain {
	color: #ccc;
	display: inline-block;
	font-size: 14px;
	left: 7px;
	margin-right: 0;
	opacity: 0;
	position: absolute;
	top: 25px;
}
.idpform[novalidate="true"] .sub-domain {
	opacity: 1;
}
.idpform .error {
	bottom: 0;
	color: #f0483e;
	display: block;
	float: none;
	font-size: 14px;
	margin-bottom: 0;
	padding: 0 0 0 10px;
	position: absolute;
	text-align: left;
}
.small-input {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 13px;
	line-height: 18px;
	margin-top: 15px;
	padding: 10px 10px 10px 45px;
	width: 78%;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	outline: medium none;
}
.signupbtn.openidbtn {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #00add5;
	border: medium none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	padding: 0;
	position: relative;
	text-transform: uppercase;
	width: 21.5%;
	z-index: 99;
	-webkit-appearance: none;
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	outline: medium none;
}
.openidlink {
	background: url("http://www.zoho.com/docs/images/signup-sprite.png") no-repeat scroll -73px -41px rgba(0, 0, 0, 0);
	cursor: pointer;
	display: inline-block;
	height: 24px;
	margin: 6px 17px 6px 0;
	width: 24px;
	text-indent: 1px;
}
.confirmn {
	font-size: 13px;
	margin-top: 30px;
}
.confirmn_msg {
	color: #777777;
	line-height: 23px;
}
.confirmn_msg a {
	margin: 4px 0;
}
.signup_frm .create-new {
	color: #fff;
 //cursor: pointer;
	font-size: 22px;
	margin: 0 0 25px;
	text-align: left;
}
.sgfrm {
	box-sizing: border-box;
	overflow: auto;
	padding-bottom: 5px;
	padding-left: 0;
	padding-top: 10px;
	position: relative;
	width: 100%;
}
.zoho-logo {
	padding: 0 5px;
	position: relative;
	top: 2px;
}
.zp-signupSuccess {
	margin: 45px auto 12px;
	max-height: 2500px;
	min-height: 600px;
	padding: 20px;
	position: relative;
	width: 380px;
	z-index: 1000;
}
.zp-awesome {
	color: #666666;
	font-size: 28px;
	text-align: center;
}
.zp-successTxt {
	color: #666666;
	font-size: 14px;
	margin-top: 25px;
	text-align: center;
}
.za-email-suggestion {
	color: #fff;
}
/* SIGNIN USING SOCIAL MEDIAS CSS ENDS */


/* SIGNUP FORM CSS ENDS */

/* COLLAGE CSS */

.feature-collage {
	background-image: url("images/main-features-bg-objects.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}
.feature-collage-img {
	margin: -190px auto 0;
	padding: 65px 0 0;
}
.crm-features-screen {
	display: none;
	text-align: center;
}
.feature-collage-img > ul {
	max-width: 1650px;
	margin: 0 auto;
	min-height: 520px;
	position: relative;
	width: 100%;
}
.feature-collage-img li a {
	width: 285px;
	min-height: 40px;
	position: absolute;
	text-align: center;
	opacity: 1;
	transition: 0.85s ease 0.5s;
	-webkit-transition: 0.85s ease 0.5s;
	background-repeat: no-repeat;
	background-position: left top;
	display: inline-block;
	top: 0;
}
.feature-collage-img.animate li a {
	opacity: 0;
}
.feature-collage-img li.telephony a {
	background-image: url("images/main-features-collage-telephony.png");
	height: 410px;
	left: 0;
	top: 90px;
	transition: 1s ease 0.35s;
	-webkit-transition: 1s ease 0.35s;
}
.feature-collage-img li.email a {
	background-image: url("images/main-features-collage-email.png");
	height: 290px;
	left: 18%;
	transition: 0.85s ease 0.55s;
	-webkit-transition: 0.85s ease 0.55s;
}
.feature-collage-img li.salessignals a {
	background-image: url("images/main-features-collage-signals.png");
	height: 335px;
	left: 50%;
	margin-left: -240px;
	width: 440px;
	top: 91px;
	transition: 0.85s ease 0.65s;
	-webkit-transition: 0.85s ease 0.65s;
}
.feature-collage-img li.social a {
	background-image: url("images/main-features-collage-social.png");
	height: 505px;
	right: 20.3%;
	transition: 1s ease 0.45s;
	-webkit-transition: 1s ease 0.45s;
}
.feature-collage-img li.chat a {
	background-image: url("images/main-features-collage-chat.png");
	height: 400px;
	right: 0;
	width: 330px;
	top: 91px;
	transition: 1s ease 0.35s;
	-webkit-transition: 1s ease 0.35s;
}
.feature-collage-img.animate li.telephony a {
	top: 40px;
}
.feature-collage-img.animate li.email a {
	top: 90px;
}
.feature-collage-img.animate li.salessignals a {
	top: 121px;
}
.feature-collage-img.animate li.social a {
	top: 90px;
}
.feature-collage-img.animate li.chat a {
	top: 30px;
}
.feature-collage-img li span {
	bottom: 0;
	color: #999;
	left: 0;
	position: absolute;
	width: 100%;
}
.feature-collage-img .illustration-bg {
	background-image: url("images/main-features-collage-bg.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
	left: 50%;
	margin-left: -830px;
	opacity: 1;
	position: absolute;
	top: 0;
	transition: all 1s ease-in-out 1s;
	width: 1670px;
}
.feature-collage-img.animate .illustration-bg {
	opacity: 0;
}
/* COLLAGE CSS ENDS */


/* BANNER PART AFTER LOGIN STARTS */

.umain .signup-box, .umain .signupnow-button, .umain .button {
	display: none;
}
.umain .banner-content {
	float: none;
	margin: 0 auto;
	max-width: 900px;
	padding: 50px 5% 50px;
	text-align: center;
	width: 90%;
}
.umain .banner-content p {
	margin: 0 auto;
}
.umain .watch-video {
	margin: 0 auto;
}
.umain h1 {
	max-width: 100%;
	margin: 0 auto 20px;
}
.umain .banner-inner {
	padding: 120px 0 230px;
}
/* BANNER PART AFTER LOGIN ENDS */

	
	/* BANNER SIGNUP PART ENDS */

/* BANNER PART ENDS */


/* Top Message section */
.top-message-image > img {
	margin-bottom: 70px;
	max-width: 800px;
	width: 100%;
}
.top-message {
	padding: 0 5%;
}
.top-message-inner {
	padding: 50px 0 80px;
}
.top-message h2 {
	font-family: "proxima_novalight";
	font-size: 34px;
	margin: 0 auto;
	max-width: 700px;
	padding-bottom: 15px;
}
.top-message-inner > p {
	margin: 0 auto 50px;
	max-width: 900px;
	text-align: center;
}
.top-message-image {
	margin-top: 50px;
}
.top-message ul {
	overflow: auto;
}
.top-message li {
	box-sizing: border-box;
	display: block;
	float: left;
	overflow: auto;
	text-align: left;
	width: 33.3333%;
	padding: 30px 3%;
}
.top-message li span {
	display: block;
	height: 90px;
	margin-bottom: 20px;
	width: 120px;
}
.top-message .f1 span {
	background-position: left -40px;
}
.top-message .f2 span {
	background-position: -120px -50px;
	width: 90px;
}
.top-message .f3 span {
	background-position: -210px -40px;
}
.top-message .f4 span {
	background-position: -326px -40px;
}
.top-message .f5 span {
	background-position: -450px -50px;
	width: 90px;
}
.top-message .f6 span {
	background-position: -540px -50px;
	width: 90px;
}
.top-message li h3 {
	font-size: 21px;
	padding-bottom: 15px;
}
.top-message li p {
	font-size: 14px;
	line-height: 1.6;
	padding-bottom: 10px;
	text-align: left;
}
.top-message li a.learnmore {
	color: #00b0ff;
	position: relative;
}
.learnmore:before {
	left: 110%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #00b0ff;
	border-width: 5px;
	margin-top: -5px;
}
.m-show {
	display: none;
}
.m-hide {
	display: block;
}
/* End of top message section */
 

/* CUSTOMERS AND TEST CSS */

.customers-testimonial {
	background: #182230 none repeat scroll 0 0;
	overflow: hidden;
}
.customers, .testimonial {
	width: 40%;
	padding: 160px 5%;
	float: left;
}
/* TESTIMONIAL CSS */

.testimonial {
	background-image: url("images/testimonial-paulgrajek-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	position: relative;
	text-align: center;
	min-height: 250px;
	background-position: center center;
}
.testimonial:before {
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.testimonial-cont {
	margin: 0 auto;
	max-width: 420px;
	padding: 10px 0 0;
}
.testi-img-container {
	cursor: pointer;
	margin: 30px auto 40px;
	max-width: 400px;
	position: relative;
	width: 100%;
}
.testi-img-container:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.25);
	content: "";
}
.testi-img-container img {
	width: 100%;
	vertical-align: top;
}
.customer-desc {
	bottom: 40px;
	left: 40px;
	position: absolute;
	text-align: left;
	z-index: 1;
}
.customer-desc .name {
	color: #00b0ff;
	display: block;
	text-shadow: 0 0 15px rgba(0,0,0,82);
	font-size: 20px;
	margin-bottom: 5px;
}
.customer-desc .desg {
	color: #fff;
	text-shadow: 0 0 15px rgba(0,0,0,1);
	font-size: 16px;
}
.videoplay-circle {
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
	border: 1px solid white;
	border-radius: 100%;
	display: inline-block;
	height: 100px;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index: 1;
	margin: -50px 0 0 -50px;
}
.videoplay-circle::before {
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 20px 0 20px 21px;
	content: " ";
	height: 0;
	left: 44%;
	margin-top: -5px;
	pointer-events: none;
	position: absolute;
	top: 36%;
	width: 0;
}
/* TESTIMONIAL CSS ENDS */
/* Customers section */

.customers-inner {
	text-align: center;
}
.logo-section {
	margin: 0 auto;
	max-width: 900px;
}
.logo-section h4 {
	color: #ccc;
	font-size: 26px;
	padding-bottom: 40px;
}
.logo-section li {
	display: inline-block;
	height: 50px;
	margin: 30px 30px 0;
	text-indent: -999em;
	width: 180px;
	opacity: 0.5;
}
.logo-section li a {
	display: block;
	height: 50px;
}
.logo-section .amazon {
	background-position: -10px -140px;
	width: 150px;
}
.logo-section .benchmark {
	background-position: -360px -146px;
}
.logo-section .amiad {
	background-position: -15px -190px;
	width: 150px;
}
.logo-section .selectra {
	background-position: -180px -146px;
}
.logo-section .sxp {
	background-position: -180px -190px;
}
.bot-signup {
	background: #00b0ff;
	padding: 90px 0;
	text-align: center
}
.bot-signup-inner {
}
.bot-signup h4 {
	font-size: 26px;
	color: #fff;
}
.bot-signup a {
	background: #fff none repeat scroll 0 0;
	color: #333;
	display: inline-block;
	font-size: 16px;
	line-height: 50px;
	margin: 25px 0 0;
	padding: 0 60px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
/* End of Customers seciton */

/* CUSTOMER AND TEST SECTION ENDS */

/* INTEGRATION PART CSS */
.crm-integration-img {
	display: none;
}
.integration {
	background: none repeat scroll 0 0 #00b0ff;
	margin: 0 auto;
	padding: 120px 0;
	text-align: center;
}
.integration h2 {
	color: #fff;
	padding-bottom: 20px;

}
.integration img {
	margin: 20px auto 40px;
}
.integration .more-integration a {
	border-bottom: 2px solid #fff;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	padding: 10px 5px 5px;
	text-transform: uppercase;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.more-integration a:hover {
	padding: 10px 15px 5px;
}
/* INTEGRATION PART ANIMATION CSS */

.integration-part {
	margin: 0 auto 40px;
	max-width: 1350px;
	min-height: 200px;
	padding: 0 0 0;
	position: relative;
	text-align: center;
}
.integration-part > ul {
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 9;
}
.integration-part li {
	color: #fff;
	padding-top: 20px;
	text-align: center;
	width: 130px;
	height: 130px;
	font-size: 14px;
	position: absolute;
	transition: 1.6s ease;
	-webkit-transition: 1.6s ease;
	opacity: 1;
}
.integration-part li a {
	color: #fff;
	display: block;
}
 @-webkit-keyframes bounceIn {
 0%, 20%, 40%, 60%, 80%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3);
 transform: scale3d(.3, .3, .3);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9);
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(.97, .97, .97);
 transform: scale3d(.97, .97, .97);
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
}
 @-moz-keyframes bounceIn {
 0%, 20%, 40%, 60%, 80%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 -moz-transform: scale3d(.3, .3, .3);
 transform: scale3d(.3, .3, .3);
}
 20% {
 -moz-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -moz-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9);
}
 60% {
 opacity: 1;
 -moz-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -moz-transform: scale3d(.97, .97, .97);
 transform: scale3d(.97, .97, .97);
}
 100% {
 opacity: 1;
 -moz-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
}
 @keyframes bounceIn {
 0%, 20%, 40%, 60%, 80%, 100% {
 -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 opacity: 0;
 -webkit-transform: scale3d(.3, .3, .3);
 transform: scale3d(.3, .3, .3);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9);
}
 60% {
 opacity: 1;
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(.97, .97, .97);
 transform: scale3d(.97, .97, .97);
}
 100% {
 opacity: 1;
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
}
}
.integration-part li span {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 100%;
	-webkit-border-radius: 100%;
	display: block;
	height: 100px;
	margin: 0 auto 15px;
	position: relative;
	width: 100px;
	background-image: url('http://www.zoho.com/crm/images/crm-sprite1.png');
	background-repeat: no-repeat;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	background-color: #c0ecff;
}
.integration-part li span:hover {
 //border: 1px solid #2ecc71;
}
.integration-part li span:after {
	background-color: none !important;
	border-radius: 100%;
	content: "";
	height: 94%;
	left: 3%;
	position: absolute;
	top: 3%;
	width: 94%;
}
.integration-part .zcrm span {
	background-position: -20px -445px;
	border: medium none;
	border-radius: 0;
	height: 120px;
	margin: 0 auto;
	width: 160px;
}
.integration-part .gapps span {
	background-position: -202px -405px;
	height: 150px;
	width: 150px;
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9)
}
.integration-part .fb span {
	background-position: 0 -204px;
	transform: scale(0.85, 0.85);
	-webkit-transform: scale(0.85, 0.85);
}
.integration-part .twitt span {
	background-position: -100px -204px;
	transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8)
}
.integration-part .zmail span {
	background-position: -200px -204px;
	transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7)
}
.integration-part .msoutlook span {
	background-position: -300px -204px;
	transform: scale(0.75, 0.75);
	-webkit-transform: scale(0.75, 0.75)
}
.integration-part .zapier span {
	background-position: -400px -204px;
	transform: scale(0.85, 0.85);
	-webkit-transform: scale(0.85, 0.85)
}
.integration-part .zsurvey span {
	background-position: 0 -304px;
	transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8)
}
.integration-part .zsalesiq span {
	background-position: -100px -304px;
	transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7)
}
.integration-part .zcampaigns span {
	background-position: -200px -304px;
	transform: scale(0.75, 0.75);
	-webkit-transform: scale(0.75, 0.75)
}
.integration-part li.centered {
	left: 50% !important;
	top: 41% !important;
	right: 50% !important;
	margin: -65px -65px 0 -65px;
	opacity: 0;
}
.integration-part li.zcrm {
	font-size: 22px;
	height: 180px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-transform: none;
	width: 320px;
	z-index: 11;
	display: none;
}
.integration-part li.gapps {
	font-size: 18px;
	height: 200px;
	left: auto;
	margin: 0 auto;
	position: relative;
	top: auto;
	transition: all 0.5s ease 0s;
	width: 190px;
	z-index: 30;
}
.integration-part li.fb {
	left: 33%;
	top: 30px;
}
.integration-part li.twitt {
	left: 21%;
	top: 30px;
}
.integration-part li.msoutlook {
	left: 10%;
	top: 30px;
	transition: 1.5s ease;
	-webkit-transition: 1.5s ease;
}
.integration-part li.zmail {
	left: -20px;
	top: 30px;
	transition: 1.3s ease;
	-webkit-transition: 1.3s ease;
}
.integration-part li.zapier {
	top: 30px;
	right: 33%;
}
.integration-part li.zsurvey {
	top: 30px;
	right: 21%;
}
.integration-part li.zcampaigns {
	top: 30px;
	right: 10%;
	transition: 1.5s ease;
	-webkit-transition: 1.5s ease;
}
.integration-part li.zsalesiq {
	top: 30px;
	right: 0;
	transition: 1.3s ease;
	-webkit-transition: 1.3s ease;
}
.integration-part li.zcrm span, .integration-part .zcrm {
	color: #fff;
}
.integration-part li.zcrm span, .integration-part .zcrm span, .integration-part li span::after {
	background-color: transparent !important;
	margin-bottom: 10px;
}
.integration-part li.zcrm span:hover, .integration-part .zcrm span:hover, .integration-part li span::after {
	border: none;
}
/* INTEGRATION PART CSS ENDS */



/* PRICING OFFER STARTS */

.pricing-offer {
	color: #fff;
	margin: 0 auto;
	overflow: hidden;
	padding: 120px 5%;
}
.pricing-offer .content-area {
	max-width: 660px;
}
.free-plan, .price-plan {
	background-color: #fdc701;
	background-repeat: no-repeat;
	box-shadow: 7px 7px 10px rgba(0,0,0,0);
	float: left;
	margin: 0 5% 0 0;
	max-width: 255px;
	min-height: 250px;
	padding: 40px 3%;
	position: relative;
	text-align: center;
	width: 39%;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.free-plan:hover, .price-plan:hover {
	box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.free-plan .freeplan-icon {
	text-align: center;
	background-image: url('images/crmhome-free-pricing-icon.png');
	background-position: center 0;
	width: 160px;
	height: 80px;
	display: block;
	margin: 25px auto 10px;
}
.price-plan {
	margin: 0 0 0 5%;
	background-color: #43b5f5;
	background-image: url("images/crmplus-bgicon1.png");
	background-position: left top;
	background-repeat: repeat;
	background-size: contain;
}
.price-plan .priceplan-icon {
	background-image: url("images/crmhome-pricing-plan-icon.png");
	background-position: 0 center;
	background-size: auto auto;
	width: 100px;
	height: 120px;
	display: block;
	margin: 0 auto 10px;
}
.pricing-offer h2 {
	font-family: "proxima_novalight";
	font-size: 34px;
	margin: 0 auto;
	max-width: 700px;
	padding-bottom: 50px;
	color: #333;
}
.price-plan h2 {
	font-family: "proxima_nova_rgregular";
	font-size: 24px;
	padding-bottom: 0px;
	margin-bottom: 0;
}
.pricing-offer h3 {
	color: inherit;
	font-size: 20px;
	line-height: 30px;
	margin: 0 auto;
	color: #333;
	text-transform: uppercase;
	font-family: 'proxima_nova_rgbold';
}
.pricing-offer p {
	color: #333;
	font-size: 14px;
	line-height: 24px;
	margin: 0 auto;
	max-width: 300px;
}
.pricing-offer a {
	border: 1px solid #000;
	bottom: 0;
	color: #000;
	display: inline-block;
	font-size: 14px;
	left: auto;
	margin: 10px auto 0;
	padding: 5px 15px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.free-plan:hover .go, .price-plan:hover .go {
	background: #000;
	color: #fff;
	padding: 5px 20px;
}
/* PRICING OFFER ENDS */

 

/****** Popup Video ******/
.z-pouup-wrap, .z-popup-overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	outline: 0!important;
	-webkit-backface-visibility: hidden;
	z-index: 101;
}
.z-pouup-wrap {
	display: none;
}
.z-pouup-wrap-inner {
	display: none;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0;
	overflow: auto;
	z-index: 102;
}
.z-pouup-wrap-inner:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-left: -5px;
}
.z-popup-content-inner .popup-data {
	display: block;
}
.z-popup-overlay {
	background: #fffno-repeat center center;
	background: rgba(255, 255, 255, 0.95) url(/crm/images/popup-preloader.gif)no-repeat center center;
	cursor: pointer;
	display: none;
}
.z-popup-content-wrap {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	width: 100%;
}
.z-popup-content {
	margin: 20px auto;
	max-width: 800px;
	background: #fff;
	z-index: 6;
	position: relative;
	text-align: initial;
	width: 90%;
	transition: height 0.5s ease;
}
.z-video-wrap .z-popup-content {
	padding: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	max-width: 70%;
}
.popup-data {
	display: none;
}
.popup-data-inner {
	padding: 30px;
}
.z-popup-close {
	display: block;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	text-align: center;
	color: #000;
	text-decoration: none;
	z-index: 2;
	background: url('http://www.zoho.com/creator/images/e-p-sprite.png') no-repeat 10px -6px;
	text-indent: -1000;
	overflow: hidden;
	z-index: 1001;
}
.popup-data {
	display: none;
}
/* TWEETS SECTION */

.customer-tweet {
	max-width: 450px;
	margin: 0 auto 60px;
	text-align: center;
}
.customer-tweet .content-area {
	opacity: 0;
	transition: 0.75s ease;
	-webkit-transition: 0.75s ease;
}
.customer-tweet.animate .content-area {
	opacity: 1;
}
.customer-tweet .twitter-name {
	margin-bottom: 10px;
	display: block;
	color: #00b0ff;
	font-size: 20px;
	line-height: 1.4;
	font-family: 'proxima_novalight';
}
.tweet-customer {
	background-image: url("images/twitter-pics.png");
	border-radius: 10px;
	display: block;
	height: 50px;
	vertical-align: top;
	width: 50px;
	margin: 0 auto 12px;
	background-color: #a5a3a3;
	background-repeat: no-repeat;
	background-position: -150px 0;
	background-size: 250px 150px;
}
.customer-tweet p {
	font-family: "proxima_novalight";
	font-size: 22px;
	line-height: 1.5;
	margin: 0;
}
.customer-tweet .highlight, .twitter-name a {
	color: #00b0ff;
}
.morelove {
	border-bottom: 1px solid #00b0ff;
	color: #00b0ff;
	display: inline-block;
	margin-top: 20px;
	padding-bottom: 1px;
}

/* TWEETS SECTION ENDS */


/* End of Home page CSS */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
.top-message li span, .logo-section li, .product-logo {
	background-image: url("images/crm-new-home-sprite@2x.png");
	background-size: 630px 240px;
}
}

/* RESPONSIVE STARTS */

@media screen and (max-width: 1650px) {
.feature-collage-img {
	margin: -200px auto 0;
	padding: 0;
}
.feature-collage-img li a {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}
.feature-collage-img li.email a {
	left: 17%;
	top: 40px;
}
.feature-collage-img li.social a {
	right: 20%;
}
.feature-collage-img li.telephony a {
	right: 20%;
}
.feature-collage-img .illustration-bg {
	top: 0;
	background-size: contain;
	left: 0;
	margin-left: 0;
	width: 94%;
	margin: 0 3%;
}
.testimonial {
	min-height: 350px;
}
}

@media screen and (max-width: 1300px) {
.feature-collage-img {
	margin: -140px auto 0;
	min-height: 20px;
	padding: 0;
}
.feature-collage-img li.chat {
	display: none;
}
.feature-collage {
	background-image: none;
}
.umain .banner-inner {
	padding: 100px 0 200px;
}
.customers, .testimonial {
	float: none;
	padding: 100px 5%;
	width: 90%;
}
.testimonial {
	min-height: 250px;
}
.feature-collage-img li a {
	transform: scale(0.9);
}
.feature-collage-img li.email a {
	left: 22.5%;
	top: 40px;
}
.feature-collage-img li.social a {
	right: -15px;
}
.feature-collage-img li.salessignals a {
	right: 20%;
	margin-left: 0;
	left: auto;
}
}

@media screen and (max-width: 1199px) {
.banner-content {
	padding: 0 5% 60px;
	width: 90%;
	float: none;
	text-align: center;
}
.banner-content p {
	max-width: 100%;
	padding: 0 5%;
}
.signup-twocol {
	float: none;
	margin: 0 auto;
	padding: 35px 40px 30px;
	background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
	z-index: 9;
}
.banner-inner {
	text-align: center;
}
h1 {
	font-size: 50px;
	margin: 0 auto 20px;
	max-width: 100%;
}
.integration-part li.fb {
	left: 32%;
}
.integration-part li.twitt {
	left: 20.5%;
}
.integration-part li.msoutlook {
	left: 9%;
}
.integration-part li.zmail {
	left: -20px;
}
.integration-part li.zapier {
	right: 32%;
}
.integration-part li.zsurvey {
	right: 21.5%;
}
.integration-part li.zcampaigns {
	right: 10%;
}
.integration-part li.zsalesiq {
	right: 0;
}
}

@media screen and (max-width: 1170px) {
.product-header-inner {
	padding: 0 20px !important;
	width: 100%;
	box-sizing: border-box;
}
h1 {
	font-size: 44px;
}
.banner-content p {
	margin: 0 auto;
	max-width: 750px;
	padding: 0 0 10px 0;
}
.top-message h2 {
	font-size: 30px;
	max-width: 600px;
}
.top-message-inner {
	padding: 80px 0;
}
.feature-collage-img {
	margin: -120px auto 0;
}
.feature-collage-img > ul {
	margin: -200px auto 0;
	max-width: 950px;
}
.feature-collage-img li.email {
	display: none;
}
.feature-collage-img li.salessignals a {
	right: 21%;
}
.feature-collage-img li a {
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
}
.feature-collage-img li.salessignals a {
	left: 50%;
	margin-left: -212px;
	right: auto;
}
.feature-collage-img .illustration-bg {
	top: 20px;
}
}

@media screen and (max-width: 992px) {
.m-show {
	display: block;
}
.m-hide, .integration-part, .crm-features-screen {
	display: none;
}
p {
	font-size: 16px;
}
h2 {
	font-size: 24px;
}
h1 {
	font-size: 46px;
	line-height: 1.4;
}
.top-message li {
	min-height: 340px;
	width: 50%;
}
.pricing-offer {
	padding: 80px 5%;
}
.product-menu li {
	margin-left: 30px;
}
.crm-integration-img {
	display: block;
}
.integration h2 {
	font-size: 34px;
}
.integration {
	padding: 90px 0;
}
.umain .banner-inner {
	padding: 80px 0 160px;
}
.testimonial {
	min-height: 180px;
}
}

@media screen and (max-width: 900px) {
.feature-collage-img li a {
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
}
.feature-collage-img li.telephony a {
	top: 0;
}
.feature-collage-img .illustration-bg {
	top: 60px;
}
}

@media screen and (max-width: 767px) {
.feature-collage, .signup-twocol, .web-content, .feature-collage-img .illustration-bg {
	display: none;
}
.customer-tweet .content-area {
	opacity: 1;
}
h1 {
	font-size: 36px;
	line-height: 1.4;
}
.product-menu li {
	margin-left: 0;
}
.product-logo {
	color: #333;
	background-size: auto auto;
	padding: 0 0 0 75px;
	line-height: 55px;
}
.product-header-inner {
	padding: 0 !important;
}
.top-message, .banner-part, .customers, .testimonial {
	padding: 0 10%;
}
.banner-content {
	width: 100%;
	padding: 0;
}
.top-message li {
	min-height: 30px;
	padding: 0 0 70px;
	width: 100%;
}
.product-header-inner {
	min-height: 50px;
}
.banner-inner {
	padding: 80px 0;
}
.top-message li:last-child {
	padding: 0 0 0;
}
.free-plan, .price-plan {
	margin: 0 3%;
	width: 38%;
}
.pricing-offer .price-plan h2 {
	text-align: center;
}
.signupnow-button, .mob-content {
	display: inline-block;
}
.signupnow-button a {
	color: inherit;
}
.top-message-inner {
	padding: 60px 0 70px;
}
.pricing-offer {
	padding: 50px 5% 80px;
}
.integration {
	padding: 80px 0;
}
.top-message h2 {
	font-size: 24px;
	line-height: 34px;
	max-width: 450px;
	text-align: left;
	margin: 0;
}
.top-message-inner > p {
	text-align: left;
}
.product-menu li a {
	color: #333;
}
.umain .banner-content {
	padding: 0 5%;
}
.umain .banner-inner {
	padding: 80px 0;
}
.customers, .testimonial {
	padding: 80px 10%;
	width: 80%;
}
.logo-section h4 {
	font-size: 24px;
	padding-bottom: 20px;
}
.pricing-offer h2 {
	font-size: 34px;
}
.customer-tweet {
	margin: 0 auto;
	padding: 50px 10%;
}
.feature-collage-img {
	margin: 0 auto;
}
.banner-inner {
	padding: 80px 0 200px;
}
.feature-collage {
	display: block;
}
.feature-collage-img li a {
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
}
.feature-collage-img li.salessignals a {
	left: auto;
	margin-left: 0;
	right: -20px;
}
.feature-collage-img li.telephony a {
	top: 40px;
}
.social {
	display: none;
}
.feature-collage-img > ul {
	max-width: 650px;
}
}

@media screen and (max-width: 650px) {
h1 {
	font-size: 30px;
	line-height: 1.2;
}
.top-message h2 {
	font-size: 24px;
}
.product-menu li > span {
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: 12px;
	padding: 15px 0;
	text-transform: uppercase;
	font-family: "proxima_novasemibold";
}
.crm-integration-img {
	padding: 0 10%
}
.integration h2, .pricing-offer {
	font-size: 24px;
}
.pricing-offer .content-area {
	padding: 0;
}
.free-plan, .price-plan {
	float: none;
	margin: 0 auto 70px;
	max-width: 350px;
	min-height: 30px;
	padding: 50px 0;
	width: 90%;
}
.price-plan {
	float: none;
	margin: 0 auto;
}
.pricing-offer a {
	bottom: auto;
	left: auto;
	margin: 10px auto 0;
	position: relative;
}
.free-plan .freeplan-icon, .price-plan .priceplan-icon {
	margin: 0 auto 20px;
}
.pricing-offer {
	padding: 80px 5%;
}
.testimonial {
	background-position: center center;
}
.top-message-inner > p {
	display: none;
}
.pricing-offer h2 {
	font-size: 30px;
	margin: 0 auto;
	max-width: 320px;
}
.feature-collage-img {
	margin: 0 auto;
}
.banner-inner {
	padding: 60px 0 180px;
}
.feature-collage-img > ul {
	margin: -115px auto 0;
	max-width: 280px;
	min-height: 420px;
	padding: 0;
}
.feature-collage-img li a {
	transform: scale(1);
	-webkit-transform: scale(1);
}
.feature-collage-img li.telephony a {
	top: 0;
}
.feature-collage-img li.salessignals {
	display: none;
}
}

@media screen and (max-width: 500px) {
.customer-desc {
	bottom: 25px;
	left: 30px;
	max-width: 210px;
}
.videoplay-circle {

	margin: -70px 0 0 -50px;
}
h1 {
	max-width: 260px;
}
.banner-content p {
	max-width: 270px;
}
.pricing-offer h2 {
	font-size: 24px;
	line-height: 1.5;
	padding-bottom: 40px;
}
.top-message h2 {
	font-size: 22px;
	max-width: 250px;
}
.customer-tweet p {
	font-size: 16px;
	line-height: 26px;
	margin: 0 auto;
	max-width: 270px;
}
}
/* FOOTER NEW CSS */
.footer-cta {
	display: none;
}
.footer-new {
	overflow: hidden;
	border-top: 1px solid #eee;
	background: #f5f5f5;
}
.footer-banner, .footer-crm {
	width: 40%;
	float: left;
	min-height: 400px;
	padding: 70px 0;
	box-sizing: border-box;
}
.footer-crm {
	width: 60%;
	background: #fff;
	padding-left: 4%;
	padding-right: 4%;
}
.footer-crm-inner {
	max-width: 650px;
}
.footer-crm-inner > ul {
	width: 30.33%;
	float: left;
	margin: 0 3% 30px 0;
}
.footer-crm-inner > ul li a {
	color: #333;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 7px 0;
	text-align: left;
}
.footer-crm-inner > ul li:first-child, .footer-crm-inner > ul li:first-child a {
	font-size: 20px;
	padding: 0 0 15px 0;
	color: #000;
}
.footer-crm-inner .hub-innerpage {
	padding-left: 10px;
	display: none;
}
.footer-crm-inner .hub-innerpage a {
	font-size: 12px;
	padding: 3px 0;
}
.footer-crm-inner .hub-innerpage.show {
	display: block;
}
.footer-common {
	padding: 40px 0 0;
	border-top: 1px solid #c9d4d8;
	clear: both;
}
.footer-common ul {
	margin: 0 0 15px;
	max-width: 680px;
	overflow: hidden;
 //text-align:center;
}
.learn-more {
	color: #00aeef;
	display: block;
	margin-top: 20px;
	font-size: 16px;
}
.footer-common li {
	border-left: 1px solid #ccc;
	display: inline-block;
	line-height: 0;
	overflow: hidden;
	padding: 0 12px;
}
.footer-common li:first-child {
	border-left: medium none;
	padding: 0 10px 0 0;
}
.footer-common li a {
	color: #333333;
	font-size: 12px;
	line-height: 14px;
}
.footer-common p {
	font-size: 12px;
	margin: 5px 0 0;
}
.footer-zohologo {
	display: none;
}
.footer-zohologo a {
	margin: 5px 0 0;
}
.footer-no-banner .footer-banner {
	display: none;
}
.footer-no-banner .footer-crm {
	width: 100%;
}
.footer-no-banner .footer-crm-inner {
	margin: 0 auto;
}
.footer-no-banner .footer-common {
	text-align: center;
}
.footer-no-banner .footer-common ul {
	margin: 0 auto 15px;
}
.footer-banner {
	text-align: center;
	padding-top: 100px;
}
.footer-banner-inner {
	margin: 0 auto;
	display: inline-block;
	width: 80%;
	max-width: 350px;
}
.footer-banner-inner img {
	width: 100%;
}
.footer-banner-inner p {
	text-align: center;
	margin: 5px auto;
	width: 100%;
	max-width: 190px;
}
.footer-image-part {
	background: #fff none repeat scroll 0 0;
	box-sizing: border-box;
	color: #000;
	display: block;
	font-family: proxima_novablack;
	font-size: 28px;
	height: 200px;
	line-height: 1;
	padding: 20px 40px;
	text-align: center;
	text-transform: uppercase;
	width: 350px;
}
.footer-image-part > img {
	display: block;
	height: 79px;
	margin: 0 auto 15px;
	width: 103px;
}

@media screen and (max-width: 1150px) {
.footer-crm {
	width: 70%;
}
.footer-banner {
	width: 30%;
}
}

@media screen and (max-width: 992px) {
.footer-crm {
	width: 100%;
}
.footer-banner {
	width: 100%;
}
.footer-crm-inner {
	margin: 0 auto;
}
.footer-common {
	text-align: center;
}
.footer-common ul {
	margin: 0 auto 15px;
}
.footer-banner {
	padding-top: 70px;
}
}

@media screen and (max-width: 767px) {
.footer-crm {
	padding-left: 10%;
	padding-right: 10%;
}
.footer-crm-inner > ul {
	width: 45%;
}
}

@media screen and (max-width: 550px) {
.footer-crm-inner > ul {
	width: 100%;
}
}
/* FOOTER NEW CSS ENDS */
