/*login popup*/

.login_modal .modal-dialog {
    width: 363px;
}
.login_modal .modal-header h5 {
    color: #fff;
    display: inline;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 20px;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.login_modal .modal-header {
    background-color: #0191d0;
    padding: 8px;
}
.login_modal .modal-header .close {
    color: #fff;
    font-size: 27px;
    opacity: 1;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.login_modal .login_body .form-control {
    box-shadow: none;
    height: 40px;
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 0px;
}

.modal-open {
    overflow: no-scroll;
}
.modal-open .modal {
    overflow-x: no-scroll;
    overflow-y: no-scroll;
}
.btn_login_pop {
    background: #0191d0 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 9px 16px;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.btn_login_pop:hover {
    background: #333;
    transition: all 0.5s ease 0s;
    color: #fff;
}
.forgot_sec {
    margin-top: 17px;
}
.forgot_lft {
    float: left;
    width: 50%;
}
.forgot_lft label {
    color: #323c46;
    font-size: 12px;
    padding-left: 0;
    text-transform: capitalize;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.forgot_rht > a {
    color: #337ab7;
    text-transform: capitalize;
    font-size: 12px;
}

.forgot_rht > a:hover {
    color: #337ab7;
    font-size: 12px;
}
.forgot_rht {
    float: right;
    font-weight: bold;
}
.modal-open {
    overflow: scroll;
}
.forgot_sec > h5 {
    color: #323c46;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 6px;
    margin-top: 26px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    display: block;
}
.pL-0 {
    padding-left: 0;
    float: left;
}
.pad-no {
    padding: 0;
    float: left;
}
.btn_create_pop {
    background: #0191d0 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: table;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    padding: 9px 16px;
    text-transform: uppercase;
    width: 100%;
}
.btn_create_pop:hover{
    background: #333;
    transition: all 0.5s ease 0s;
    color: #fff;
}
.login_modal .modal-footer h4 {
    color: #323c46;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.login_modal.reg_modal .modal-dialog {
    width: 363px;
}
.reg_body .checkbox label {
    color: #323c46;
    font-weight: 500;
    font-size: 12px;
    padding-left: 0;
    text-align: center;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.btn_create_pop {
    background: #0191d0 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: table;
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
    padding: 9px 16px;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}
.reg_body .checkbox {
    margin-bottom: 21px;
}
.captcha img {
    margin: 0 auto;
}
/*.login_modal .login_body .form-control.wd50 {
	float: left;
	margin-right: 19px;
	width: 48%;
}*/
.marrht0 {
    margin-right: 0!important;
}
.login_modal.reg_modal .modal-header {
    padding: 8px;
}
.login_body p {
    color: #323c46;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', 'Droid Arabic Naskh', serif !important;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: #0191d0;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.form-control::-moz-placeholder {
    color: #999999;
    font-size: 14px;
    opacity: 1;
}
.formGrp {
    position: relative;
}
.formGrp .form-control {
    padding-left: 36px;
}
.formGrp > span {
    left: 8px;
    position: absolute;
    top: 8px;
}