<?php 
$this->load->view('front/header_inner');
 ?>

<section class="blog_sec">
    <div class="inner_title">
      <h4>blogs</h4>
    </div>
<div class="container">
    <div class="row">
    <div class="col-md-9">
	<?php if($blogs) { foreach($blogs as $blogs1) { ?>
        
		<a href="<?php echo base_url(); ?>blog_details/<?php echo $blogs1->news_id; ?>"><div class="row mar-top-20">
        <div class="col-md-4">
            <div class="blog_img">
            <img src="<?php echo base_url(); ?>assets/uploads/blog_cat/<?php echo $blogs1->img; ?>" class="img-responsive">
            </div>
            </div>
            
            <div class="col-md-8">
            <div class="blog_cont">
                <h5><span><img src="<?php echo base_url(); ?>assets/img/calender.png" class="img-responsive"></span><?php echo $blogs1->create_date; ?></h5>
                <h4><?php echo $blogs1->heading; ?> </h4>
                <p><?php echo htmlspecialchars_decode($blogs1->description); ?></p>
                </div>
            </div>
        </div></a>
		
		<?php }  } else { ?>
		<br><br><br><br><br><br><br>
  <center><img src="<?php echo base_url(); ?>assets/img/soon.png"></center>
  <br><br><br><br><br>
		
		<?php } ?>
		</div>
    <div class="col-md-3">
        <div class="side_panel">
		<?php //echo form_open(""); ?>
	<!--	<input type="text" class="form-control" placeholder="search">-->
		<?php //echo form_close(); ?>
		<div class="cate_list">
            <h4>Categories</h4>
            <ul>
			<?php if($blog_cat){  foreach($blog_cat as $blog_cat1) {?>
			<li><a href="<?php echo base_url(); ?>blogs/<?php echo $blog_cat1->cat_id ?>"><?php echo $blog_cat1->category; ?></a></li>
				<?php } }  ?>
            </ul>
            </div>  
            
            <!--<div class="comments">
            <h4>comments</h4>
            </div>    
                <div class="total_list">
                <div class="com_prof">
                    <img src="<?php echo base_url(); ?>assets/img/com_prof.png" class="img-responsive">
                    </div>
                <div class="prof_cmments">
                    <h4>Admin says :</h4>
                    <p>Quisque semper nunc vitae...</p>
                    </div>    
                
                <div class="clearfix mar-top-20"></div>    
                <div class="com_prof">
                    <img src="<?php echo base_url(); ?>assets/img/com_prof.png" class="img-responsive">
                    </div>
                <div class="prof_cmments">
                    <h4>Admin says :</h4>
                    <p>Quisque semper nunc vitae...</p>
                    </div>   
            </div> -->
        </div>
        </div>    
    </div>
    </div>
</section>

<?php $this->load->view('front/footer'); ?>
