<?php 
$this->load->view('front/header_inner');
 ?>

<section class="depost_btc">
<?php if($pages->pagecontent != "") { ?>
  <div class="container">
    <div class="inner_title">
      <h4><?php echo $pages->pagetitle; ?></h4>
    </div>
    <div class="about_cont">
      <img src="<?php echo base_url(); ?>assets/img/about.png" class="img-responsive">
        
     <?php echo htmlspecialchars_decode($pages->pagecontent); ?>
      </div>
  </div>
  <?php }  else {  ?>
  <br><br><br><br><br>
  <center><img src="<?php echo base_url(); ?>assets/img/soon.png"></center>
  <br><br><br><br><br>
  <?php  }?>
</section>

<?php $this->load->view('front/footer'); ?>