<?php $this->load->view('front/header_inner'); ?>
<section class="contact_us">
<div class="container">
<div class="row mar-top-30 mar-bot-40">
    <div class="col-md-8 col-sm-7">
        <div class="wallet_title">
        <h4>wallet balance</h4>
        </div>
        <div class="wallet_coin">
        <div class="">
			
					<?php
					foreach($allcurrency as $currency)
					$curre[$currency->currency_symbol] = $currency->status;

					
					if($curre['BTC']=='active')
					{
					?>
        <div class="back_shad clearfix">
        <div class="col-md-6">
        <div class="bal_det">
        <h4><span><img src="<?php base_url(); ?>assets/img/btc.png" class="img-responsive"></span>btc</h4>  
        </div>
        
        <div class="coin_list">
        <h4>Bitcoin</h4>
<p><?php echo number_format((float)$balances->BTC, 8, '.', '')  ?></p> 
               </div>  
            </div> 
			<div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                  
			  <?php if($exchange_status == "enable")
               { ?>
                <li class="exch_icon">&nbsp;
                <!-- <a href="<?php echo base_url(); ?>exchange" title="Exchange"><img src="<?php base_url(); ?>assets/img/exchange.png" class="img-responsive"></a> -->
                </li>
                <?php }  else { ?>
				<li>
                <a href="">&nbsp;</a>
                </li> <?php } ?>
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
               <a href="<?php echo base_url(); ?>deposit/BTC"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                  <a href="<?php echo base_url(); ?>withdraw/BTC"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
          <?php } ?>  
            
            
            
            <?php if($curre['ETH']=='active'){?>
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/eth.png" class="img-responsive"></span>eth</h4>  
               </div>
             <div class="coin_list">
               <h4>Ethereum</h4>
                <p><?php echo number_format((float)$balances->ETH, 8, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <?php if($exchange_status == "enable")
{  ?>
                <li class="exch_icon">&nbsp;
                <!--  <a href="<?php echo base_url(); ?>exchange" title="Exchange"><img src="<?php base_url(); ?>assets/img/exchange.png" class="img-responsive"></a>-->
                </li>
                <?php }  else { ?>
				<li>
                <a href="">&nbsp;</a>
                </li> <?php } ?>             
                <li>
                <a href="<?php echo base_url(); ?>trade"  title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>deposit/ETH"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw/ETH"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?> 
            
            <?php if($curre['XRP']=='active'){?> 
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/xrp.png" class="img-responsive"></span>XRP</h4>  
               </div>
             <div class="coin_list">
               <h4>Ripple</h4>
<p><?php echo number_format((float)$balances->XRP, 8, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                
                <li>
                <a href="">&nbsp;</a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>deposit/XRP"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw/XRP"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            
            
            
            <?php if($curre['XMR']=='active'){?> 
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/xmr.png" class="img-responsive"></span>XMR</h4>  
               </div>
             <div class="coin_list">
               <h4>Monero</h4>
<p><?php echo number_format((float)$balances->XMR, 8, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li>
                <a href="">&nbsp;</a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
          <a href="<?php echo base_url(); ?>deposit/XMR"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw/XMR"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            
          <?php if($curre['ETC']=='active'){?>   
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/etc.png" class="img-responsive"></span>etc</h4>  
               </div>
             <div class="coin_list">
               <h4>Ethereum Classic</h4>
<p><?php echo number_format((float)$balances->ETC, 8, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li>
                <a href="">&nbsp;</a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>deposit/ETC"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw/ETC"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            
            
          <?php if($curre['ZEC']=='active'){?>   
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/zec.png" class="img-responsive"></span>zec</h4>  
               </div>
             <div class="coin_list">
               <h4>Zcash</h4>
<p><?php echo number_format((float)$balances->ZEC, 8, '.', '')  ?></p>                 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li>
                <a href="">&nbsp;</a>
                </li>
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>deposit/ZEC"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
              <a href="<?php echo base_url(); ?>withdraw/ZEC"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            
          <?php if($curre['LTC']=='active'){?>   
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/ltc.png" class="img-responsive"></span>ltc</h4>  
               </div>
             <div class="coin_list">
               <h4>Litecoin</h4>
<p><?php echo number_format((float)$balances->LTC, 8, '.', '')  ?></p>  
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li>
                <a href="">&nbsp;</a>
                </li>
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
              <a href="<?php echo base_url(); ?>deposit/LTC"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw/LTC"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
          <?php } ?>  
            
            
            
         <?php if($curre['DOGE']=='active'){?>    
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/zec.png" class="img-responsive"></span>doge</h4>  
               </div>
             <div class="coin_list">
               <h4>Dogecoin</h4>
<p><?php echo number_format((float)$balances->DOGE, 8, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li>
                <a href="">&nbsp;</a>
                </li>
                <li>
                <a href="<?php echo base_url(); ?>trade"  title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>deposit/DOGE"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
               <a href="<?php echo base_url(); ?>withdraw/DOGE"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            
      <?php if($curre['DASH']=='active'){?>      
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/dash.png" class="img-responsive"></span>dash</h4>  
               </div>
             <div class="coin_list">
               <h4>Dashcoin</h4>
<p><?php echo number_format((float)$balances->DASH, 8, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li>
                <a href="">&nbsp;</a>
                </li>
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
               <a href="<?php echo base_url(); ?>deposit/DASH"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
               <a href="<?php echo base_url(); ?>withdraw/DASH"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            <?php if($curre['BCH']=='active'){?> 
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/bch.png" class="img-responsive"></span>BCH</h4>  
               </div>
             <div class="coin_list">
			<h4>BCH</h4>
                <p><?php echo number_format((float)$balances->BCH, 8, '.', '')  ?></p>  
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li>
                <a href="">&nbsp;</a>
                </li>
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                
                <li>
                <a href="<?php echo base_url(); ?>deposit/BCH"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw/BCH"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            
            <?php if($curre['INR']=='active'){?> 
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/inr.png" class="img-responsive"></span>inr</h4>  
               </div>
             <div class="coin_list">
               <h4>Indian Rupees</h4>
<p><?php echo number_format((float)$balances->INR, 2, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                
				<li class="exch_icon">
                <a href="<?php echo base_url(); ?>exchange" title="Exchange"><img src="<?php base_url(); ?>assets/img/exch_ico.png" class="img-responsive"></a>
                </li>
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
				<li>
               <a href="<?php echo base_url(); ?>deposit_ia"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw_ia"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            
            <?php if($curre['AED']=='active'){?> 
            <div class="back_shad clearfix">
           <div class="col-md-6">
            <div class="bal_det">
             <h4><span><img src="<?php base_url(); ?>assets/img/aed.png" class="img-responsive"></span>aed</h4>  
               </div>
             <div class="coin_list">
               <h4>Arab Emirates Dirham</h4>
<p><?php echo number_format((float)$balances->AED, 2, '.', '')  ?></p> 
               </div>  
            </div> 
            <div class="col-md-6">
            <div class="list_det">
            <ul class="list-inline">
                <li class="exch_icon">
                <a href="<?php echo base_url(); ?>exchange" title="Exchange"><img src="<?php base_url(); ?>assets/img/exchange.png" class="img-responsive"></a>
                </li>
                <li>
                <a href="<?php echo base_url(); ?>trade" title="Trade"><img src="<?php base_url(); ?>assets/img/hign_bar.png" class="img-responsive"></a>
                </li>
                <li>
               <a href="<?php echo base_url(); ?>deposit_ia/AED"> <button class="btn btn_deposit">deposit</button></a>
                </li>
                
                 <li>
                <a href="<?php echo base_url(); ?>withdraw_ia/AED"><button class="btn btn_deposit">withdraw</button></a>
                </li>
                
                
                </ul>    
                </div>
            </div>
            </div>
            <?php } ?>
            
            </div>
        </div>
		<?php if($type == "broker"){ ?><br>
		<h3>Refer Income</h3>
		  <div class="dep_tablesc dep_tableinrsc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table ex_history" id="table_list">
          <thead>
            <tr>
              <th>S. No.</th>
              <th>Username</th>
              <th>Currency</th>
              <th>Amount</th>
              <th>Date & Time</th>
            
            </tr>
          </thead>
          <tbody>
		  <?php if($income_his){ $i=1; foreach($income_his as $income_his1) { ?>
		  <tr>
		  <td><?php echo $i; ?></td>
		  <td><?php echo $income_his1->emanZrIeSsOu; ?></td>
		  <td><?php echo ($income_his1->currency)?$income_his1->currency:'--'; ?></td>
		  <td><?php echo $income_his1->credit_amount; ?></td>
		  <td><?php echo $income_his1->credited_on; ?></td>
		  </tr>		  
		  <?php $i++; }  } ?>
		  </tbody>
        </table>
      </div>
    </div> <?php } ?>
	</div>
    <div class="col-md-4 col-sm-5">
    <div class="clearfix">
   <!--   <div class="wallet_title">
        <h4>profile</h4>
        </div>
        <div class="pro_box">
        <div class="user_prof">
            <img src="<?php base_url(); ?>assets/img/user_dash.png" class="img-responsive">
            </div>
        <div class="user_det">
            <h4><?php echo $details->emanZrIeSsOu; ?></h4>
			
      <?php if($details->type == "broker") { ?>      <h5>Client ID : <?php echo $details->client_id; ?></h5> <?php } ?>			
          <h5>Type : <?php echo ($details->type=='broker')?'Affiliate':'Individual'; ?></h5>
            </div>  
        <div class="choose_btn" style="z-index:0;">
		<a href="<?php echo base_url() ?>refer"><button class="btn btn_edit">Refer Friends</button></a>
	
        <a href="<?php echo base_url() ?>profile"><button class="btn btn_edit">edit</button></a>
            </div>    
        </div>
        </div>-->
        
      <!--    <div class="clearfix mar-top-20">
         <div class="wallet_title">
        <h4>security</h4>
        </div>
        <div class="pro_box">
        <div class="user_prof">
            <img src="<?php base_url(); ?>assets/img/secur_dash.png" class="img-responsive">
            </div>
        <div class="user_det">
            <h5>Security</h5>
         <h5><?php echo ($details->tfa_code != "")?$details->tfa_code:'' ; ?></h5>
	<h5>Status : <?php echo ($details->Tfa_status != "" || $details->Tfa_status == "enable")?'Enabled':'Disabled' ; ?></h5>
        
            </div>
          <div class="choose_btn" style="z-index: 0;">
       <a href="<?php echo base_url(); ?>profile/security"><button class="btn btn_edit">Edit</button></a>
            </div>
        </div>
        </div>-->
        
        
        <div class="clearfix mar-top-20">
         <div class="wallet_title">
        <h4>recent login</h4>
        <div class="box_login">
          
        <?php foreach($histry as $histry1){ ?>
		<div class="login_bor clearfix">
        <div class="login_statuts">
	        <p><?php echo $histry1->Action . "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" . $histry1->datetime; ?></p>    
	        <!-- <p><?php echo $histry1->datetime;  ?></p>    -->       
        </div> 
        <div class="login_stat">
            <p><?php echo $histry1->ipAddress;  ?></p>
            </div>    
        </div>
		
		<?php } ?>
		
             </div>     
        </div>
            
            
            
            
        
        
        </div>
    </div>
    </div>
</section>

<?php $this->load->view('front/footer'); ?>
<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script src="<?php echo base_url(); ?>new_assets/js/general_settings.js?<?php echo time(); ?>"></script>
<script type="text/javascript">
$('#table_list').DataTable();
</script>
