<?php 
$this->load->view('front/header_inner');
 ?>
<section class="blog_sec fees_sec">
    <div class="inner_title">
      <h4>fees</h4>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
        <div class="fees_stru">
            <h4><?php echo $fees->pagetitle; ?></h4>    
        <p><?php echo htmlspecialchars_decode($fees->pagecontent); ?></p>  
            </div>
        </div>        
        <div class="col-md-6 col-sm-6">
        <div class="fees_list">
            <ul>
            <li>
            <div class="fee_per">
                <h4>Trading Pairs</h4>
                </div>
                 <div class="fee_per">
                <h4> % Fee</h4>
                </div> 
                
                </li>
                
				
				<?php if($trade_fee) { foreach($trade_fee as $trade_fee1) { ?>
				<li>
            <div class="fee_per">
                <h5><?php echo $trade_fee1->from_currency; ?>-<?php echo $trade_fee1->to_currency; ?></h5>
                </div> 
                
                 <div class="fee_per">
                  <h5> <?php echo $trade_fee1->buy_fee; ?> % </h5>
                </div> 
                
                </li>
				<?php } } ?>
				
                
                
            </ul>
            </div>
        </div>
    </div>
    </div>
</section>

<?php 
$this->load->view('front/footer');
 ?>
 
