<script>
	  var base_url="<?php echo base_url(); ?>";
</script>

<script> var pass_ex="<?php echo site_config()->password_expire; ?>"; </script>
<style>
.captcha {
    display: table;
    margin: 9px auto;
}
</style>
<!-- <footer class="pad-top-40 pad-bot-20 foot_bor">
<div class="container">
<div class="row">
<div class="main_menu">
<?php if($this->session->userdata('user_id') == "") { ?>
<ul class="list-inline clearfix">
<li><a href="<?php echo base_url(); ?>">home</a></li>
<li><a href="<?php echo base_url(); ?>safe_secure">Safe &amp; Secure</a></li>
<li><a href="<?php echo base_url(); ?>about">About us</a></li>
<li><a href="<?php echo base_url(); ?>faq">FAQ  </a></li>
<li><a href="<?php echo base_url(); ?>fees"> Fees  </a></li>
<li><a href="<?php echo base_url(); ?>testimonials">Testimonials</a></li>
<li><a href="<?php echo base_url(); ?>blogs"> Blogs</a></li>
<li><a href="<?php echo base_url(); ?>contact">Contact us</a></li>
</ul> 
<?php } ?> 
              </div>
        <div class="text-center clearfix">
              <div class="copy_right">
            <p>php echo site_config()->footer_content; </p>
            </div>
              </div>      
          </div>
          </div>
      </footer>-->
    
<!-- subfooter section-->


 <div id="error-modal" class="modal fade">
  <div class="modal-dialog">
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
    <!--<strong id="stat"></strong>--> <span id="msg"></span>
  </div>
  </div>
  </div>
  </div>
  
  

	<div id="success-modal" class="modal fade">
  <div class="modal-dialog">
  <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
    <!--<strong id="stat_suc"></strong>-->
	<span id="msg_suc"></span>
  </div>
  </div>
  </div>
    
    <div class="sub_footer pad-top-10 pad-bot-10" style="display: none;">
      <div class="social_media">
        <ul class="list-inline">
          <li><a href="<?php echo site_config()->facebook_url; ?>"><i class="fa fa-facebook"></i></a></li>
            <li><a href="<?php echo site_config()->twitter_url; ?>"><i class="fa fa-twitter"></i></a></li>
			<li><a href="<?php echo site_config()->google_plus; ?>"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="<?php echo site_config()->medium_url; ?>"><i class="fa fa-medium"></i></a></li>
          </ul>
        </div>
      </div>  
    <!--    <div class='to-top'>
         <a class='back-to-top fa fa-angle-up' href='#'></a>
      </div>     -->


<!--login modal-->
<div class="modal fade login_modal" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">login details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="login_body">
     
		  <?php echo form_open("",array('class'=>'form-horizontal','id'=>'login_form'));  ?>
		  <div class="alert alert-success" id="succc_login" style="display:none"><span id="msg_succc_login"></span>
			</div>
			<div class="alert alert-danger" id="errr_login" style="display:none"><span id="msg_errr_login"></span>
			</div>
		   <div class="formGrp">
           	<input type="text" class="form-control" placeholder="Email id" name="email" id="email">
		   	<span><img src="<?php echo base_url(); ?>assets/img/mail-icon.png"></span>
		   </div>
		   <div class="formGrp">
            <input type="password" class="form-control" placeholder="Password" name="password">  
			   <span><img src="<?php echo base_url(); ?>assets/img/lock-icon.png"></span>
		   </div>
			<input type="hidden" class="form-control" name="type1" value="indi">
			<button type="submit"class="btn btn_login_pop" id="login_btn">login</button>
            <div class="forgot_sec">                
              <div class="forgot_lft">
                 <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                   remember me
                  </label>
                </div>
                </div>
                
                  <div class="forgot_rht">
                    <a onclick="forgot_popup()" href="javascript:void(0)">forgot password?</a>  
                </div>  
                
            <div class="clearfix"></div>    
            <h5>Don’t have an account?  <a onclick="register_popup()" href="javascript:void(0)">Register</a></h5>    
                
              </div>  
              
              
           </form>
          </div>
      </div>
      <div class="modal-footer">
          <h4>If you are affiliate partner?  <a href="javascript:void(0)" onclick="login_popup1()">Click Here</a></h4>
      </div>
    </div>
  </div>
</div>


<div class="modal fade login_modal" id="login1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">login details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="login_body">
     
		  <?php echo form_open("",array('class'=>'form-horizontal','id'=>'login_form1'));  ?>
		  <div class="alert alert-success" id="succc_login" style="display:none"><span id="msg_succc_login"></span>
			</div>
			<div class="alert alert-danger" id="errr_login_bro" style="display:none"><span id="msg_errr_login_bro"></span>
			</div>
		   <div class="formGrp">
			   <input type="text" class="form-control" placeholder="Client id" name="clientid" id="clientid">
		    	<span><img src="<?php echo base_url(); ?>assets/img/mail-icon.png"></span>
		   </div>
		   <div class="formGrp">
            <input type="password" class="form-control" placeholder="Password" name="password">
		   <span><img src="<?php echo base_url(); ?>assets/img/lock-icon.png"></span>
		   </div>
			<input type="hidden" class="form-control" name="type1" value="brok">
			<div class="captcha">
             <div class="g-recaptcha" id="signup_recaptcha"></div>
			 <input type="hidden" id="res_signup_recaptcha" value=''>
              </div>
			   <div id="captcha_error1"></div>
            <button type="submit"class="btn btn_login_pop" id="login_btn">login</button>
            <div class="forgot_sec">                
              <div class="forgot_lft">
                 <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                   remember me
                  </label>
                </div>
                </div>
                
                  <div class="forgot_rht">
                    <a onclick="forgot_popup()" href="#">forgot password ?</a>  
                </div>  
                
            <div class="clearfix"></div>    
            <h5>Don’t have an account?  <a onclick="register_popup()" href="#">Register</a></h5>    
                
              </div>  
              
              
           </form>
          </div>
      </div>
      <div class="modal-footer">
          <h4>If you are Individual?  <a href="javascript:void(0)" onclick="login_popup()">Click Here</a></h4>
      </div>
    </div>
  </div>
</div>


<?php //if($this->session->userdata('user_id') == "") { ?>

<div class="modal fade login_modal" id="tfa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">INPUT YOUR 2FA AUTHENTICATOR CODE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="login_body">
     
		  <?php echo form_open("",array('class'=>'form-horizontal','id'=>'tfa_form'));  ?>
		
		<div class="alert alert-danger" id="tfa_error" style="display:none"><span id="tfa_error_msg"></span>
			</div>
		<input type="" class="form-control" placeholder="Dynamic Code" name="onecode">
		
		<div id="captcha_error1"></div>
        <button type="submit"class="btn btn_login_pop" id="login_btn">Submit</button>
            
			</form>
          </div>
      </div>
     
    </div>
  </div>
</div>

<?php if($status_reset == "present")
{
?>
<div class="modal fade login_modal" id="reset_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="login_body">
     
		  <?php $attributes=array('id'=>'reset_form','class'=>'form-horizontal'); echo form_open('',$attributes); ?>
		  <div class="alert alert-success" id="succc_reset" style="display:none"><span id="msg_succc_reset"></span>
			</div>
			<div class="alert alert-danger" id="errr_reset" style="display:none"><span id="msg_errr_reset"></span>
			</div>
          
		  <input type="email" class="form-control" id=""  value="<?php  echo $em.$data->dilZiIaSmOe;  ?>" readonly name="email">
          
		  <input type="password" class="form-control" id="123" name="npassword" placeholder="New Password">
		  
		  <input type="password" class="form-control passwordField" id="" name="rpassword" placeholder="Retype New Password">
		  
            <button type="submit"class="btn btn_login_pop" id="reset_btn">Submit</button>
            
              
           </form>
          </div>
      </div>
      <div class="modal-footer">
          <h4>Enter your new password Above to change the password on your account</h4>
      </div>
    </div>
  </div>
</div>
<?php } ?>

<div class="modal fade login_modal fgt_mdl" id="forgot" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">forgot password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="login_body">
          <?php echo form_open('',array('class'=>'form-horizontal','id'=>'forgot_form')); ?>
            <p>Forgot your password? Enter the email address of your account to reset your password, otherwise you can try again</p>
			<div class="alert alert-success" id="succc_forgot" style="display:none"><span id="msg_succc_forgot"></span>
			</div>
			<div class="alert alert-danger" id="errr_forgot" style="display:none"><span id="msg_errr_forgot"></span>
			</div>
		   <div class="formGrp">
            	<input type="text" class="form-control" placeholder="Email Id" name="email" id="forg_mail">  
			   <span><img src="<?php echo base_url(); ?>assets/img/mail-icon.png"></span>
		   </div>
            <button type="submit" class="btn btn_login_pop" id="forgot_btn">submit</button>  
           </form>
          </div>
      </div>

    </div>
  </div>
</div>

<!--register modal-->
<div class="modal fade login_modal reg_modal" id="reg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Register Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
  
     
      <div class="modal-body">
       <div class="login_body reg_body">
          <?php echo form_open('',array("id"=>'register')); ?>
		   
		   <div class="alert alert-success" id="succc" style="display:none"><span id="msg_succc"></span>
			</div>
			<div class="alert alert-danger" id="errr" style="display:none"><span id="msg_errr"></span>
			</div>
			<div class="form-group">
        <select name="type" class="form-control" onchange="change_type(this.value)">
		<option value="individual">Individual</option>
		<option value="broker">Affiliate</option>
		</select>
		   
		   </div>
		   
			<div class="form-group">
           <input type="text" class="form-control" placeholder="Username" name="username"></div>
		   <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Id" name="email">
 				<input type="hidden"  name="refered_id" value="<?php echo $ref_id; ?>">			
			</div>
			<div class="form-group col-md-6 pL-0">
             <input type="password" class="form-control wd50" placeholder="Password" name="password" id="pwd">
			</div>		
			
			<div class="form-group col-md-6 pad-no">
            <input type="password" class="form-control wd50 marrht0" placeholder="Confirm Password" name="cpassword"> 
			   </div>
<!-- <div class="captcha">
             <div class="g-recaptcha" id="recaptcha"></div>
			 <input type="hidden" id="res_recaptcha" value=''>
              </div>
			  <div id="captcha_error"></div> -->
              
<div class="clearfix"></div>
<div id="trm">
			  <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" name="check">
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                   Agree the <a href="<?php echo base_url();?>terms" target="_blank">terms & conditions</a>
                  </label>
                </div>
                </div>
              
              <button id="register_btn" type="submit" class="btn btn_create_pop">create an account</button>
              
              
           </form>
          </div>
      
      
      <div class="modal-footer">
          <h4>Already have an account ? <a href="#" onclick="login_popup()">Login</a></h4>
      </div>
    </div>
  </div>
</div>
</div>



<div class="modal fade login_modal reg_modal" id="reg1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Register Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  
	   <div class="modal-body">
       <div class="login_body reg_body" style="text-align:center;">
        <h5 style="color:red;">Due to sudden surge in number of registrations, Sign-Ups are temporarily put on hold.</h5>
          </div>
     
		  </div>
		  
		   <div class="modal-footer">
          <h4>Already have an account ? <a href="#" onclick="login_popup()">Login</a></h4>
      </div>
    </div>
  </div>
</div>





<!--forgot modal-->



  

<script src="<?php echo base_url(); ?>assets/js/jquery.min.js"></script>
	
<script src="<?php echo base_url(); ?>assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="<?php echo base_url(); ?>assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="<?php echo base_url(); ?>assets/js/top_link.js"></script>
      
<script src="<?php echo base_url(); ?>assets/js/wow.min.js"></script>
<script>
 	new WOW().init();
	jQuery(window).load(function() { 
	 	jQuery("#status").fadeOut();
	 	jQuery("#preloader").delay(1000).fadeOut("slow");
	})
	
	
	$( "#ReferralEntry-button" ).click(function() {
		  window.location.href = "<?php echo base_url(); ?>referral";
	});
	
</script>
<script src="<?php echo base_url(); ?>assets/js/jquery.validate.js"></script>
<?php if($this->session->userdata('user_id') == "") { ?>
<!-- <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" sync defer></script> -->
<script src="<?php echo base_url(); ?>new_assets/js/general_settings.js?<?php echo time(); ?>"></script>
  <!--<script src="<?php echo base_url(); ?>assets/js/general_settings.js?<?php echo time(); ?>"></script>-->
<script src="<?php echo base_url(); ?>assets/js/pop_main.js?<?php echo time(); ?>"></script>
<?php if($verify_status == "yes")
{
?>
<script>
$("#stat").html("Error");
$("#msg").html("Already Verified This Account / Invalid URL ");
$('#error-modal').modal('show');
setTimeout(function(){ window.location.href="<?php echo base_url(); ?>"; }, 4000);
</script>
<?php 
}
?>

<?php if($verify_status == "no")
{
?>
<script>
$("#stat").html("Error");
$("#msg_suc").html("Successfully Verified Your Email Account ,Your password will Expiry in "+pass_ex+" days");
$('#success-modal').modal('show');      
 setTimeout(function(){ window.location.href="<?php echo base_url(); ?>"; }, 4000);
</script>
<?php 
}
?>

<?php if($status_reset == "expire")
{
?>
<script>
$("#stat").html("Error");
$("#msg").html("Sorry, that password change link is too old. Select 'forgot password' to get a new Link");
$('#error-modal').modal('show');
setTimeout(function(){ window.location.href="<?php echo base_url(); ?>"; }, 4000);
</script>
<?php 
}
?>

<?php if($status_reset == "present")
{
?>

<script>
$('#reset_modal').modal('show');
</script>
<?php } ?>

<?php  } ?>

<script type="text/javascript">
var data_key = '6Leqi2MUAAAAAAZEPp_NXtkcuzqyJ2IvKZ3CAwES';

var verifyCallback1 = function(response) {
	$('#res_recaptcha').val(response);
};

var verifyCallback2 = function(response1) {
	$('#res_signup_recaptcha').val(response1);
	//$('#res_signup_recaptcha').val("1");
};

var widgetId1;
var widgetId2;
/*var onloadCallback = function() {
	// Renders the HTML element with id 'example1' as a reCAPTCHA widget.
	// The id of the reCAPTCHA widget is assigned to 'widgetId1'.
	widgetId1 = grecaptcha.render('recaptcha', {
	'sitekey' : data_key,
	'theme' : 'light',
	'callback' : verifyCallback1,
	});
	widgetId2 = grecaptcha.render('signup_recaptcha', {
	'sitekey' : data_key,
	'theme' : 'light',
	'callback' : verifyCallback2,
	});

};*/
</script>

<?php if($ref_id != "") { ?>
<script>
$("#reg").modal("show");
</script>
<?php } ?>

<?php if($this->session->userdata('user_id') != "") { ?>
<script src="<?php echo base_url(); ?>assets/js/lg.js"></script>
<?php } ?>

<script>
<?php if(site_config()->registration=='enable') { ?>
var register_type="enable";
<?php } else {  ?>
var register_type="disable";
<?php } ?>
</script>

<!--Start of Tawk.to Script Mujeeb
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b473d4d4af8e57442dc9271/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>-->
<!--End of Tawk.to Script-->

<!-- Start Mouseflow Script by Mujeeb  
<script type="text/javascript">
  window._mfq = window._mfq || [];
  (function() {
    var mf = document.createElement("script");
    mf.type = "text/javascript"; mf.async = true;
    mf.src = "//cdn.mouseflow.com/projects/9e682e54-7a43-4c47-8679-1d2f158b7bdd.js";
    document.getElementsByTagName("head")[0].appendChild(mf);
  })();
</script>-->


</body>
</html>
  
