<?php $this->load->view('front/header_inner'); ?>
<?php $stat=$this->session->userdata('stat'); ?>

<?php $uri2 = $this->uri->segment("2"); 
   

	if($status=="disable" && $stat != "verification") //Force 2 Fator Authentication by Mujeeb
	{
		$stat = "security";
	}
	//echo "Stat Code : " . $stat;
?>
<section class="profile">
 
    <div class="row">
        <div class="tabbable-panel">
				<div class="tabbable-line tab_center_css">
					<ul class="nav nav-tabs ">
						<li <?php if($stat == "profile" || $stat == "") { ?> class="active" <?php } ?>>
							<a href="#tab_default_1" data-toggle="tab">
							profile settings</a>
						</li>
						<li <?php if($stat == "verification") { ?> class="active" <?php } ?>>
							<a href="#tab_default_5" data-toggle="tab">
							Verification </a>
						</li>
					<!-- 	<li <?php if($stat == "bank_verification") { ?> class="active" <?php } ?>>
							<a href="#tab_default_6" data-toggle="tab">
							Bank Verification </a>
						</li> -->
						<li <?php if($stat == "change") { ?> class="active" <?php } ?>>
							<a href="#tab_default_2" data-toggle="tab">
							Change Password </a>
						</li>
						
						<li <?php if($stat == "security") { ?> class="active" <?php } ?>>
							<a href="#tab_default_3" data-toggle="tab">
							Security  </a>
						</li>
						<li <?php if($stat == "api") { ?> class="active" <?php } ?>>
							<a href="#tab_default_7" data-toggle="tab">
							API Management  </a>
						</li>
                        <li <?php if($stat == "login") { ?> class="active" <?php } ?>>
							<a href="#tab_default_4" data-toggle="tab">
							 Login History
                            </a>
						</li>
					</ul>
				<div class="tab-content">
              
			   <div class="tab-pane <?php if($stat == "bank_verification") { ?>active<?php } ?>" id="tab_default_6">
				<section class="personal_info">
              <div class="title_pro mar-bot-40">
                                <h3>Verify Bank Account : <?php if($bank_verification->status != ""){  if($bank_verification->status == "verified"){
								echo "<span style='color:green'>".$bank_verification->status . "</span>"; 
								} elseif($bank_verification->status == "Rejected") { echo "<span style='color:red'>".$bank_verification->status . "</span>"; }
else { echo "<span style='color:orange'>".$bank_verification->status . "</span>"; } } else { echo "<span style='color:red'>unverified</span>"; } ?></h3>
                            </div>
                           <div class="container">
						   <?php if($bank_verification->status != "pending") { ?>
                            <div class="row">
                               
							   
							   <?php echo form_open("",array('class'=>'form-horizontal profile_form','id'=>'bank_form')); ?>							   
							   <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                        <label class="col-md-4">Bank Name</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Name" name="bank_name" value="<?php echo $bank_verification->bank_name; ?>">
                                    </div>
                                    </div>    
                                    </div>
                                
                                <div class="form-group">
                        <label class="col-md-4">Account Holder</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Account Holder" name="account_holder"  value="<?php echo $bank_verification->account_holder; ?>">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                     <div class="form-group">
                        <label class="col-md-4">Bank Account Number</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Account Number" name="account_number" value="<?php echo $bank_verification->account_number; ?>">
                                    </div>
                                    </div>    
                                    </div>
									</div>
                         
						 <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                        <label class="col-md-4">Bank Address</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Address" name="bank_address"  value="<?php echo $bank_verification->bank_address; ?>">
                                    </div>
                                    </div>    
                                    </div>
									
									<div class="form-group">
                        <label class="col-md-4">IBAN / IFSC Code</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Swift / IBAN / IFSC Code" name="iban_code" value="<?php echo $bank_verification->iban_code; ?>">
                                    </div>
                                    </div>    
                                    </div>
									
									<div class="form-group">
                        <label class="col-md-4">Account type</label>
                                <div class="col-md-8">
                                <div class="form_inp">
                                <select class="form-control" name="account_type">
								<option value="savings" <?php if($bank_verification->account_type == "savings"){ echo "selected"; } ?>>savings</option>
								<option value="current" <?php if($bank_verification->account_type == "current"){ echo "selected"; } ?>>current</option>
								</select>
                                </div>
                                </div>
                                </div>
								</div>
								</div>
							   <?php } ?>
                            </div>
              </section>

			  <?php if($bank_verification->status != "pending") { ?>
<section class="bank_proof">
<div class="container">
    
                    <div class="row">
                <div class="proof clearfix">
                    <div class="col-md-12 col-sm-12">
                    <div class="accoun_info">
                        <h4>Bank Account Book</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document1" id="file-6" class="inputfile inputfile-5" />
					<label for="file-6"><div>
					<?php if($bank_verification->document ==  "") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $bank_verification->document; ?>" class="img-responsive">
					<?php } ?>					
                        </div> <span></span></label>
				</div>
                               
                </div>
                        </div>
                        <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div> 
                    </div>
                    
                    
                    
                     
                    </div>    
                    </div> 
    </div>
</section>
<?php } else { ?> <br><br><?php } ?>



<section class="notict">
<div class="container">
    <div class="row">
	<div class="notice_title">
	<?php if($bank_verification->status == "verified") { ?>
		
        <h4>notice</h4>
        <h5>To avoid delays when verifying your account, make sure that your submitted documents are:</h5>
        
        <ul>
        <li>Images of High Quality (colour images, 300dpi resolution or higher)</li>
        </ul> 
        <?php } ?>

		

		<?php
		 if(($bank_verification->status == "pending")) { ?>
			 <center><h3>Pending for Admin Approval<br><br><br></h3></center>
		<?php }else if($bank_verification->status == "verified") {?>
		<?php }else { ?>
			
			
			        
        <div class="col-md-3"></div>
			<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="form-group cmnt_blk clearfix">
			<label class="form-control-label"></label>
			<textarea class="tarea1" placeholder="Comments (Optional)" name="bank_comments"></textarea>
			</div>
			</div>	
<div class="col-md-3"></div>

<div class="clear" style="clear:both"></div>

			  <button  type="submit" class="btn btn_submit">submit</button>	
		<br>
		</form>
		<?php  } ?>
        </div>
    </div>
    </div>
</section>

				</div>
				
			  
                    
					
						<div class="tab-pane <?php if($stat == "profile" || $stat == "") { ?>active<?php } ?>" id="tab_default_1">
							<div class="">
							
                                <?php echo form_open('',array('class'=>'form-horizontal profile_form','id'=>'personal_inform')) ?>
                        <section class="personal_info">
						
                             <div class="title_pro mar-bot-40">
                                <h3>personal information</h3>
                            </div>
                              
                            <div class="container">
                            <div class="row"> 
                                
                          
                                
                                <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                        <label class="col-md-4">Email id</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="username" value="<?php echo $em.$result->dilZiIaSmOe; ?>"  readonly>
                                    </div>
                                    </div>    
                                    </div>
                                
                                <div class="form-group">
                        <label class="col-md-4">User name</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="ID/Passport/SS Number" value="<?php echo $result->emanZrIeSsOu; ?>" readonly>
                                    </div>
                                    </div>    
                                    </div>
                                    </div>
                                
                                
                                <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                        <label class="col-md-4">Mobile Number</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Mobile Number" name="phone" value="<?php echo $result->phonenumber; ?>">
                                    </div>
                                    </div>    
                                    </div>
                                
                                    </div>
                                
                                     
                            
                                </div>   
                                
                            </div>
                                      </section> 
                                
                        <section class="address_details">
                             <div class="title_pro mar-bot-40">
                                <h3>address details</h3>
                            </div>
                           <div class="container">
                            <div class="row">
							<div class="col-md-6 col-sm-6">
                            <div class="form-group">
                        <label class="col-md-4">Street Line 1</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Street Line 1" value="<?php echo $result->strt1; ?>" name="strt1">
                                    </div>
                                    </div>    
                                    </div>
                                
                                <div class="form-group">
                        <label class="col-md-4">Street Line 2</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control"    value="<?php echo $result->strt2; ?>" name="strt2" placeholder="Street Line 2">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                     <div class="form-group">
                        <label class="col-md-4">City</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control"  value="<?php echo $result->city; ?>" name="city" placeholder="City">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                    
                                    </div>
                                
                                
                                <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                        <label class="col-md-4"> Country </label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    	<select class="form-control selectpicker" name="country" onchange="change_state(this.value)">
													<?php foreach($country as $country1) { ?>
													<option value="<?php echo $country1->id; ?>" <?php if($country1->id == $result->country) { echo "selected"; } ?>><?php echo $country1->country_name; ?></option> <?php } ?>
										</select>
                                    </div>
                                    </div>    
                                    </div>
                                    
                                    <div class="form-group">
                        <label class="col-md-4">Province / State</label>    
                                <div class="col-md-8">
                                    <div class="form_inp"  id="state_id12">
                                   <select class="form-control selectpicker" name="state">
															<option><?php echo $this->lang->line('select state'); ?></option>
													<?php foreach($state as $state1) { ?>
														<option value="<?php echo $state1->id; ?>" <?php if($state1->id == $result->state) { echo "selected"; } ?>><?php echo $state1->state_name; ?></option>
													<?php } ?>
													
														</select>	
                                    </div>
                                    </div>    
                                    </div>
                                    
                                    
                                    <div class="form-group">
                        <label class="col-md-4">Postal / Zip code</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Postal / Zip code" value="<?php echo $result->postal_code; ?>"  name="postal_code">
                                    </div>
                                    </div>    
                                    </div>
                                
                                    </div>
                                
                                      
                               </div>
                            </div>     
                        </section> 
                                
                                
                        <section class="bank_details">
                            <!-- <div class="title_pro mar-bot-40">
                                <h3>bank details</h3>
                            </div>
                           <div class="container">
                            <div class="row">
                               <form class="form-horizontal profile_form">
                                
                                <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                        <label class="col-md-4">Bank Name</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Name">
                                    </div>
                                    </div>    
                                    </div>
                                
                                <div class="form-group">
                        <label class="col-md-4">Bank Account Type</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Account Type">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                     <div class="form-group">
                        <label class="col-md-4">Bank Account Number</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Account Number">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                    
                                    </div>
                                
                                
                                <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                        <label class="col-md-4">Bank Branch</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Branch">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                    <div class="form-group">
                        <label class="col-md-4">Bank City</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank City">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                    
                                    <div class="form-group">
                        <label class="col-md-4">Swift / IBAN / IFSC Code</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Swift / IBAN / IFSC Code">
                                    </div>
                                    </div>    
                                    </div>
                                
                                    </div>
                                
                                   
                                    </form>  
                               </div>
                            </div>  
                        </section>  -->  
                        <div class="update_btn_box">
                                   <button type="submit" class="btn update_btn">Update Profile Settings</button>
                                   
                                   </div>
								   </form>
                            </div>
							
						</div>
                        
                        
        <div class="tab-pane <?php if($stat == "change") { ?>active<?php } ?>" id="tab_default_2">
				 <section class="bank_details">
                           <div class="container">
                            <div class="row">

<?php echo form_open('',array('id'=>'change_pass','class'=>'form-horizontal profile_form change_pwd_form')); ?>
							<div class="col-md-12">
                            <div class="form-group">
							<label class="col-md-4">Old Password</label>
							<div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="password" class="form-control" placeholder="Old Password" name="password">
                                    </div>
                                    </div>    
                                    </div>
                                
                                <div class="form-group">
                        <label class="col-md-4">New Password</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="password" class="form-control" placeholder="New Password" name="npassword" id="npwd">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                     <div class="form-group">
                        <label class="col-md-4">Confirm Password</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="password" class="form-control" placeholder="Confirm Password" name="cnpassword">
                                    </div>
                                      <button type="submit" class="btn update_btn mar-top-20">Update password</button>
                                    </div>    
                                    </div>
                                    
                                    </div>

                                    </form>  
                               </div>
                            </div>     
                        </section> 
						</div>
                    
        <!-- Start of Security Form -->            
        <div class="tab-pane <?php if($stat == "security") { ?>active<?php } ?>" id="tab_default_3">
    
                    <section class="bank_details">
                     <div class="title_pro mar-bot-40">
                        <h3>Setup Google Two Factor Authenticator</h3>
                        <span style="float:right;margin-right:45px;margin-top:18px;font-style:normal;">
	                        <ol style="font-style:normal;">
	                        	<li>Get the Google Authenticator App from the <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_IN" target="_blank">App Store</a></li>
	                        	<li>In the App Select <span style="font-style:bold;color:red;">Set up account</span></li>
	                        	<li>Choose <span style="font-style:bold;color:red;">Scan Barcode</span></li>
	                        	<li>Enter <span style="font-style:bold;color:red;">6-digits code</span> in Authentication Code</li>
	                        	<li>Finally Click on <span style="font-style:bold;color:red;">Enable Security</span></li>
	                        </ol>
                        </span>
                    </div>
                   <div class="container">
                    <div class="row">
                       <?php echo form_open('',array('class'=>'form-horizontal profile_form','id'=>'tfa_change')); ?>
					  
                        <div class="col-md-6 col-sm-6">
	                        <div class="form-group">
	              				  <label class="col-md-4">Your Authentication Key</label>    
	                        	<div class="col-md-8">
	                           	 	<div class="form_inp">
	                           			 <input type="text" class="form-control" placeholder="<?php echo $secret; ?>" value="<?php echo $secret; ?>" readonly name="secret">
	                            	</div>
	                            </div>    
	                        </div>

		               	    <div class="form-group">
		                		<label class="col-md-4">Authentication Code</label>    
		                        <div class="col-md-8">
		                            <div class="form_inp">
		                           		 <input type="text" class="form-control" placeholder="Authentication Code" name="one_code">
		                            </div>
									
									<button type="submit" class="btn update_btn mar-top-20"><?php if($status != "enable"){  ?><?php echo 'ENABLE'; ?> <?php } else { ?><?php echo 'DISABLE'; ?> <?php  } ?><?php echo 'SECURITY'; ?></button>
									
		                        </div>    
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6">
		                    <div class="scan_sec">
		                           <!--  <img src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth%3A%2F%2Ftotp%2F<?php echo "Bitunio"; ?>%3Fsecret%3D<?php echo $secret; ?>" class="img-responsive"> -->
		                            <img src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth%3A%2F%2Ftotp%2F<?php echo "Bitunio"; ?>%3Fsecret%3D<?php echo $secret; ?>" class="img-responsive">
		                          <h4><?php echo $secret; ?></h4>
                            </div>
                        </div>

                            </form>  
                       </div>
                    </div>     
                </section>
		  </div><!-- End of Security Form -->
		  
		  <!-- Start of API Form -->            
        <div class="tab-pane <?php if($stat == "api") { ?>active<?php } ?>" id="tab_default_7">
    
                    <section class="bank_details">
                    <!--<div class="title_pro mar-bot-40">
                        <h3 style="float:left;margin-left:110px;font-size:24px;">Generate API Key</h3>
                        <span style="float:right;margin-right:45px;margin-top:18px;font-style:normal;">
	                        <ol style="font-style:normal;">
	                        	<li>Get the Google Authenticator App from the <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_IN" target="_blank">App Store</a></li>
	                        	<li>In the App Select <span style="font-style:bold;color:red;">Set up account</span></li>
	                        	<li>Choose <span style="font-style:bold;color:red;">Scan Barcode</span></li>
	                        	<li>Enter <span style="font-style:bold;color:red;">6-digits code</span> in Authentication Code</li>
	                        	<li>Finally Click on <span style="font-style:bold;color:red;">Enable Security</span></li>
	                        </ol>
                        </span>
                    </div>  --> 
                   <div class="container">
                    <div class="row">
                       <?php echo form_open('',array('class'=>'form-horizontal profile_form','id'=>'api_create')); ?>
					  
                        <div class="col-md-6 col-sm-6">
	                        <!--  <div class="form-group">
	              				  <label class="col-md-4">Your Authentication Key</label>    
	                        	<div class="col-md-8">
	                           	 	<div class="form_inp">
	                           			 <input type="text" class="form-control" placeholder="<?php echo $secret; ?>" value="<?php echo $secret; ?>" readonly name="secret">
	                            	</div>
	                            </div>    
	                        </div>-->

		               	    <div class="form-group">
		                		<!--  <label class="col-md-4">Enter API key Label</label>    -->
		                        <div class="col-md-8">
		                            <div class="form_inp"> </br></br>
		                            	 Enter API key Label
		                            	 <div class="custom-form">
		                            	 	<input id="apiname" name="apiname" type="text" placeholder="Enter key label" value="">
		                            	 	<button type="button" id="inputCreate-button-create1">Create</button>
		                            	 </div>
		                           		<!--  <input type="text" class="form-control" placeholder="API Key Label" name="apiname"> -->
		                            </div>									
									<!-- <button type="submit" class="btn update_btn mar-top-20"><?php if($status != "enable"){  ?><?php echo 'ENABLE'; ?> <?php } else { ?><?php echo 'DISABLE'; ?> <?php  } ?><?php echo 'SECURITY'; ?></button>-->
									
		                        </div>    
                            </div>
                        </div>


                       <!--  <div class="col-md-3 col-sm-6">
		                    <div class="scan_sec">
		                           <!--  <img src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth%3A%2F%2Ftotp%2F<?php echo "Bitunio"; ?>%3Fsecret%3D<?php echo $secret; ?>" class="img-responsive"> -->
		                            <!--<img src="https://chart.googleapis.com/chart?chs=200x200&chld=M|0&cht=qr&chl=otpauth%3A%2F%2Ftotp%2F<?php echo "Bitunio"; ?>%3Fsecret%3D<?php echo $secret; ?>" class="img-responsive">-->
		                         <!-- <h4><?php echo $secret; ?></h4>-->
                           <!--  </div> -->
                        <!--   </div> -->
                        
                        <div class="col-md-3 col-sm-6">
                        	<div class="scan_sec">
                        	</div>
                        </div>	
                        <div class="container">
                            <div id="flip-scroll" class="login_history">    
                            <table class="table" id="api_list">
                              <thead>
                                <tr>
                                  
                                  <th>Name</th>
                                  <th>API Key</th>
                                  <th>API Secret</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody id="tdata">
							  
							  <?php
							  if($apikeys)
							  {
							  $i=1;
							  foreach($apikeys as $keys) { ?>
								<tr>								
								<td><?php echo $keys->Api_name; ?></td>
								<td><?php echo $keys->Api_key; ?></td>
								<td><?php echo $keys->Api_secret; ?></td>
								<td><?php echo $keys->Api_status; ?></td>    
								</tr>
								<?php $i++; } } ?>

                              </tbody>
                            </table>
                                </div>    
                            </div>

                            </form>  
                       </div>
                    </div>     
                </section>
		  </div><!-- End of API Form -->
                        
         <div class="tab-pane <?php if($stat == "login") { ?>active<?php } ?>" id="tab_default_4">
							
                            <div class="container">
                            <div id="flip-scroll" class="login_history">    
                            <table class="table" id="table_list">
                              <thead>
                                <tr>
                                  <th>S. No.</th>
                                  <th>IP Address</th>
                                  <th>Browser</th>
                                  <th>Action</th>
                                <th>Date & Time</th>
                                </tr>
                              </thead>
                              <tbody>
							  
							  <?php
							  if($yroZtIsSiOh)
							  {
							  $i=1;
							  foreach($yroZtIsSiOh as $yroZtIsSiOh1) { ?>
								<tr>
								<td><?php echo $i; ?></td>
								<td><?php echo $yroZtIsSiOh1->ipAddress; ?></td>
								<td><?php echo $yroZtIsSiOh1->Browser; ?></td>
								<td><?php echo $yroZtIsSiOh1->Action; ?></td>
								<td><?php echo $yroZtIsSiOh1->datetime; ?></td>    
								</tr>
								<?php $i++; } } ?>

                              </tbody>
                            </table>
                                </div>    
                            </div>
						</div>
						
		<div class="tab-pane <?php if($stat == "verification") { ?>active<?php } ?>" id="tab_default_5">
						<section class="personal_info">
                <div class="title_pro mar-bot-40">
                  <h3>VERIFY ACCOUNT : <span id="verify"><?php if($verification->verification_status != "") { 
					if($verification->verification_status != "Approved") 
					{ 
					
						if($verification->verification_status == "pending")
						{
				 			 echo "<span style='color:orange'>Pending </br></br></br><span style='color:black'>We are reviewing your identity right now, we will get back to you after verification complete.</span></span>";
						}
						else if($verification->verification_status == "Rejected")
						{
				 			 echo "<span style='color:red'>Rejected</span>";
						}
						else 
						{
							 echo "<span style='color:orange'>".$verification->verification_status."</span>";
						}

				  	} 
					else 
					{ 
						echo "<span style='color:green'>Verified</span>";
					} 
				} 
				else 
				{ 	
					echo "<span style='color:red'>unverified : Please click to verify your account...</span>"; 
				}?></span></h3>
                </div> <!-- End of Veify Account Info Status else display form -->
                
				<?php if($verification->verification_status != "Approved" && $verification->verification_status != "pending") { ?>
                <div class="container" id="verifybutton">
	                <!--  By Mujeeb Added -->
	                <div class="row">
	                	<!-- Mati button-->
						<div
						  style='width:200px;margin-left:450px;'
						  class="mati-button responsive"
						  data-product="kyc"
						  data-country="us"
						  data-style="blue">
						</div>                	
	                </div> <!-- Mati Added by Mujeeb -->
	                
                  <div class="row" style="display:none;">
				  
					<?php echo form_open("",array('id'=>'verify_form','class'=>'form-horizontal profile_form')); ?>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Your Name</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Your Name" type="text" name="name" value="<?php echo $verification->fname; ?>">
                            </div>
                          </div>
                        </div>
                        <!--<div class="form-group">
                          <label class="col-md-4">ID Document Number</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Account Name" type="text">
                            </div>
                          </div>
                        </div>-->
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Pan Card Number</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Pan Card Number" type="text" name="id_number" value="<?php echo $verification->Identity_card_no; ?>">
                            </div>
                          </div>
                        </div>
                      </div>
                        
                        
                       <!--  <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Account Number</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Account Number" type="text">
                            </div>
                          </div>
                        </div>
                      </div> 
                        
                        
                        <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Swift / IBAN / IFSC Code</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Swift / IBAN / IFSC Code" type="text">
                            </div>
                          </div>
                        </div>
                      </div>-->
                        
                        
                   
	</div>     
                </div><!-- End of Verification Form -->
  </section>

<section class="bank_proof">
<div class="container">
    
     <!--              <div class="row">
                <div class="proof clearfix">
                    <div class="col-md-4 col-sm-4">
                    <div class="accoun_info">
                        <h4>Pan card proof</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document4" id="file-5" class="inputfile inputfile-5"/>
					<label for="file-5"><div>
					<?php if($verification->document1=="") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $verification->document1; ?>" class="img-responsive">
					<?php } ?>					
                        </div> <span></span></label>
				</div>
                               
                </div>
                        </div>
                        <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div> 
                    </div>
                    
                     <div class="col-md-4 col-sm-4">
                    <div class="accoun_info no-js">
                        <h4>Photo ID Proof</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document2" id="file-7" class="inputfile inputfile-5"/>
					<label for="file-7"><div>
					<?php if($verification->document2 ==  "") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $verification->document2; ?>" class="img-responsive">
					<?php } ?>	   
                        </div><span></span></label>
				</div>                
                </div>
                </div>
             <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div>              
                    </div>
                    
                    
                     <div class="col-md-4 col-sm-4">
                    <div class="accoun_info no-js">
                        <h4>Address Proof</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document3" id="file-8" class="inputfile inputfile-5"/>
					<label for="file-8"><div>
                   <?php if($verification->document3 ==  "") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $verification->document3; ?>" class="img-responsive">
					<?php } ?>	 
                        </div> <span></span></label>
				</div>
                                 
                                	</div>
                        </div>
                         <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div> 
                    </div>
                    </div>    
                    </div> 
 </div>
    
    
      --> 
</section>

<?php } ?>



<section class="notict">
<?php if($verification->verification_status != "Approved") { ?>
<div class="container">
    <div class="row">
	<?php } else { ?> <div class="">
    <div class=""><?php } ?>
    <div class="notice_title">
        <h4 style="display:none;">notice</h4>
		<!--  <?php echo $cms->pagecontent; ?> Commented by mujeeb-->

		<?php if($verification->verification_status != "Approved" && $verification->verification_status != "pending") { ?>
			
			<!-- <div class="col-md-3"></div>
			<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="form-group cmnt_blk clearfix">
			<label class="form-control-label"></label>
			<textarea class="tarea1" placeholder="Comments (Optional)" name="verify_comments"></textarea>
			</div>
			</div>	
<div class="col-md-3"></div>	
	
		<div class="clear" style="clear:both"><br></div>
			
        <button  type="submit" class="btn btn_submit">submit</button>Commented by mujeeb-->
		<?php } ?>
		<br>
		</form>
        </div>
    </div>
    </div>
</section>
</div>
						
						
					</div>
				</div>
				
				
				</div>
				
			
			
        </div>
		


</section>



<div class="modal fade login_modal" id="verify_alert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Imporant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="login_body">
     
	 <p>IDENTITY VERIFICATION REQUIRED. PLEASE VERIFY YOUR ACCOUNT TO PROCEED</p>
          </div>
      </div>
      
    </div>
  </div>
</div>

<!--<div id="failure-modal" class="modal fade">
<div class="modal-dialog">
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
 <span id="msg"></span>
</div>
</div>
</div> -->
</div>




 <?php $this->load->view('front/footer'); ?>
 
 
 
<?php if($this->uri->segment('2') == "verification" && $this->uri->segment('3') == "1") { ?>
<script>$('#verify_alert').modal('show'); </script>
<?php } ?>
 
 <script src="<?php echo base_url(); ?>assets/js/profile_settings.js?<?php echo time(); ?>"></script>
<script src="<?php echo base_url(); ?>assets/js/verification.js?<?php echo time(); ?>"></script>
<script src="<?php echo base_url(); ?>assets/js/bank_verify.js?<?php echo time(); ?>"></script>
<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#table_list').DataTable();
	$('#api_list').DataTable();
});
</script>

<script src="<?php echo base_url(); ?>assets/js/custom-file-input.js"></script>


<!-- Mati script-->
<script id="matiscript" src="https://sdk.getmati.com/mati-sdk.min.js">
</script>
<!-- Mati button initialization -->
<script>
Mati.init({
  clientId: '5c49cfb25fc7fb7bfaf4ec33',
  metadata: {
	  "user_id": "<?php echo user_id(); ?>",
	  "user_email": "<?php echo $this->user_model->get_email(); ?>"	
  },
});
</script>








