

<?php $this->load->view('front/header_inner'); ?>


<section class="depost_btc">
  <div class="container">
      
    
    <div class="inner_title">
    	<main class="hdHFaT">
    		<div class="fIhYBm">
    			<div class="jjfmPh">    				
    				<div class="ReferralBanner__HeaderContent-sc-1qipdk1-3 fqGIAj FlexBox__StyledFlexBox-sc-1fwoi49-0 ktzdMS"><div class="ReferralBanner__StyledTitle-sc-1qipdk1-4 kqDVLV">Refer Friends.</div><div class="ReferralBanner__StyledTitle-sc-1qipdk1-4 kqDVLV">Earn Crypto Together</div><div class="ReferralBanner__StyledText-sc-1qipdk1-5 jdGTpa"><?php echo $refralnote; ?></div></div>
    				 
    				<div class="ReferralBanner__Panel-sc-1qipdk1-2 gRhxOe FlexBox__StyledFlexBox-sc-1fwoi49-0 ktzdMS">
    				<div class="ReferralBanner__PanelTitle-sc-1qipdk1-6 gqvzsZ">Share This Referral Link</div>
    				<!-- <div class="ReferralBanner__PanelText-sc-1qipdk1-7 frMKWA">Set Friends Commission Kickback Rate</div> -->
    				<div class="ReferralBanner__StyledFlex-sc-1qipdk1-18 jqPbdV FlexBox__StyledFlexBox-sc-1fwoi49-0 ktzdMS">
    				<div direction="column" class="ReferralBanner__StyledFlexBorder-sc-1qipdk1-19 kmcVgd FlexBox__StyledFlexBox-sc-1fwoi49-0 kzUkyd">
    					<div class="ReferralBanner__PanelText-sc-1qipdk1-7 frMKWA1">
    						<div id="qrcode-refral"></div>
						</div>
    					<!-- <div class="ReferralBanner__PanelNumber-sc-1qipdk1-8 DxVEz">40</div> -->
    					<div>
    						<div direction="column" class="FlexBox__StyledFlexBox-sc-1fwoi49-0 fjbvTl">
    							<div class="ReferralBanner__PanelText-sc-1qipdk1-7 frMKWA">
    								<div class="alert alert-success" id="succc_forgot" style="display:none"><span id="msg_succc_forgot"></span></div>
									<div class="jTPNvi FlexBox__StyledFlexBox-sc-1fwoi49-0 ktzdMS">									
										<div id="select_refral">www.bitunio.com/register/<?php echo $refralid; ?></div>
										<div class="btns first" onclick="copy_refral_address();"><i class="iconfont icon-Copylink " size="13" color="#48515d"></i></div>
									</div>
								</div>
								
								<!-- Start of Mujeeb -->
    							<div class="ReferralBanner__PanelNumber-sc-1qipdk1-8 DxVEz">
    							<?php //$sel_cur=$this->uri->segment('2'); ?>	
    							<?php //echo "Mujeeb : " . $sel_cur;?>
    							</div><!-- End of Mujeeb -->
    						</div>
    					</div>
    					  <div class="bnc-form-item bnc-input-shrink-wrapper">
    					 		<div direction="row" class="FlexBox__StyledFlexBox-sc-1fwoi49-0 fQGNfI">
	    								 <a id="ReferralDetail-a-twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/intent/tweet?text=Invite Friends.Earn Crypto Together. www.bitunio.com/register/<?php echo $refralid; ?>&amp;url=www.bitunio.com/register/<?php echo $refralid; ?>">
	    									<div class="iconfont icon-twitter ReferralBanner__Avatar-sc-1qipdk1-12 dIOEVU"></div>
	    								</a>
	    								<!-- <a id="ReferralDetail-a-weibo" target="_blank" rel="noopener noreferrer" href="http://service.weibo.com/share/share.php?url=www.bitunio.com/register/<?php echo $refralid; ?>&amp;title=Invite Friends.Earn Crypto Together.&amp;pic=#_loginLayer_1508918957506">
	    									<div class="iconfont icon-weibo ReferralBanner__Avatar-sc-1qipdk1-12 dIOEVU"></div>
	    								</a>
	    								<a id="ReferralDetail-a-QQ" target="_blank" rel="noopener noreferrer" href="http://connect.qq.com/widget/shareqq/index.html?url=www.bitunio.com/register/<?php echo $refralid; ?>&amp;title=Bitunio Referral Program&amp;desc=Invite Friends.Earn Crypto Together.">
	    									<div class="iconfont icon-QQ ReferralBanner__Avatar-sc-1qipdk1-12 dIOEVU"></div>
	    								</a> -->
	    								<a id="ReferralDetail-a-linkedin" target="_blank" rel="noopener noreferrer" href="http://www.linkedin.com/shareArticle?mini=true&amp;ro=true&amp;title=Bitunio Referral Program&amp;url=www.bitunio.com/register/<?php echo $refralid; ?>&amp;summary=Invite Friends.Earn Crypto Together.&amp;source=Invite Friends.Earn Crypto Together.&amp;armin=armin">
	    									<div class="iconfont icon-linkedin ReferralBanner__Avatar-sc-1qipdk1-12 dIOEVU"></div>
	    								</a>
	    								<a id="ReferralDetail-a-facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u=https://www.bitunio.com/register/<?php echo $refralid; ?>">
	    									<div class="iconfont icon-facebook ReferralBanner__Avatar-sc-1qipdk1-12 dIOEVU"></div>
	    								</a>
	    								<!--  <a id="ReferralDetail-a-vk" target="_blank" rel="noopener noreferrer" href="https://vk.com/share.php?url=www.bitunio.com/register/<?php echo $refralid; ?>&amp;title=Invite Friends.Earn Crypto Together.">
	    									<div class="iconfont icon-vk ReferralBanner__Avatar-sc-1qipdk1-12 dIOEVU"></div>
	    								</a>-->
    								</div>
    						
    					  </div> 
    					<!--  <button id="login_invite_now" style="margin-top:10px;height:40px" class="bnc-btn bnc-btn-padding-lg bnc-btn-primary"><span class="bnc-btn-text">Invite Now</span></button>-->
    				</div>
    			</div>    		
    		</div>
    	   </div>
    	 </div>
    	</main>
    	
    	<div class="ReferralContent__StyledTitle-sc-13psfq6-4 josbYW">Your Referral Account</div>
    	
    	<div class="FlexBox__StyledFlexBox-sc-1fwoi49-0 buveVA">
	    	<div direction="column" class="FlexBox__StyledFlexBox-sc-1fwoi49-0 kzUkyd-row">
	    		<div class="ReferralContent__StyledDes-sc-13psfq6-6 cwzDAf">Each Refral Commission:</div>
	    		<div class="ReferralContent__StyledText-sc-13psfq6-7 jxuHyC"><?php echo $refralamt; ?> BITU</div>
	    	</div>
	    	<div direction="column" class="FlexBox__StyledFlexBox-sc-1fwoi49-0 kzUkyd-row">
	    		<div class="ReferralContent__StyledDes-sc-13psfq6-6 cwzDAf">You've Earned:&nbsp;&nbsp; <i class="iconfont icon-prompt " size="16" color="#48515D"></i></div>
	    		<div class="ReferralContent__StyledText-sc-13psfq6-7 jxuHyC"><?php echo $total_earned . " "; ?> BITU</div>
	    	</div>
	    	<div direction="column" class="FlexBox__StyledFlexBox-sc-1fwoi49-0 kzUkyd-row">
	    		<div class="ReferralContent__StyledDes-sc-13psfq6-6 cwzDAf">Pending Commission:&nbsp;&nbsp; <i class="iconfont icon-prompt " size="16" color="#48515D"></i></div>
	    		<div class="ReferralContent__StyledText-sc-13psfq6-7 jxuHyC"><?php echo $pending_total . " "; ?> BITU</div>
	    	</div>
	    	<div direction="column" class="FlexBox__StyledFlexBox-sc-1fwoi49-0 kzUkyd-row">
	    		<div class="ReferralContent__StyledDes-sc-13psfq6-6 cwzDAf">Total Number of Friends:</div>
	    		<div class="ReferralContent__StyledText-sc-13psfq6-7 jxuHyC"><?php echo $total_users; ?> </div>
	    	</div>
	    	<!-- <div direction="column" class="FlexBox__StyledFlexBox-sc-1fwoi49-0 kzUkyd-row">
	    		<div class="ReferralContent__StyledDes-sc-13psfq6-6 cwzDAf">Your Ranking:</div>
	    		<div class="ReferralContent__StyledText-sc-13psfq6-7 jxuHyC">&gt;10000 <a class="ReferralContent__StyledIcon-sc-13psfq6-3 zbkfg"><i class="iconfont icon-ranking " size="17.5"></i></a></div>
	    	</div> -->
    	</div>
    	
    	<!-- <h3 class="hh4">&nbsp;</h3> -->
    	<div class="ReferralContent__StyledTitle-sc-13psfq6-4 josbYW1">Your Users</div>
    	
    </div><!-- End of innter Title -->
    
    
   
    <div class="dep_tablesc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table" id="table_list">
          <thead>
            <tr style="color:#000;font-size:12px;font-weight:bold;">
             <th>Date & Time</th>
              <th>User ID</th>
              <th>Refral ID</th>
              <th>Friend ID</th>
              <th>Friend Name</th>
              <th>Commission Earned</th>
              <th>Status</th>
              <!-- <th>Fee</th>
              <th>Status</th> -->
            </tr>
          </thead>
          <tbody>
            <?php if($transactions) { $i=1; foreach($transactions as $transactions1) { ?>
	            <tr style="color:#000;font-size:10px;font-weight:normal;">
				  <td><?php echo $transactions1->reg_date; ?></td>             
	              <td><?php echo $transactions1->DiZrIeSsOu; ?></td>
	              <td><?php echo $transactions1->refral_id; ?></td>
	              <td><?php echo $transactions1->friend_DiZrIeSsOu; ?></td>
	              <td><?php echo $transactions1->friend_name; ?></td>
	              <td><b></b><?php echo $transactions1->comm_earned ." BITU"; ?></b></td>     
	              <td><?php echo ($transactions1->status == 0)?"Pending Verification":"Verified"; ?></td>         
	            </tr>
			<?php $i++; } } ?>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<?php $this->load->view('front/footer');?>

<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="<?php echo base_url(); ?>new_assets/js/jquery.qrcode.min.js"></script>


<!-- Copy Clip Board Library -->
<script src="<?php echo base_url(); ?>new_assets/plugins/jquery.copy.js?<?php echo time(); ?>"></script>
<script type="text/javascript" src="<?php echo base_url(); ?>new_assets/js/refral.js?<?php echo time(); ?>"></script>

<script type="text/javascript">
//$('#table_list').DataTable('desc');
	$('#table_list').DataTable({
	    "order": [ 0, 'desc' ],
	} );
	
	
	$("#qrcode-refral").qrcode({
	    //render:"table"
	    width: 128,
	    height: 128,
	    text: "<?php echo 'www.bitunio.com/register/'.$refralid; ?>"
	});
	//qrcode-refral
</script>