<?php 
$this->load->view('front/header_inner');
 ?>
<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4><?php echo $content->pagetitle; ?></h4>
    </div>
    <div class="about_cont safe_cont">
      <img src="<?php echo base_url(); ?>assets/img/safe.png" class="img-responsive">
        <?php echo htmlspecialchars_decode($content->pagecontent); ?>
		
      </div>
  </div>
</section>

<?php $this->load->view('front/footer'); ?>