<?php $this->load->view('front/header_inner'); ?>
<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>My Transactions history</h4>
    </div>
   
    <div class="dep_tablesc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table" id="table_list">
          <thead>
            <tr style="color:#000;font-size:12px;font-weight:bold;">
             <th>Date & Time</th>
              <th>Type</th>
              <th>Pair / Currency</th>
              <th>Amount</th>
              <th>Price</th>
              <th>Fee</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <?php if($transactions) { $i=1; foreach($transactions as $transactions1) { ?>
            <tr style="color:#000;font-size:10px;font-weight:normal;">
			 <td><?php echo $transactions1->date; ?>  <?php echo $transactions1->time; ?></td>
              <!--<td class="snum"><?php echo $i; ?></td>-->
              <td><?php echo $transactions1->type; ?></td>
              <td><?php echo ($transactions1->type == "Buy" || $transactions1->type == "Sell")?$transactions1->currency ."-".$transactions1->secondcurrency:$transactions1->currency; ?></td>
              <td><?php echo $transactions1->amount; ?></td>
              <td><?php echo ($transactions1->price != 0 )?$transactions1->price:'--'; ?></td>
              <td><?php echo ($transactions1->fee != 0 )?$transactions1->fee:'--'; ?></td>
             
              <td><?php
              if($transactions1->status == 'finished'){
                 echo 'Confirmed'; 
               }else{
               echo ucfirst($transactions1->status); 
               }?></td> 
              
            </tr>
			<?php $i++; } } ?>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<?php $this->load->view('front/footer');?>

<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
//$('#table_list').DataTable('desc');
$('#table_list').DataTable({
    "order": [ 0, 'desc' ],
} );
</script>