<?php $this->load->view('front/header_inner'); ?>
<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>Withdraw</h4>
    </div>
	<?php if($verify_status == "Approved") { ?>
    <div class="dep_blk1">
      <?php echo form_open("",array("class"=>"cm_frm1 row","id"=>"withdraw_ia")); ?>
        <div class="col-md-6 col-sm-6 col-xs-12 cls_resp50 cls_rsmmp50 with_lef">
          <div class="inr_lef">
            <div class="form-group row clearfix">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <label class="form-control-label">Withdraw Currency</label>
              <div class="select_style1">
                <select name="wcur" id="wcur">
                  <option value="<?php echo $cur; ?>"><?php echo $cur; ?></option>
                </select>
              </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
              <label class="form-control-label">Withdraw Amount</label>
              <div class="input-group cls_cminpgrp2">
                <input class="form-control" onkeypress="return isNumberKey(event)" placeholder="Amount" type="text" name="amount" id="amount" oninput="withdraw_ia_cal(this.value)">
                <span class="input-group-addon"><?php echo $cur; ?></span> </div><label for="amount" class="error"></label> You have <?php echo $balance; ?> <?php echo $cur; ?>
				<input type="hidden" name="final1" id="final1">
            </div>
          </div>
          
          <?php
          $symbol = ($with_fee_type=='percentage')?'%':'Rs';
          ?>
          
          <input type="hidden" name="fee_type" id="fee_type" value="<?php echo $with_fee_type; ?>" >
          
            <div class="form-group row clearfix">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <label class="form-control-label fd_col">Fee</label>
              <label class="form-control-label fd_col"><span id="wfee"><?php echo $fee; ?></span> <?php echo $symbol; ?></label>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
              <label class="form-control-label fd_col">Receive Amount</label>
              <label class="form-control-label fd_col"><span id="final">0.00</span></label>
            </div>            
          </div>
          <div class="form-group with_blk1 clearfix">
            <button type="submit" class="cm_blubtn1" id="withdraw_btn">Withdraw</button>
            </div>
             <div class="notif_blk1">
        <h4><span>Important Notice</span></h4>
        <p><?php echo $withdraw_ia->pagecontent; ?></p>
      </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-4 col-xs-12 cls_resp50 cls_rsmmp50">
          <div class="bank_det withbank_det">
            <div class="cm_head1">
              <h4>Your Bank Account Details</h4>
            </div>
			<?php if($bank_details->status == "verified") { ?>
            <div class="row">
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Bank Account</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $bank_details->account_number; ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Account Name</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $bank_details->account_holder; ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Bank Name</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $bank_details->bank_name; ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">IBAN / Swift / IFSC Code</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $bank_details->iban_code; ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Bank Address</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $bank_details->bank_address; ?> </label>
                </div>
              </div>
              <!--<div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Bank country</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">India</label>
                </div>
              </div> -->
            </div> <?php } else { ?>
			
			<div class="alert alert-danger">
			<?php echo 'BANK VERIFICATION REQUIRED. PLEASE'; ?> <span><a href="<?php echo base_url(); ?>bank_verify" style="text-decorative:underline;"><?php echo 'VERIFY YOUR BANK ACCOUNT'; ?></a></span> <?php echo 'TO PROCEED'; ?>
			</div>
			<?php } ?>
          </div>
        </div>
      </form>     
    </div>
    <div class="dep_tablesc dep_tableinrsc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table with_ia_history" id="table_list">
          <thead>
            <tr>
              <th>S. No.</th>
              <th>Currency</th>
              <th>Amount</th>
              <th>Fee</th>
              <th>Final</th>
              <th>Date & Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
	
	<?php } else { ?>
	<br>
	<br>
	<br>
	<div class="alert alert-danger">
			<?php echo 'IDENTITY VERIFICATION REQUIRED. PLEASE'; ?> <span><a href="<?php echo base_url(); ?>profile/verification" style="text-decorative:underline;"><?php echo 'VERIFY YOUR ACCOUNT'; ?></a></span> <?php echo 'TO PROCEED'; ?>
			</div>
	<br><br><br><br><br><br>
	<?php } ?>
  </div>
</section>

<?php $this->load->view('front/footer'); ?>
<script>
var w_cur="<?php echo $cur; ?>";
</script>

<script src="<?php echo base_url(); ?>assets/js/withdraw_ia.js?<?php echo time(); ?>"></script>

<?php if($this->session->flashdata('error_w')) {  ?>

<script type="text/javascript">
$("#stat").html("Error");
		$("#msg").html("<?php echo $this->session->flashdata('error_w'); ?>");
		$('#error-modal').modal('show');	
</script>
<?php } ?>

<?php if($this->session->flashdata('success_w')) { ?>
<script type="text/javascript">
	$("#stat_suc").html("Success");
	$("#msg_suc").html("<?php echo $this->session->flashdata('success_w'); ?>");
	$('#success-modal').modal('show');
</script>
<?php } ?>

<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$('#table_list').DataTable();
});
</script>


