<?php $this->load->view('front/header_inner'); ?>

<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>Withdraw</h4>
    </div>
    <?php if($verify_status == "Approved") { ?>
    <div class="dep_blk1">
      <?php echo form_open("",array('class'=>"cm_frm1 row",'id'=>"withdraw_crypto")); ?>
      <div class="col-md-12 col-sm-6 cls_resp50 cls_rsmmp50">
        <div class="form-group row clearfix">
          <div class="col-md-4 col-sm-12 ">
            <label class="form-control-label">Withdraw Currency</label>
            <div class="select_style1">
              <?php 
			   
			    
     $this->db->where("status",'active');
	$allcurrency=$this->db->get("ycneZrIrSuOc")->result();
    
    
    
			   $sel_cur=$this->uri->segment('2');
			   if($sel_cur == "")
{
$sel_cur="BTC";
} ?>

              <select name="currency" id="crypto_withdraw" onchange="refresh_withdraw(this.value)">
                <?php 
			foreach($allcurrency as $curs1)
			{
			
			$stats=($sel_cur == $curs1->currency_symbol)?'selected':"";
			echo "<option value='".$curs1->currency_symbol."'".$stats.">".$curs1->currency_symbol."</option>";
			}
			?>
              </select>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <label class="form-control-label">Withdraw Amount</label>
            <div class="input-group cls_cminpgrp2">
              <input class="form-control" onkeypress="return isNumberKey(event)" placeholder="Amount" type="text" name="amount" id="amount"
                oninput="withdraw_cal(this.value)">
              <span class="input-group-addon" id="selected_currency"></span>
            </div>
            <div style="padding-top: 4px;">
              <label for="amount" class="error"></label> You have
              <span id="balc"></span>
              <span class="selected_currency"></span>
            </div>
            <span id="with_error" style="color:red;font-size:13px;"></span>
          </div>
          <div class="col-md-4 col-sm-4 cls_resp50 cls_rsmmp50">
            <div class="form-group clearfix">
              <label class="form-control-label">
                <span id="selected_currency1"></span> Address</label>
              <input class="form-control" name="address" placeholder=" Address" type="text" id="address">
            </div>
            <span id="destination_tag"></span>
            <input type="hidden" name="min_wit" class="min_wit">
           
          </div>
        </div>
        <div class="form-group row clearfix">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <label class="form-control-label fd_col">Fees</label>
            <label class="form-control-label fd_col">
              <span id="with_fee"></span>
              <span class="fee_type"></span>
            </label>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <label class="form-control-label fd_col"> Minimum withdraw amount</label>
            <label class="form-control-label fd_col">
              <span class="min_wit"></span>
              <span class="fee_type"></span>
            </label>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <label class="form-control-label fd_col">Total amount to be sent</label>
            <label class="form-control-label fd_col">
              <span id="final">0.00</span>
              <span class="fee_type"></span>
            </label>
            <input type="hidden" id="final1" name="final1">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 text-center">
            <button type="submit" class="cm_blubtn1" id="withdraw_btn">Withdraw</button>
          </div>
        </div>
      </div>
      
      </form>
     
      <div class="notif_blk1">
        <h4>
          <span>Important Notice</span>
        </h4>

        <p>
          <?php echo $withdraw_btc->pagecontent; ?>
        </p>
      </div>
     
    </div>
    <div class="dep_tablesc dep_tableinrsc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table with_history" id="table_list">
          <thead>
            <tr>
              <th>S. No.</th>
              <!--<th>Currency</th>-->
              <th>Transaction ID</th>
              <th>Amount</th>
              <th>Fees</th>
              <th>Final</th>
              <th>Address</th>
              <th>Date & Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <?php } else { ?>
    <br>
    <br>
    <br>
    <div class="alert alert-danger">
      <?php echo 'IDENTITY VERIFICATION REQUIRED. PLEASE'; ?>
      <span>
        <a href="<?php echo base_url(); ?>profile/verification" style="text-decorative:underline;">
          <?php echo 'VERIFY YOUR ACCOUNT'; ?>
        </a>
      </span>
      <?php echo 'TO PROCEED'; ?>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <?php } ?>
  </div>
</section>
<?php $this->load->view('front/footer'); 


?>
<script>
  var w_cur = "<?php echo $sel_cur; ?>";
</script>

<script src="<?php echo base_url(); ?>assets/js/withdraw.js?<?php echo time(); ?>"></script>

<?php if($this->session->flashdata('error_w')) {  ?>

<script type="text/javascript">
  $("#stat").html("Error");
  $("#msg").html("<?php echo $this->session->flashdata('error_w'); ?>");
  $('#error-modal').modal('show');
</script>


<?php } ?>
<?php if($this->session->flashdata('success_w')) { ?>
<script type="text/javascript">
  $("#stat_suc").html("Success");
  $("#msg_suc").html("<?php echo $this->session->flashdata('success_w'); ?>");
  $('#success-modal').modal('show');
</script>

<?php } ?>

<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#table_list').DataTable();
  });
</script>