<?php $this->load->view("admin/header"); ?>
<div id="wrapper">
<?php $this->load->view("admin/sidebar"); ?>

        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Affiliate users</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Affiliate users</li>
                </ol>
                <div class="clearfix"></div>
				</div>
			<!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			<div class="panel panel-green"><!-- suren's referral amount history  -->
                        <div class="panel-heading"> <?php if($this->uri->segment(3)) { ?><?php echo username1($this->uri->segment(3)); ?>'s referral amount history <?php } else { ?>Affiliate users list<?php } ?></div>
                        <div class="panel-body">

   <div class="span12">
	<?php if(isset($view)) { ?>
		<?php
	$success = $this->session->flashdata('success');
	if($success)	{	?>
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?>

	<?php  if(!isset($error)) { $error=$this->session->flashdata('error');	}
	if($error)	{ ?>
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<?php }?>
	<!-- BEGIN EXAMPLE TABLE widget-->
	<div class="widget-body">

	<table class="table table-striped table-bordered" id="example">
	<thead>
	<tr>
	<th >S.No</th>
	<th>Client Id</th>
	<th>User name</th>
	<th>Email</th>

	<th>Action</th>
	</tr>
	</thead>
	<tbody>
	<?php $i=0;
	foreach($result as $row)
	{

		$i++;
		$l = " ";

		$user_id = $row->DiZrIeSsOu;
		$created_date = $row->created_date;
		$userId = $row->DiZrIeSsOu;
		$fname = $row->fname;
		$lname = $row->lastname;
		$username = $row->emanZrIeSsOu;
		$verify_by = $row->verify_by;



		$userRow = $this->admin_model->getuserdetailsrow($userId);
		echo "<tr>";
		$l=" ";
		echo "<td >".$i."</td>";
		echo "<td >".client_id($userId)."</td>";
		echo "<td >".$row->emanZrIeSsOu."</td>";
		//echo "<td >".$row->lname."</td>";
		//echo "<td >".$row->dateofreg."</td>";
		//echo "<td >".$sts."</td>";
		echo "<td >".$this->user_model->get_email_admin($userId)."</td>";

		?>
		<td>
		<?php echo anchor('AOdSmIiZn/refer_receive/'.$userId,$l,array('title'=>"View Detail",'class'=>"glyphicon glyphicon-eye-open") ); ?>

		<span class=""></span>
		</td>
		</tr> <?php
	}

	?>
	</tbody>
	</table>

	</form>
	</div>
	</div>
	<!-- END EXAMPLE TABLE widget-->
	</div>
	<?php
	}
	?>

  <?php if(isset($view1)) { ?>
    <?php
  $success = $this->session->flashdata('success');
  if($success)	{	?>
  <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
  </div><?php } ?>

  <?php  if(!isset($error)) { $error=$this->session->flashdata('error');	}
  if($error)	{ ?>
  <div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh! </strong><?php echo $error;?>.
  </div>
  <?php }?>
  <!-- BEGIN EXAMPLE TABLE widget-->
  <div class="widget-body">

  <table class="table table-striped table-bordered" id="example">
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Referred User</th>
          <th>Currency</th>
          <th>Amount</th>
          <th>Date & Time</th>

        </tr>
      </thead>
      <tbody>
  <?php if($income_his){ $i=1; foreach($income_his as $income_his1) { ?>
  <tr>
  <td><?php echo $i; ?></td>
  <td><?php echo $income_his1->emanZrIeSsOu; ?></td>
  <td><?php echo ($income_his1->currency)?$income_his1->currency:'--'; ?></td>
  <td><?php echo $income_his1->credit_amount; ?></td>
  <td><?php echo $income_his1->credited_on; ?></td>
  </tr>
  <?php $i++; }  } ?>
  </tbody>
    </table>
  </form>
  </div>
  </div>
  <!-- END EXAMPLE TABLE widget-->
  </div>
  <?php
  }
  ?>

	</div>
	</div>

		<?php $this->load->view('admin/footer'); ?>
