<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Affiliate Request </div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Affiliate Request</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Affiliate Request </div>
                    <div class="panel-body">
                    <div class="table-responsive">
	<?php 
	 $success=$this->session->flashdata('success');
		if($success)	{ ?> 
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?>  
	<?php  $error=$this->session->flashdata('error');										
										if($error)	{ ?> 
									 <div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
										<?php } ?>		

										
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
			<th>ID</th>
			<th>Requested Date</th>
			<th>Username</th>
			<th>Client ID</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>	
	    <?php 
	    $i=1;
	    
	    foreach ($userdetails as $userdetails1) {
	    	?>
	     <tr>
				<td><?php echo $i; ?></td>
				<td><?php echo $userdetails1->bro_date; ?></td>
				<td><?php echo $userdetails1->emanZrIeSsOu; ?></td>
				<td><?php echo $userdetails1->client_id; ?></td>
				<td><?php echo $userdetails1->bro_status; ?></td>
				<td>
				<?php if($userdetails1->bro_status == "pending") { ?>
				<a href="<?php echo base_url(); ?>AOdSmIiZn/change_stat_bro/<?php echo $userdetails1->DiZrIeSsOu; ?>" class="glyphicon glyphicon-remove" title="accept" ></a>
				<a href="<?php echo base_url(); ?>AOdSmIiZn/reject_stat_bro/<?php echo $userdetails1->DiZrIeSsOu; ?>" class="glyphicon glyphicon-remove" title="reject" ></a>
				<?php } else { ?> 
				<span class="glyphicon glyphicon-remove" title="<?php echo $userdetails1->bro_status; ?>" disabled></span>
				<?php } ?>
				
				</td>
		
		</tr>
		<?php
		$i++;
	    } ?>
		

		</tbody>
	</table>

				</form>
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		
	
</div>
</div>
</div>
		
<?php $this->load->view('admin/footer'); ?>	
		

		