<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Commission</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Commission</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">

<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Success! </strong> <?php echo $success;?>.
	</div><?php }?> 
     
 </p>



<div class="panel panel-green">
                        <div class="panel-heading">Commission</div>
                        <div class="panel-body">
                        <div class="table-responsive">
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
		     <th>S.No</th>
			<th>Client Id</th>
			<th>User Name</th>

	
			<th>Currency</th>
			<th>fee</th>
			<th>Type</th>
			<th>Datetime</th>
			</tr>
		</thead>
		<tbody>	
	
	   <?php 	
		
		$i=1;
	    foreach($currencylist as $eachtras)
		{
		if($eachtras->feeAmount > 0)
		{
		?>
	    <tr>	
			<td><?php echo $i; ?></td>
			<td><?php echo client_id($eachtras->DiZrIeSsOu); ?></td>
			<td><?php echo ucfirst($this->admin_model->get_user_name($eachtras->DiZrIeSsOu)); ?></td>						
			<td><?php echo $eachtras->feeCurrency; ?></td>
			<td><?php echo $eachtras->feeAmount; ?></td>
			<td><?php echo ($eachtras->description != "")?$eachtras->description:'---'; ?></td>
			<td><?php echo $eachtras->date . " ". $eachtras->time; ?></td>
			
			</tr><?php 
		}
		
	   $i++; } ?>
		

		</tbody>
	</table>

				</form>
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		
	
</div>
</div>
</div>



	
<?php $this->load->view('admin/footer'); ?>	

<?php
$this->session->set_userdata('details',''); ?>


		
