<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Currency Balance & fee</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Currency Balance & fee</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					   <?php 
	 $success=$this->session->flashdata('success');									
		if($success)	{	?> 
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo "Success"; ?>! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
										if($error)	{	?> 
									 <div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
									<?php }?>  
           
           <div class="panel panel-green">
                        <div class="panel-heading">Currency Balance & fee</div>
                        <div class="panel-body">
                        <div class="table-responsive">
<?php if($result) { ?>
                            <table class="table table-striped table-bordered" id="example">
                                <thead>
      <tr>
      <th style="text-align:center">S.on</th>
      <th style="text-align:center">Currency Name</th>
      <th style='text-align:center'>Currencies</th>
      <th style='text-align:center' class="hidden-phone">Deposit Fee</th>
      <th style='text-align:center' class="hidden-phone">Withdraw Fee</th>
	  <th style='text-align:center' class="hidden-phone">Reserve Amount</th>
      <th style='text-align:center' class="hidden-phone">Status</th>
      <th style='text-align:center' class="hidden-phone">Action</th>
	  </tr>
                                </thead>
                                <tbody>
		<?php 
		$i=1;
	foreach($result as $trade)
	{
	
	  $currency_name  = $trade->currency_name;
      $currency_symbol   = $trade->currency_symbol;
      $dep_fee  = $trade->dep_fee;
      $with_fee    = $trade->with_fee;
      $reserve_amount    = $trade->reserve_amount;
	  $status  = $trade->status;
      
      echo "<tr style='text-align:center'>";
    echo "<td>".$i."</td>";
    echo "<td>".$currency_name."</td>";
    echo "<td>".$currency_symbol."</td>";
    echo "<td>".$dep_fee."</td>";  
    echo "<td>".$with_fee."</td>";
    echo "<td>".$reserve_amount."</td>";
    echo "<td>".$status."</td>";
    echo "<td><a href='".base_url()."AOdSmIiZn/currency_details/".$trade->id."' class='glyphicon glyphicon-edit'></a></td>";
   
    echo "</tr>";
	$i++;
	}										
	?>
                                </tbody>
                            </table>
<?php } else { ?>
<div class="alert alert-warning">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Sorry! </strong> No records found at the moment.
  </div>
<?php } ?>
                        </div>
                    </div>
					</div>
            </div>
         </div>
   </div>
      
	  
    <?php $this->load->view('admin/footer'); ?>  
