<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">User details</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">User details</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">User details</div>
                    <div class="panel-body">
                    <div class="table-responsive">
                           <!-- <div class="span3">
                                <div class="text-center profile-pic">
                                    <img src="img/profile-pic.jpg" alt="">
                                </div>
                                <ul class="nav nav-tabs nav-stacked">
                                    <li><a href="javascript:void(0)"><i class="icon-coffee"></i> Portfolio</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-paper-clip"></i> Projects</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-picture"></i> Gallery</a></li>
                                </ul>
                                <ul class="nav nav-tabs nav-stacked">
                                    <li><a href="javascript:void(0)"><i class="icon-facebook"></i> Facebook</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-twitter"></i> Twitter</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-linkedin"></i> LinkedIn</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-pinterest"></i> Pinterest</a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-github"></i> Github</a></li>
                                </ul>
                            </div>-->
                            <?php //echo '<pre>'; print_r($currencylist); ?>
                            <div class="span6">
                               

                                <p><b><?php echo $this->lang->line(''); ?>Account Information</b></p>
                                <table class="table table-borderless">
                                    <tbody>
                                     <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?> Email Id:</td>
                                        <td>
                                           <?php echo $emailid;?>
                                        </td>
                                    </tr>
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Username :</td>
                                        <td>
                                           <?php echo ($username)?$username:"--";?>
                                        </td>
                                    </tr>
                                  <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>User Type :</td>
                                        <td>
                                           <?php echo ($type == "broker")?'Affiliate':'Individual'; ?>
                                        </td>
                                    </tr>
									
								  <!--	<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Last Name :</td>
                                        <td>
                                           <?php echo $lastname;?>
                                        </td>
                                    </tr> -->
									<tr>
									
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Country:</td>
                                        <td>
                                           <?php  echo ($country)?$country:"--"; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Phone Number:</td>
                                        <td>
                                           <?php echo ($phonenumber)?$phonenumber:"--";?>
                                        </td>
                                    </tr>
									
									
									 <tr>
                                        <td class="span4"><b><?php echo $this->lang->line(''); ?>Physical address:</b></td>
                                       
                                    </tr>
                                  
                                  
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Street Line 1 :</td>
                                        <td>
                                            <?php  echo ($strt1)?$strt1:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Street Line 2:</td>
                                        <td>
                                            <?php  echo ($strt2)?$strt2:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>City :</td>
                                        <td>
                                            <?php  echo ($city)?$city:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Country :</td>
                                        <td>
										
                                             <?php  echo ($country)?$country:"--"; ?>
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Province / State :</td>
                                        <td>
                                    <?php  echo ($state)?$state:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Postal / zip code :</td>
                                        <td>
                                            <?php  echo ($postal_code)?$postal_code:"--"; ?> 
                                        </td>
                                    </tr>
									
									
									
									<!--<tr>
                                        <td class="span4"><b><?php echo $this->lang->line(''); ?>Postal address:</b></td>
                                       
                                    </tr>
                                  
                                  
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Street Line 1 :</td>
                                        <td>
                                            <?php  echo ($p_strt1)?$p_strt1:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Street Line 2:</td>
                                        <td>
                                            <?php  echo ($p_strt2)?$p_strt2:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>City :</td>
                                        <td>
                                            <?php  echo ($p_city)?$p_city:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Country :</td>
                                        <td>
										
                                             <?php  echo ($p_country)?$p_country:"--"; ?>
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Province / State :</td>
                                        <td>
                                    <?php  echo ($p_state)?$p_state:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Postal / zip code :</td>
                                        <td>
                                            <?php  echo ($p_postal_code)?$p_postal_code:"--"; ?> 
                                        </td>
                                    </tr>
									-->
									
									
                                    
                                   <!-- <tr>
                                        <td class="span4"><b><?php echo $this->lang->line(''); ?>Wallet Balance:</b></td>
                                       
                                    </tr>
                                  
                                  
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Account Balance NTD :</td>
                                        <td>
                                            <?php  $blnce=$this->admin_model->user_balance($id); echo $blnce->NTD ." NTD";?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Account Balance BTC :</td>
                                        <td>
                                            <?php  echo $blnce->BTC ." BTC";?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Account Balance ETH :</td>
                                        <td>
                                          <?php  echo $blnce->ETH ." ETH";?> 
                                        </td>
                                    </tr> -->
									
									
                                <tr>
                                        <td colspan="2"><b><?php echo $this->lang->line(''); ?>AccountUser System info</b></td>
                                    </tr>
                                    <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>ID Verified status:</td>
                                        <td>
                                             <?php

$ver_status=$this->admin_model->verification_status($this->uri->segment("3"));

if($ver_status != "verified" || $ver_status =="")
{
	echo "<font color='red'>Not verified</font>";
}
else 
{
	echo "<font color='green'>Verified</font>";
}


 ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>TFT Status:</td>
                                        <td>
                                           <?php if($Tfa_status == "" ||  $Tfa_status != "enable") { echo "Disabled"; } else { echo "enabled"; }
									?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Open account date:</td>
                                        <td>
                                             <?php echo $dateofreg;?>
                                        </td>
                                    </tr>
                                   <!-- <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Last Login Time:</td>
                                        <td>
                                             <?php echo $last_login;?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2"><?php echo $this->lang->line(''); ?>Last Logout Time:</td>
                                        <td>
                                             <?php echo $last_logout;?>
                                        </td>
                                    </tr> -->
                                   
                                   <!--  <tr>
                                        <td class="span2">Profile Image :</td>
                                        <td>
                                            <img src="<?php echo base_url();?>/uploader/customers/profilepicture/<?php echo $profilepicture;?>" height="50" width="100" class='img-rounded'>
                                        </td>
                                    </tr> -->
                                   <!-- <tr>
                                        <td class="span2">Occupation :</td>
                                        <td>
                                            Web Developer
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2"> Email :</td>
                                        <td>
                                            abc@abc.com
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2"> Mobile :</td>
                                        <td>
                                            12345677
                                        </td>
                                    </tr>-->
                                    </tbody>
                                </table>
                               
                            </div>
                          
                            <div class="space5"></div>
                        </div>
                  </div>
               </div>
            </div>
         </div>        
         </div>        
    
  <?php $this->load->view('admin/footer'); ?>  