<script src="<?php echo base_url(); ?>assets_admin/js/jquery-1.10.2.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/jquery-ui.js"></script>
<!--loading bootstrap js-->
<script src="<?php echo base_url(); ?>assets_admin/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/html5shiv.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/respond.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/metisMenu/jquery.metisMenu.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/slimScroll/jquery.slimscroll.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/jquery-cookie/jquery.cookie.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/iCheck/icheck.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/iCheck/custom.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/jquery.menu.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/jquery-pace/pace.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/holder/holder.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/responsive-tabs/responsive-tabs.js"></script>
<!--LOADING SCRIPTS FOR PAGE-->
<script src="<?php echo base_url(); ?>assets_admin/vendors/intro.js/intro.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.categories.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.pie.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.tooltip.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.resize.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.fillbetween.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.stack.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.spline.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/calendar/zabuto_calendar.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/index.js"></script>
<!--CORE JAVASCRIPT-->
<script src="<?php echo base_url(); ?>assets_admin/js/main.js"></script>






<!-- removed footer admin-->


<script src="<?php echo base_url(); ?>assets_admin/js/index.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/calendar/zabuto_calendar.min.js"></script>

<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.spline.js"></script>

<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.resize.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.fillbetween.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.stack.js"></script>


<script src="<?php echo base_url(); ?>assets_admin/vendors/intro.js/intro.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.categories.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.pie.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/flot-chart/jquery.flot.tooltip.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/holder/holder.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/jquery-pace/pace.min.js"></script>

<script src="<?php echo base_url(); ?>assets_admin/vendors/jquery-news-ticker/jquery.news-ticker.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/iCheck/custom.min.js"></script>

<script src="<?php echo base_url(); ?>assets_admin/vendors/jquery-cookie/jquery.cookie.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/iCheck/icheck.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/respond.min.js"></script>

<script src="<?php echo base_url(); ?>assets_admin/js/html5shiv.js"></script>