<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Deposit History</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Deposit History</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                        <div class="panel-heading">Deposit History</div>
                        <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" id="example">
                                <thead>
      <tr>
      <th style="text-align:center"><?php echo $this->lang->line(''); ?>S.No</th>
      <th style="text-align:center"><?php echo $this->lang->line(''); ?>Client Id</th>
	  <th style="text-align:center"><?php echo $this->lang->line(''); ?>Username</th>
      <!-- <th style='text-align:center'><?php echo $this->lang->line(''); ?>Txid</th> -->
      <th style='text-align:center' class="hidden-phone"><?php echo $this->lang->line(''); ?>Currency</th>
      <th style='text-align:center' class="hidden-phone"><?php echo $this->lang->line(''); ?>Amount</th>
      <th style='text-align:center' class="hidden-phone"><?php echo $this->lang->line(''); ?>Date & time</th>
      <th style='text-align:center' class="hidden-phone"><?php echo $this->lang->line(''); ?>Status</th>
      
      </tr>
                                </thead>
                                <tbody>
		<?php 
		$i="1";
	foreach($deposit as $deposit1)
	{ 
	?>
	
		<tr>
		<td style='text-align:center'><?php echo $i; ?></td>
		<td style='text-align:center'><?php echo client_id($deposit1->DiZrIeSsOu); ?></td>
		<td style='text-align:center'><?php echo $deposit1->emanZrIeSsOu; ?></td>
		<!-- <td style='text-align:center'><?php echo $deposit1->transactionId; ?></td> -->
		<td style='text-align:center'><?php echo $deposit1->currency; ?></td>
		<td style='text-align:center'><?php echo $deposit1->amount; ?></td>
		<td style='text-align:center'><?php echo $deposit1->date; ?> <?php echo $deposit1->time; ?></td>
		<td style='text-align:center'><?php echo $deposit1->status; ?></td>
		
		</tr>
	<?php

$i++;
	} ?>
		
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END BORDERED TABLE widget-->
                </div>
            </div>
            <div class="row-fluid">
               <div class="span6">
               </div>
               <div class="span6">
               </div>
            </div>
            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                </div>
            </div>
         </div>
		 </div>
<?php $this->load->view('admin/footer'); ?>  
