<?php
$uri2=$this->uri->segment(3);
?>
<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title"><?php if($uri2)echo "Edit";else echo "Add"; ?> Refral Program</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active"><?php if($uri2)echo "Edit";else echo "Add"; ?> Refral Program</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
            <div class="page-content">			
    <div class="row">				
    <div class="col-lg-12">
	<div class="panel panel-blue">
	<div class="panel-heading"><?php if($uri2)echo "Edit";else echo "Add"; ?> Refral Program</div>
	<div class="panel-body pan">
	<br>
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'editadmin');
	echo  form_open_multipart('AOdSmIiZn/refral_submit',$attributes); ?>
	<input type="hidden" name="id" value="<?php echo $id;?>">
	<div class="form-wizard">
	<div class="">
	<div class="tab-pane active" id="tab1">			
		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Note <span class="require">*</span></label>	
		  <div class="col-md-6">
			<input type="text" class="form-control" minlength="3" maxlength="250" name="note" value="<?php echo $each_pay->note; ?>" required />
		  </div>
		</div>
		
		</div>
		<div class="form-group"><label class="col-md-2 control-label" for="todate">To Date<span class="require">*</span></label>
		  <div class="col-md-6">
			<input type="text" class="form-control" id="todate"  name="todate" value="<?php echo $each_pay->todate; ?>" required />	
		  </div>
		</div>
		<!--  <div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Friends Recieve<span class="require">*</span></label>
		  <div class="col-md-6">
			<input type="text" class="form-control"  name="designation" value="<?php echo $each_pay->designation; ?>" required />	
		  </div>
		</div>-->
		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">You Recieve<span class="require">*</span></label>
		  <div class="col-md-6">
			<input type="text" class="form-control"  name="yourecieve" value="<?php echo $each_pay->you_recieve; ?>" required />	
		  </div>
		</div>
	
			<!--  
			<input type="hidden" value="<?php echo $each_pay->avatar; ?>" name="old_img">-->
			
			<input type="hidden" value="<?php echo $each_pay->id; ?>" name="id">
			
			<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Status<span class="require">*</span></label>
	
			<div class="col-md-6">
			     <div class="input-icon">
					<select name="status" class="form-control">
						 <option value="active" <?php if($each_pay->status =='active'){ echo 'selected="selected"'; } ?>><?php echo $this->lang->line(''); ?>Active</option>
						 <option value="inactive" <?php if($each_pay->status=='deactive'){ echo 'selected="selected"'; } ?>><?php echo $this->lang->line(''); ?>Deactive</option>
					</select>	
				
				</div>
			</div>
	</div>
	
	</div>
	
		<div class="form-actions">
	       <div class="col-md-offset-3 col-md-9">
				<input type="submit" id="submitrefral" name="submit" class="btn btn-success" value="Save" />
				<div id="errorDiv1" class="error-div" style="float:left"></div>
					<i class="icon-ok"></i>
				</a>
			</div>
		</div>
	</form>
	</div>
	</div>
	</div>
	
	
</div>
</div>
</div>
<?php $this->load->view('admin/footer'); ?>	
<script type="text/javascript" src="<?php echo base_url();?>assets/js/bootstrap-datepicker.js"></script>
<script src='<?php echo base_url(); ?>assets_admin/js/jquery.mobile.custom.min1.js?<?php echo time(); ?>'></script>
<script src='<?php echo base_url(); ?>assets_admin/js/refral.js?<?php echo time(); ?>'></script>


<script type="text/javascript">
$("#todate").datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        startDate: '-0m',
        maxDate: '0',
        autoclose: true,
        onClose: function( selectedDate ) {
       // $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
        }
    });
</script>	

		 