<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Exchange Pair Management</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Exchange Pair Management</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Exchange Pair </div>
                                            <div class="panel-body pan">
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'editadmin');
	echo  form_open('AOdSmIiZn/edit_exchnagepair_updte',$attributes); ?>                 
	<div class="form-wizard">
	
	
	<div class="">
	<br>
	<div class="tab-pane active" id="tab1">
  
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Exchange Pair <span class="require">*</span></label>

                                                            <div class="col-md-6">
		<input type="text" class="form-control" maxlength="40" name="currency_symbol" value="<?php echo substr($each_curr[0]->pair,0,3) ."/". substr($each_curr[0]->pair,4) ;?>" readonly/> 
		</div>
	</div>
<input type="hidden" name="ex_id" value="<?php echo $each_curr[0]->ex_id;?>">
	
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Currency Exchange Fee(%) <span class="require">*</span></label>

                                                            <div class="col-md-6">
		<input type="text" class="form-control"  maxlength="40" name="ex_fee" value="<?php echo $each_curr[0]->ex_fee;?>" required /> 
		</div>
	</div>
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Less Amount <span class="require">*</span></label>

                                                            <div class="col-md-6">
		<input type="text" class="form-control" maxlength="40" name="less_amount" value="<?php echo $each_curr[0]->less_amount;?>" required /> 
		</div>
	</div>
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Min Amount (<?php echo substr($each_curr[0]->pair,4,6); ?>)<span class="require">*</span></label>

                                                            <div class="col-md-6">
		<input type="text" class="form-control" maxlength="40" name="min_amnt" value="<?php echo $each_curr[0]->min_amnt;?>" required /> 
		</div> 
	</div>
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Max Amount (<?php echo substr($each_curr[0]->pair,4,6); ?>)<span class="require">*</span></label>

		<div class="col-md-6">
		<input type="text" class="form-control" maxlength="40" name="max_amnt" value="<?php echo $each_curr[0]->max_amnt;?>" required />
		</div>
	</div>
	
	
	<!--<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Status<span class="require">*</span></label>

                                                            <div class="col-md-6">
		    <select name="status" class="form-control" required>
		    	<option value="active" <?php if($each_curr[0]->status=='active'){ echo 'selected'; }?>>Active</option>
		    	<option value="inactive" <?php if($each_curr[0]->status=='inactive'){ echo 'selected'; }?>>Inactive</option>
		    </select>
		</div>
	</div> -->

	

	</div>
	
	<div class="form-actions">
                                                        <div class="col-md-offset-3 col-md-9">
	<input type="submit" id="" name="submit" class="btn btn-success" value="Save" />
	<div id="errorDiv1" class="error-div" style="float:left"></div>

	</a>
	</div>
	</div>
	
	</div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<?php $this->load->view('admin/footer'); ?>	