<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Exchange View</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Exchange&nbsp;&nbsp;</li><i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">view</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                        <div class="panel-heading">Exchange </div>
                        <div class="panel-body">
<div class="table-responsive">						
                                <table class="table table-borderless">
                                    <tbody>
									<tr>
                                        <td class="span2"> User Name:</td>
                                        <td>
                                        <?php echo $this->admin_model->get_user_name($detail->DiZrIeSsOu); ?>
										 </td>
                                    </tr>
                                     <tr>
                                        <td class="span2"> From Currency :</td>
                                        <td>
                                         <?php echo ($detail->f_currency !="")?$detail->f_currency:"--"; ?>
										 </td>
                                    </tr>
									 <tr>
                                        <td class="span2"> To Currency :</td>
                                        <td>
                                         <?php echo ($detail->t_currency !="")?$detail->t_currency:"--"; ?>
										 </td>
                                    </tr>
									<tr>
                                        <td class="span2"> Send Amount :</td>
                                        <td>
                                          <?php echo ($detail->amount !="")?$detail->amount:"--"; ?>
										 </td>
                                    </tr>
									
									<tr>
                                        <td class="span2">Receive Amount  :</td>
                                        <td>
                                        <?php echo ($detail->askprice !="")?$detail->askprice:"--"; ?>
										 </td>
                                    </tr>
									
								
									
									<tr>
                                        <td class="span2">Fee :</td>
                                        <td>
                                     <?php echo ($detail->fees !="")?$detail->fees:"--"; ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2">Final Amount:</td>
                                        <td> 
										<?php echo ($detail->price !="")?$detail->price:"--"; ?>
										</td>
                                    </tr>
									 <tr>
                                        <td class="span2">Request Date & time :</td>
                                        <td>
                                          <?php echo ($detail->datetime !="")?$detail->datetime:"--"; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2">Purpose :</td>
                                        <td>
                                           <?php echo ($detail->desc)?$detail->desc:'---'; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2">Status :</td>
                                        <td>
                                           <?php echo $detail->status; ?> 
                                        </td>
                                    </tr>
									<tr>
                                       
                                        <td colspan="2">
    <?php if($detail->status == "pending") { ?>
		<a onclick="return confirm('Are you sure?')" href="<?php echo base_url(); ?>AOdSmIiZn/exchange_accept1/<?php echo $detail->order_id; ?>/accept">	<input type="button" value="Accept" class="btn btn-success"></a>
			
				<a href="#myModal"  data-toggle="modal">	
			<input type="button" value="Reject" class="btn btn-danger"></a>
		<?php } else { ?>
		
		<a href="<?php echo base_url(); ?>AOdSmIiZn/exchange">	
			<input type="button" value="Back" class="btn btn-success"></a>
		<?php } ?>
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		<div class="space5"></div>
		</div>
		</div>
		</div>
		</div>
		</div>
<div id="myModal" class="modal fade" style="display: none; ">
<div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reason to reject</h4>
        </div>
        <div class="modal-body"> 
		<?php echo form_open('AOdSmIiZn/exchange_accept1/'.$detail->order_id.'/reject'); ?>
<span><?php echo 'Reason to reject'; ?></span>
<textarea name="mail_content" class="form-control errortest" required></textarea>
<br><button type="submit" class="btn btn-small btn-danger" ><?php echo 'REJECT'; ?></button>
<button type="button" class="btn btn-default" data-dismiss="modal"><?php echo 'Close'; ?></button>
<?php echo form_close(); ?>
                                            </div>
                                        </div>
                                       
                                      </div>
                                      </div>
                                   
	
<?php $this->load->view('admin/footer'); ?>
<script>
$('.rejece').click(function(){ 
	var test = $('.errortest').val(); 
	if(test==''){ $('.errortest').css('border','1px solid red'); return false; }else{return true; } });
	
	</script>
			