<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Exchange History</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Exchange History</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					
					  <?php 
	 $success=$this->session->flashdata('success');									
		if($success)	{	?> 
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo "Success"; ?>! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
										if($error)	{	?> 
									 <div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
									<?php } ?>  
									
					<div class="panel panel-green">
                    <div class="panel-heading">Exchange History</div>
                    <div class="panel-body">
                    <div class="table-responsive">
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
		    <th>S.no</th>
			<th>User Name</th>
			<th>From Currency</th>
			<th>To Currency</th>
			<th>Amount</th>
			<th>Fee</th>
			<th>Final Amount</th>
			<th>Datetime</th>			
			<th>status</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		<?php 
		$i=1;
		foreach($list as $list1) { ?>
		<tr>
	    <td><?php echo $i; ?></td>
			<td><?php echo $this->admin_model->get_user_name($list1->DiZrIeSsOu); ?></td>
<td><?php echo $list1->f_currency; ?></td>
<td><?php echo $list1->t_currency; ?></td>
<td><?php echo $list1->amount; ?></td>
<td><?php echo $list1->fees; ?></td>
<td><?php echo $list1->price; ?></td>
<td><?php echo $list1->datetime; ?></td>			
<td><?php echo $list1->status; ?></td>
<td><a href="<?php echo base_url(); ?>AOdSmIiZn/exchange_view/<?php echo $list1->order_id; ?>" class="glyphicon glyphicon-eye-open" title="view details"></a></td>
		</tr>
		<?php $i++; } ?>

		</tbody>
	</table>

				</form>
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		
	
</div>
</div>
</div>



<?php $this->load->view('admin/footer'); ?>	



		
