<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Manage FAQ</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Manage FAQ</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Manage FAQ</div>
                    <div class="panel-body">
                    <div class="table-responsive">
				<?php 

 $success=$this->session->flashdata('success');
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success!</strong> <?php echo $success;?>.
</div><?php }?>  
<?php  $error=$this->session->flashdata('error');
	if($error)	{	?> 
 <div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh !</strong><?php echo $error;?>.
</div>
<?php }?>
	 <!-- BEGIN ADVANCED TABLE widget-->
<div class="row-fluid">
	<div class="span12">									

<!-- BEGIN EXAMPLE TABLE widget-->




	<table class="table table-striped table-bordered" id="example">
	<thead>
		<tr>
			<th>Question</th>
			<th>Answers</th>
			<th>Status</th>		
			<th>Action</th>
		</tr>
	</thead>
<tbody>
																				
	<?php 				
		foreach($faqlist as $record)
		{
			echo "<tr>";$l=" ";	
			echo "<td>".$record->question."</td>";		
			echo "<td width='60%'>".htmlspecialchars_decode($record->answer)."</td>";		
			//echo "<td>".$record->question_chinese_tredi."</td>";					 
			echo "<td>".ucfirst($record->status)."</td>";		
			echo "<td>".anchor('AOdSmIiZn/faq_changestatus/'.$record->faqid,$l,$attr=array('title'=>'change status','class'=>"glyphicon glyphicon-refresh")).'  '.anchor('AOdSmIiZn/editfaq_before/'.$record->faqid,' ',$attr=array('title'=>'edit','class'=>"glyphicon glyphicon-edit")).'  '.anchor('AOdSmIiZn/faq_delete/'.$record->faqid,$l,$delete=array('title'=>"Delete",'class'=>"glyphicon glyphicon-remove",'onclick'=>"return confirm('Do you want to delete this Faq?');"))."</td>";
			echo "</tr>";
		}
		?>	
   </tbody>
</table>

		</form>
		</div>
	</div>
	<!-- END EXAMPLE TABLE widget-->
</div>
			  
	</div></div>
</div>
</div>
</div>
		
<?php $this->load->view('admin/footer'); ?>	
		