<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Manage Blogs</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Manage Blogs</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Blogs List</div>
                    <div class="panel-body">
                    <div class="table-responsive">
<?php 

 $success=$this->session->flashdata('success');
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success!</strong> <?php echo $success;?>.
</div><?php }?>  
<?php  $error=$this->session->flashdata('error');
	if($error)	{	?> 
 <div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh !</strong><?php echo $error;?>.
</div>
<?php }?>
	<table class="table table-striped table-bordered" id="example">
	<thead>
		<tr>
			<th>#</th>
			<th><?php echo $this->lang->line(''); ?>Heading</th>
			<th><?php echo $this->lang->line(''); ?>Description</th>
		
			<th><?php echo $this->lang->line(''); ?>Status</th>		
			<th><?php echo $this->lang->line(''); ?>Action</th>
		</tr>
	</thead>
<tbody>
																				
	<?php 		
$i=1;	
		foreach($newslist as $record)
		{
			echo "<tr>";$l=" ";	
			echo "<td width='20%'>".$i."</td>";		
			echo "<td width='20%'>".$record->heading."</td>";		
echo "<td width='23%'>".htmlspecialchars_decode($record->description)."</td>";	 			 
			echo "<td>".ucfirst($record->status)."</td>";		
			echo "<td width='20%'>".anchor('AOdSmIiZn/news_changestatus/'.$record->news_id,$l,$attr=array('title'=>'change status','class'=>"glyphicon glyphicon-refresh")).'  '.anchor('AOdSmIiZn/editnews_before/'.$record->news_id,' ',$attr=array('title'=>'edit','class'=>"glyphicon glyphicon-edit")).'  '.anchor('AOdSmIiZn/news_delete/'.$record->news_id,$l,$delete=array('title'=>"Delete",'class'=>"glyphicon glyphicon-remove",'onclick'=>"return confirm('Do you want to delete this Blogs?');"))."</td>";
			echo "</tr>";
		$i++;
		}
		?>	
   </tbody>
</table>

		</form>
		</div>
	</div>
</div>
</div></div>
</div>
<?php $this->load->view('admin/footer'); ?>	
		