<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Order History</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Order History</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Order History</div>
                    <div class="panel-body">
                    <div class="table-responsive">
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
		    <th>Order ID</th>
		    <th>Client ID</th>
			<th>User Name</th>
			<th>Pair</th>
			<th>Type</th>
			<th>Amount</th>
			<th>Price</th>
			<!--<th>Order Type</th> -->
			<th>Datetime</th>			
		</tr>
		</thead>
		<tbody>	
	    <?php 
		if($tradelist)
		{
		$i=1;
	    foreach ($tradelist as $eachtras) { ?>
	    <tr>	
			<td><?php echo $i; ?></td>
			<td><?php echo ucfirst($this->admin_model->get_user_name($eachtras->DiZrIeSsOu)); ?></td>
			<td><?php echo client_id($eachtras->DiZrIeSsOu); ?></td>
			<td><?php echo $eachtras->firstCurrency."_".$eachtras->secondCurrency; ?></td>				
			<td><?php echo ucfirst($eachtras->Type); ?></td>			
			<td><?php echo $eachtras->Amount; ?></td>
			<td><?php if($eachtras->status != "iceberg order") { echo $eachtras->Price; } else { echo 
			"--"; } ?></td>
					
			<!--<td><?php //echo ucfirst($eachtras->ordertype); ?></td>			-->
			<td><?php echo $eachtras->datetime; ?> </td>			
					
		</tr><?php 
	 $i++;   }   } ?>
		

		</tbody>
	</table>

				</form>
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		
	
</div>
</div>
</div>
</div>
</div>


<?php $this->load->view('admin/footer'); ?>	



		
