<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Manage Refral Program</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Manage Refral Program</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Refral List</div>
                    <div class="panel-body">
                    <div class="table-responsive">
<?php 

 $success=$this->session->flashdata('success');
	if($success)	{ ?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success!</strong> <?php echo $success; ?>.
</div><?php } ?>  
<?php  $error=$this->session->flashdata('error');
	if($error)	{	?> 
 <div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh !</strong><?php echo $error;?>.
</div>
<?php }?>
	<table class="table table-striped table-bordered" id="example">
	<thead>
		<tr>
			<th>#</th>
			<th>Refral_Event_ID</th>
			<th>Note</th>
			<th>To_Date</th>					
			<th>You_Recieve</th>			
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
    <tbody>
																				
		<?php 		
			$i=1;	
			foreach($refrallist as $record)
			{
		?>
				<tr>
				<td><?php echo $i; ?></td>		
				<td><?php echo $record->id; ?></td>
				<td><?php echo $record->note; ?></td>
				<td><?php echo $record->todate; ?></td>
				<td><?php echo $record->you_recieve; ?></td>
				<td><?php echo $record->status; ?></td>
				<td>
				
				<a href="<?php echo base_url(); ?>AOdSmIiZn/test_changestatus/<?php echo $record->id; ?>" class="glyphicon glyphicon-refresh"></a>
				
				<a href="<?php echo base_url(); ?>AOdSmIiZn/editrefral_before/<?php echo $record->id; ?>" class="glyphicon glyphicon-edit"></a></td>
				</tr>
			
		<?php 
			$i++; }
		?>	
   </tbody>
</table>
</form>
</div>
</div>
</div>
</div></div>
</div>
<?php $this->load->view('admin/footer'); ?>	
		