<?php  $ad_id = $this->session->userdata('id');
$admin_details = $this->admin_model->getsubadmin_details($ad_id);
$permisssion = explode(',',$admin_details[0]->permission);
?>
<nav id="sidebar" role="navigation" data-step="2" data-intro="" data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
				<?php
				$uri=$this->uri->segment(2);
				$uri1=$this->uri->segment(3);
				?>
                    <li class="user-panel">
                       <!-- <div class="thumb"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="" class="img-circle"/></div>-->
                        <div class="info"><p>Bitunio Admin</p>
                        <ul class="list-inline list-unstyled">
                        <li><a href="<?php echo base_url(); ?>AOdSmIiZn" data-hover="tooltip" title="Profile"><i class="fa fa-home"></i></a></li>

							<li><a href="<?php echo base_url(); ?>AOdSmIiZn/manage_contact_us" data-hover="tooltip" title="Mail"><i class="fa fa-envelope"></i></a></li>

								<li><a href="<?php echo base_url(); ?>AOdSmIiZn/admin_settings" data-hover="tooltip" title="Setting" ><i class="fa fa-cog"></i></a></li>

                                <li><a href="<?php echo base_url(); ?>AOdSmIiZn/logout" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a></li>

                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li <?php if($uri =="" || $uri =="index") {  ?>class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a>
                    </li>

                   <?php if(in_array('1',$permisssion)) {?>
					<li <?php if($uri =="userdetails") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/userdetails"><i class="fa fa-users">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Manage Users</span></a>
                    </li>
                    <?php } ?>


                    <?php if(in_array('2',$permisssion)) {?>
                    <li <?php if($uri =="user_verification" || $uri =="viewuser_verification") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/user_verification"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Verification</span></a>
                    </li>
                      <?php } ?>
                      <li <?php if($uri =="affiliate_users" || $uri =="refer_receive" ) {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/affiliate_users"><i class="fa fa-users">
                                    <div class="icon-bg bg-orange"></div>
                                </i><span class="menu-title">Affiliate Users</span></a>
                                </li>

                    <?php if(in_array('3',$permisssion)) {?>
					<li <?php if($uri =="broker_chang") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/broker_chang"><i class="fa fa-users">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Affiliate Verification</span></a>
                    </li>
                    <?php } ?>



                   <?php if(in_array('4',$permisssion)) {?>
					<li <?php if($uri =="blocklist") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/blocklist"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Block List</span></a>
                    </li>
                     <?php } ?>

					<?php if(in_array('5',$permisssion)) {?>
					<li <?php if($uri =="bank_verification" || $uri =="bank_verification_view") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/bank_verification"><i class="fa fa-check">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Bank Verification</span></a>
                    </li>
                     <?php } ?>

					<?php if(in_array('6',$permisssion)) {?>
					<li <?php if($uri =="banklist" || $uri =="bankdetail") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/banklist"><i class="fa fa-cubes">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Bank List</span></a>
                    </li>
                     <?php } ?>


                    <?php if((in_array('7',$permisssion)) || (in_array('15',$permisssion))) { ?>
                    <li <?php if($uri =="deposit_history" || $uri =="international_depositreq") {  ?> class="active" <?php } ?>><a href="#"><i class="fa fa-desktop fa-fw">
                    <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">Deposit</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

							 <?php if(in_array('15',$permisssion)) {?>
                            <li <?php if($uri =="deposit_history") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/deposit_history"><i class="fa fa-align-left"></i><span class="submenu-title">CryptoCurrency Deposit</span></a></li>
                            <?php } ?>
                            <?php if(in_array('7',$permisssion)) {?>
                            <li <?php if($uri =="international_depositreq") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/international_depositreq"><i class="fa fa-angle-double-left"></i><span class="submenu-title">Bank deposit</span></a></li>
							 <?php } ?>
							</ul>
                    </li>
                    <?php } ?>

					<?php if(in_array('15',$permisssion)) {?>
					<li <?php if($uri =="withdraw_history" || $uri =="withdraw") {  ?> class="active" <?php } ?>><a href="#"><i class="fa fa-send-o fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Withdraw</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                        <li <?php if($uri =="withdraw_history") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/withdraw_history"><i class="fa fa-briefcase"></i><span class="submenu-title">CryptoCurrency Withdraw</span></a></li>
                        <li <?php if($uri =="withdraw") { ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/withdraw"><i class="fa fa-th-large"></i><span class="submenu-title">Bank Withdraw</span></a></li>
							</ul>
                    </li>
                    <?php } ?>


					<!--<li <?php if($uri =="international_depositreq") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/international_depositreq"><i class="fa fa-ticket">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Bank Deposit</span></a></li> -->

					<?php if(in_array('8',$permisssion)) {?>
					<li <?php if($uri =="exchange") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/exchange"><i class="fa fa-exchange">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Exchange</span></a>
                    </li>
                    <?php } ?>

                     <?php if(in_array('12',$permisssion)) {?>
					<li <?php if($uri =="exchangepairlist" || $uri == "edit_exchangepair") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/exchangepairlist"><i class="fa fa-exchange">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Exchange Pairs</span></a>
                    </li>
					<?php } ?>
					<?php if(in_array('13',$permisssion)) {?>
					<li <?php if($uri =="currency" || $uri =="currency_details") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/currency"><i class="fa fa-indent">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Currencies</span></a>
                    </li>
					<?php } ?>
					<?php if(in_array('14',$permisssion)) {?>
					<li  <?php if($uri =="commission1") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/commission1"><i class="fa fa-money">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Commission </span></a>
                    </li>
                     <?php } ?>

                    <?php if(in_array('16',$permisssion)) {?>
					<li <?php if($uri =="trade1") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/trade1"><i class="fa fa-history">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Trade History </span></a>
                    </li>
					<?php } ?>
					<?php if(in_array('17',$permisssion)) {?>
					<li <?php if($uri =="orderlist") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/orderlist"><i class="fa fa-list-ul">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Order History </span></a>
                    </li>
					<?php } ?>
					<?php if(in_array('18',$permisssion)) {?>
					<li <?php if($uri =="currencypairlist" || $uri == "add_currencypair") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/currencypairlist"><i class="fa fa-eye">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Trade Pair & Fee</span></a>
                    </li>
                    <?php } ?>

					<?php if($ad_id==1){ ?>
					<li <?php if($uri =="subadmin") {  ?> class="active" <?php } ?>><a href="#"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">Sub Admin</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li <?php if($uri =="subadmin" && $uri1 == "view") { ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/subadmin/view"><i class="fa fa-columns"></i><span class="submenu-title">Manage subadmin</span></a></li>
                            <li <?php if($uri =="subadmin" && $uri1 == "add") { ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/subadmin/add"><i class="fa fa-file-text-o"></i><span class="submenu-title">Add subadmin</span></a></li>

                        </ul>
                    </li>
                    
                    <li <?php if($uri =="refral" || $uri == "editrefral_before") { ?> class="active" <?php } ?>><a href="#"><i class="fa fa-th-large">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Refral Program</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li <?php if($uri =="rfral") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/refral"><i class="fa fa-th-large"></i><span class="submenu-title">Manage Refral Program</span></a></li>
                            <li <?php if($uri =="editrefral_before") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/editrefral_before"><i class="fa fa-tablet"></i><span class="submenu-title">Add Refral Program</span></a></li>
							</ul>
                    </li>


					<li <?php if($uri =="testimonial" || $uri == "edittest_before") { ?> class="active" <?php } ?>><a href="#"><i class="fa fa-th-large">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Testimonial</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li <?php if($uri =="testimonial") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/testimonial"><i class="fa fa-th-large"></i><span class="submenu-title">Manage Testimonials</span></a></li>
                            <li <?php if($uri =="edittest_before") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/edittest_before"><i class="fa fa-tablet"></i><span class="submenu-title">Add Testimonials</span></a></li>
							</ul>
                    </li>
                    <?php } ?>
                    <?php if(in_array('19',$permisssion)) {?>
                    <li <?php if($uri =="news" || $uri == "editnews_before"|| $uri == "categorylist" || $uri == "add_category") { ?> class="active" <?php } ?>><a href="#"><i class="fa fa-th-large">
                        <div class="icon-bg bg-blue"></div>
                    </i><span class="menu-title">Blogs</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li <?php if($uri =="news") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/news"><i class="fa fa-th-large"></i><span class="submenu-title">Manage Blogs</span></a></li>
                            <li <?php if($uri =="editnews_before") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/editnews_before"><i class="fa fa-tablet"></i><span class="submenu-title">Add Blogs</span></a></li>

							<li <?php if($uri =="categorylist") { ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/categorylist"><i class="fa fa-tablet"></i><span class="submenu-title">Blog Category list</span></a></li>
							<li <?php if($uri =="add_category") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/add_category"><i class="fa fa-tablet"></i><span class="submenu-title">Add Blog Category</span></a></li>

							</ul>
                    </li>
                    <?php } ?>

					 <?php if(in_array('9',$permisssion)) {?>
                       <li <?php if($uri =="editfaq_before" || $uri == "faq") {  ?> class="active" <?php } ?>><a href="#"><i class="fa fa-edit fa-fw">
                        <div class="icon-bg bg-violet"></div>
                    </i><span class="menu-title">FAQ</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li <?php if($uri =="faq") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/faq"><i class="fa fa-columns"></i><span class="submenu-title">Manage FAQ</span></a></li>
                            <li <?php if($uri =="editfaq_before") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/editfaq_before"><i class="fa fa-file-text-o"></i><span class="submenu-title">Add FAQ</span></a></li>

                        </ul>
                    </li>
                    <?php } ?>
                    <?php if(in_array('10',$permisssion)) {?>
                    <li <?php if($uri =="manage_contact_us") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/manage_contact_us"><i class="fa fa-envelope-o">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Contact us</span></a>
                    </li>
                    <?php } ?>

                    <?php if(in_array('11',$permisssion)) {?>
                    <li <?php if($uri =="pages" || $uri == "editpage_before") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/pages"><i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">CMS Pages</span></a>
                    </li>
                    <?php } ?>

                    <?php if(in_array('20',$permisssion)) {?>
                    <li <?php if($uri =="email_templates") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/email_templates"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Templates</span></a>
                    </li>
					<?php } ?>

					 <?php if(in_array('22',$permisssion)) {?>
                    <li <?php if($uri =="news_letter") {  ?> class="active" <?php } ?>><a href="<?php echo base_url(); ?>AOdSmIiZn/news_letter"><i class="fa fa-envelope">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Subscribers</span></a>
                    </li>
					<?php } ?>





					<li><a href="<?php echo base_url(); ?>AOdSmIiZn/logout"><i class="fa fa-sign-out">
                     <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Logout</span></a></li>
			</ul>
            </div>
        </nav>
