<?php $this->load->view("admin/header"); ?>
<div id="wrapper">
<?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">User Verification</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">User verification</li>
                </ol>
                <div class="clearfix"></div>
				</div>
			<!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			<div class="panel panel-green">
                        <div class="panel-heading">User Verification List</div>
                        <div class="panel-body">
   
   <div class="span12">
	<?php if(isset($view)) { ?>
		<?php 
	$success = $this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?> 
	
	<?php  if(!isset($error)) { $error=$this->session->flashdata('error');	}									
	if($error)	{ ?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<?php }?>	
	<!-- BEGIN EXAMPLE TABLE widget-->	
	<div class="widget-body">
		
	<table class="table table-striped table-bordered" id="example">
		<thead>
			<tr>
				<th>S.No</th>
				<th>Client Id</th>
				<th>User name</th>
				<th>Date</th>
				<th>Id Proof Verification status</th>
				<th>Verify By</th>	
				<th>Action</th>
			</tr>
		</thead>
	<tbody>
	<?php $i=0;
	foreach($result as $row)
	{

		$i++;
		$l = " ";
		$verifyId = $row->verifyId;
		$user_id = $row->DiZrIeSsOu;
		$created_date = $row->created_date;
		$userId = $row->DiZrIeSsOu;
		$fname = $row->fname;
		$lname = $row->lastname;
		$username = $row->emanZrIeSsOu;
		$verify_by = $row->verify_by;

		$edit = false;//By Mujeeb

		if($row->verification_status=='Approved'){ $sts = '<span style="color:green">Verified</span>';$edit=true;}else if($row->verification_status=='Rejected'){ $sts='<span style="color:red">Rejected</span>'; $edit=true;} else { $sts='<span style="color:orange">Pending</span>'; }

		
		$userRow = $this->admin_model->getuserdetailsrow($userId);
		echo "<tr>";
		$l=" ";
		echo "<td >".$i."</td>";
		echo "<td >".client_id($userId)."</td>";
		echo "<td >".$row->fname."</td>";
		//echo "<td >".$row->lname."</td>";
		echo "<td >".$row->created_date."</td>";
		echo "<td >".$sts."</td>";
		echo "<td >".$verify_by."</td>";
		
		?>
		<td> 
		
		<?php echo anchor('AOdSmIiZn/view_usr_verify/'.$userId,$l,array('title'=>"View Detail",'class'=>"glyphicon glyphicon-eye-open") ); ?>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<?php if($edit==false){echo anchor('AOdSmIiZn/view_usr_reverify/'.$userId,$l,array('title'=>"Request Reverify",'class'=>"glyphicon glyphicon-edit") ); } ?>
		
		<span class=""></span>
		</td>
		</tr> <?php 
	}

	?>					
	</tbody>
	</table>
	
	</form>
	</div>
	</div>
	<!-- END EXAMPLE TABLE widget-->
	</div>
	<?php
	}
	if(isset($display)) { ?> 

	<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');
	if($error)	{	?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<?php } ?>
	<div class="row-fluid">
	<div class="span12">
	<div class="widget box blue" id="form_wizard_1">
	<div class="widget-title">
	
	<!-- <a href="javascript:;" class="icon-remove"></a>-->
	</span>
	</div>
	<?php 
			
			$user_id = $row->user_id;
			$verifyId = $row->verifyId;	 		
			$country = $row->issue_country;			
			$xstatus = $row->expense_transactions;
			$country_name = $this->admin_model->fetchparticularcountry($country);
			$userRow = $this->admin_model->getuserdetailsrow($user_id);		
		?>
	<div class="widget-body form">	  
	<div class="form-wizard">
	
	
	<div class="">
	<div class="tab-pane active" id="tab1">
	<div class="span7">
    <?php 
    echo form_open('AOdSmIiZn/userverify_status'); ?>
        <h4><?php echo ucfirst($userRow->firstname); ?> <?php echo ucfirst($userRow->lastname); ?></h4>
        
          <!--  <h4>
	<?php echo $this->lang->line(''); ?>User verification  Id Type- <span class="step-title"><?php echo $this->lang->line(''); ?>Step 1 <?php echo $this->lang->line(''); ?>of 4</span>
	</h4>
	<table class="table table-borderless">
            <tbody>
            <tr>
                <td class="span3"><?php echo $this->lang->line(''); ?>Issuing Country:</td>
                <td>
                    <?php echo $country_name; ?>
                </td>
            </tr>            
            <tr>
                <td class="span3"><?php echo $this->lang->line(''); ?>Identity Card Number:</td>
                <td>
                    <?php echo $row->Identity_card_no; ?>
                </td>
            </tr>
            <tr>
                <td class="span3"> <?php echo $this->lang->line(''); ?>Select Id Type: </td>
                <td>
                    <?php echo $row->id_type; ?>
                </td>
            </tr>
            <tr>
                <td class="span3"><?php echo $this->lang->line(''); ?> Identity Card Issue Date: </td>
                <td>
                    <?php echo $row->card_issue_date; ?>
                </td>
            </tr>
              </tbody>
        </table>
             <h4>
	<?php echo $this->lang->line(''); ?>User verification  Personal Information- <span class="step-title">	<?php echo $this->lang->line(''); ?>Step 2 <?php echo $this->lang->line(''); ?>of 4</span>
	</h4>
	<table class="table table-borderless">
            <tbody>
            <tr>
                <td class="span3"><?php echo $this->lang->line(''); ?> Gender: </td>
                <td>
                    <?php echo $row->gender; ?>
                </td>
            </tr>
            <tr>
                <td class="span3"> <?php echo $this->lang->line(''); ?>Date Of Birth: </td>
                <td>
                    <?php echo $row->dob; ?>
                </td>
            </tr>
            <tr>
                <td class="span3">  <?php echo $this->lang->line(''); ?>First Name: </td>
                <td>
                    <?php echo $row->fname; ?>
                </td>
            </tr>
			<?php 
if($row->mname != "")
{			?>
            <tr>
                <td class="span3"> <?php echo $this->lang->line(''); ?>Middle Name: </td>
                <td>
                    <?php echo $row->mname; ?>
                </td>
</tr><?php } ?>
            <tr>
                <td class="span3"> <?php echo $this->lang->line(''); ?>Last Name: </td>
                <td>
                    <?php echo $row->lname; ?>
                </td>
            </tr>
             <tr>
                <td class="span3"> <?php echo $this->lang->line(''); ?>Place Of Birth: </td>
                <td>
                    <?php echo $row->place_of_birth; ?>
                </td>
            </tr>
				
             <tr>
                <td class="span3">  <?php echo $this->lang->line(''); ?>Social Network Profile Link: </td>
                <td>
                    <?php echo $row->social_network; ?>
                </td>
            </tr>
              </tbody>
        </table>-->
    <h4>
		<?php echo $this->lang->line(''); ?> User verification  Address 
	</h4>
	
	<table class="table table-borderless">
            <tbody>
            
            <tr>
                <td class="span3"> <?php echo $this->lang->line(''); ?>Name : </td>
                <td>
                    <?php echo $row->fname; ?>
                </td>
            </tr>
            <tr>
                <td class="span3"><?php echo $this->lang->line(''); ?> Identification Number: </td>
                <td>
                    <?php echo $row->Identity_card_no; ?>
                </td>
            </tr>
			
            <tr>
                <td class="span3"><?php echo $this->lang->line(''); ?>User comments : </td>
                <td>
				<?php echo ($row->verify_comments)?$row->verify_comments:'---';?>
                </td>
            </tr>
			<tr>
                <td class="span3"><?php echo $this->lang->line(''); ?>Status : </td>
                <td>
				<?php echo $row->verification_status;?>
                </td>
            </tr>
			<!--
            <tr>
                <td class="span3"><?php echo $this->lang->line(''); ?>ID Expiration Date: </td>
                <td>
                    <?php echo $row->expire_date;  ?>
                </td>
            </tr> -->


             </tbody>
        </table>
		
		
		<h4>
				<?php echo $this->lang->line(''); ?>User verification  Scan of Documents
		</h4> 
        

        <div class="well">
        
        <h4><?php echo $this->lang->line(''); ?>Selfie Photo: </h4> 
       <?php if($row->document1 !=""  && $row->document1 != "0" ) { ?> 
	  <!-- <a data-fancybox="gallery" href="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document1; ?>">
	   <img src='<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document1; ?>' width="70" alt="empty"></a>-->
	   
	    <a data-fancybox="gallery" href="<?php echo $row->document1; ?>">
	   <img src='<?php echo $row->document1; ?>' width="70" alt="empty"></a>
        
	   <?php } else { echo "empty"; } ?>
  
  
         <h4><?php echo $this->lang->line(''); ?>Document ID 1 </h4>
      <?php if($row->document2 !="" && $row->document2 !="0" ) {?>  
	  <!--<a data-fancybox="gallery" href="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document2; ?>">
	   <img src='<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document2; ?>' width="70" alt="empty"></a>  -->
	   
	   <a data-fancybox="gallery" href="<?php echo $row->document2; ?>">
	   <img src='<?php echo $row->document2; ?>' width="70" alt="empty"></a>
	  
	  
	    <?php } else { echo "empty"; } ?>
     
 

		
		<h4><?php echo $this->lang->line(''); ?>Document ID 2 </h4>
      <?php if($row->document3 !=""  && $row->document3 != "0"  ) { ?>  
	  
	   <!--<a data-fancybox="gallery" href="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document3; ?>">
	   <img src='<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document3; ?>' width="70" alt="empty"></a>  -->
	   
	   <a data-fancybox="gallery" href="<?php echo $row->document3; ?>">
	   <img src='<?php echo $row->document3; ?>' width="70" alt="empty"></a>
	   	  
	   <?php } else { echo "empty"; } ?>
	  
	  
     
	 </div>
	 
<?php if($row->verification_status == "pending" ) { ?>   <?php echo anchor('AOdSmIiZn/update_userverificationstatus/Approved/1/'.$verifyId,"<i class='icon-ok icon-white'></i> APPROVE",$attr=array('class'=>"btn btn-small btn-success",'style'=>'margin-left:20px;')); 

      /* echo anchor('admin/update_userverificationstatus/Rejected/1/'.$verifyId,"<i class='icon-remove icon-white'></i> REJECT",$attr=array('class'=>"btn btn-small btn-danger",'style'=>'margin-left:20px;'));*/
     ?>
  <a class="btn btn-small btn-danger" href="#myModal"  data-toggle="modal" style='margin-left:20px;' onclick="test();"><?php echo $this->lang->line(''); ?>REJECT</a> <?php } else {
	  
if($row->verification_status == "Rejected" ) {
	echo "Rejected";?>  <a href="javascript:void(0)"><?php echo $this->lang->line(''); ?>Reason</a><br><br><pre id="reas1"style="display:block;" class="well"><?php echo $row->reason3; ?></pre><?php
}
if($row->verification_status == "Approved" ) {
	echo anchor('AOdSmIiZn/user_verification','Back',array('class'=>'btn btn-success'));
	?>
	<a class="btn btn-small btn-success" href="javascript:void(0)">Verified</a>
	<?php 	
}
else
{
echo anchor('AOdSmIiZn/user_verification','Back',array('class'=>'btn btn-success'));
?>
<a class="btn btn-small btn-default" href="javascript:void(0)">REJECTED</a> 
<?php
}

  }?>

 </form>
 <!-- <a class="btn btn-small btn-danger" href="#myModal"  data-toggle="modal" style='margin-left:20px;' onclick="test();">REJECT</a> -->

  <div id="myModal" class="modal fade" style="display: none; ">
                                        <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reason to reject</h4>
        </div>
        <div class="modal-body"> 
                                             <?php echo form_open('AOdSmIiZn/update_userverificationstatus/Rejected/1/'.$verifyId); ?>
<span><?php echo 'Reason to reject'; ?></span>
<textarea name="mail_content" class="form-control errortest"></textarea>
<br><button type="submit" class="btn btn-small btn-danger rejece" id="reject_button" ><?php echo 'REJECT'; ?></button>
<?php echo form_close(); ?>
                                            </div>
                                        </div>
                                       
                                      </div>
                                      </div>
									  </div>

	</div>
	
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<?php 	} ?>
	</div>
	</div>
	
		<?php $this->load->view('admin/footer'); ?>	
<script type="text/javascript">
function verificationfun(val,id)
{
	$.ajax({
	url: '<?php echo base_url(); ?>admin/changestatus_userverification',
	data: "val="+val+"&id="+id,
	type: 'POST',			 
	success: function(res) 
	{
		window.location.href="<?php  echo "http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']; ?>";
	}
	});
}
$('.rejece').click(function(){ 
	var test = $('.errortest').val(); 
	if(test==''){ $('.errortest').css('border','1px solid red'); return false; }else{ $("#reject_button").attr('disabled',true); return true; } });
$('.rejece1').click(function(){ 
	var tests = $('.errortest1').val(); 
if(tests==''){ $('.errortest1').css('border','1px solid red'); return false; }else{return true; } });

$('.rejece2').click(function(){ 
	var tests = $('.errortest2').val(); 
if(tests==''){ $('.errortest2').css('border','1px solid red'); return false; }else{return true; } });
$('.rejece3').click(function(){ 
	var tests = $('.errortest3').val(); 
if(tests==''){ $('.errortest3').css('border','1px solid red'); return false; }else{return true; } });
</script>


	<script type="text/javascript">
function tesdt()
{
	$('#mail_content').show();
}
function reas1()
{
	$("#reas1").toggle();
}
function reas2()
{
	$("#reas2").toggle();
}
function reas3()
{
	$("#reas3").toggle();
}
function reas4()
{
	$("#reas4").toggle();
}
function reas5()
{
	$("#reas5").toggle();
}
</script>
