<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">User Details</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">User Details</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				<div class="col-lg-12">
					<?php 
	$success = $this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?> 
	
	<?php  if(!isset($error)) { $error=$this->session->flashdata('error');	}									
	if($error)	{ ?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<?php }?>	
	
	
	<?php if(isset($view)) { ?>
                        <div class="panel panel-green">
                        <div class="panel-heading">User List</div>
                        <div class="panel-body">
                        <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="example">
                                        
										
	<thead>
	<tr>
	<th>#</th>
		<th >Registered on</th>
		<th >Client Id</th>
		<th >User Name</th>
		<th>Email Id</th>			
		<!--<th>Mobile</th>-->
		<th>Email Status</th>
		<th>TFA Status</th>
		<th>Status</th>
		<th>Option</th>
	</tr>
	</thead>
	<tbody>
	<?php 
	$i=1;
	foreach($result as $row)
	{
	$id 						= $row->DiZrIeSsOu;
	$status  					= $row->status;
	$tfa_status  					= $row->Tfa_status;
	$email_check  					= $row->email_check;
	$verifiedstatus 			= $this->admin_model->getuserverificationrow($id);	
	$country	 				= $row->country;
	$phonenumber	 				= $row->phonenumber;	
    $countryname 				= $this->admin_model->fetchparticularcountry($country);
	$user_verificationstatus 	= $verifiedstatus->user_verificationstatus;

	if($user_verificationstatus==1) { $user_verificationstatus = "Approved"; }
	else if($user_verificationstatus==2) { $user_verificationstatus = "Awaiting"; }
	else if($user_verificationstatus==3) { $user_verificationstatus = "Rejected"; }
	else { $user_verificationstatus = "Not Uploading"; }
    $l ='';
	echo "<tr>";
	echo "<td>".$i."</td>";
	echo "<td>".$row->dateofreg."</td>";
	echo "<td>".$row->client_id."</td>";
	?>
	<td><?php echo  $row->emanZrIeSsOu; ?> </td><?php 
	echo "<td>". anchor('AOdSmIiZn/view_userdetails/'.$row->DiZrIeSsOu,$this->user_model->get_email_admin($id),$attr=array('title'=>'View Details','class'=>'tip') )."</td>";	
	//echo "<td>".$phonenumber."</td>";
	
	if($email_check =="yes") { ?><td><span class="label label-success"><?php echo "Verified"; ?></span></td><?php } else { ?>
	<td><span class="label label-danger"><?php echo "Unverified"; ?></span></td><?php } 
	
	if($tfa_status=="enable") { ?><td><span class="label label-success"><?php echo "Enabled"; ?></span></td><?php } else { ?>
	<td><span class="label label-info"><?php echo "Disabled"; ?></span></td><?php }
	
	if($status=="active") { ?><td><span class="label label-success"><?php echo "Active"; ?></span></td><?php } else { ?>
	<td><span class="label label-info"><?php echo "Inactive"; ?></span></td><?php } 
	
	
		
	

	if($row->status=="active"){ $title="Active"; }else { $title="Inactive";}  
	echo "<td style='text-align:center'>".
	anchor('AOdSmIiZn/changestatus_userdetails/'.$row->DiZrIeSsOu, '<span class="glyphicon glyphicon-refresh"></span>', 'title="'.$title.'"');
?>
<?php if($row->Tfa_status == "enable") { ?>
<a href="<?php echo base_url(); ?>AOdSmIiZn/changestatus_tfa/<?php echo $row->DiZrIeSsOu; ?>" class="glyphicon glyphicon-refresh" title="disable to TFA"></a>
<?php } ?>
</td>
<?php 
	echo "</tr>";			
	
	$i++; }

	?>					
	</tbody>
	</table>
										
                                </div>
                            </div>
                        </div>
                     
                        <?php } ?>
						
						
						
						<?php
	

	if(isset($edit)) { ?> 

	
                                        <div class="panel panel-blue">
                                            <div class="panel-heading">Edit Userdetails</div>
                                            <div class="panel-body pan">
											<br>
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'editadmin');
	echo  form_open_multipart('AOdSmIiZn/edit_user_detail',$attributes); ?>   
	<input type="hidden" name="id" value="<?php echo $id;?>">                   
	<div class="form-wizard">
	
	
	<div class="">
	<div class="tab-pane active" id="tab1">
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Username <span class="require">*</span></label>
	
	<div class="col-md-6">
                                                                <div class="input-icon"><i class="fa fa-user"></i>
	<input type="text" class="form-control" minlength="3" maxlength="40" name="username" value="<?php echo $username;?>"  />
	</div>
                                                            </div>
                                                        </div>
														
	<input type="hidden" name="oldusername" value="<?php echo $username;?>"  required>
	</div>
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Email Id <span class="require">*</span></label>
	  <div class="col-md-6">
                                                                <div class="input-icon"><i class="fa fa-envelope"></i>
	<input type="email" class="form-control"  name="emailid" value="<?php echo $emailid;?>" required readonly />
	<input type="hidden" name="oldemail" value="<?php echo $emailid;?>"  >

	</div>
	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Status<span class="require">*</span></label>
	
	<div class="col-md-6">
                                                                <div class="input-icon">
		<select name="status" class="form-control">
			 <option value="active" <?php if($status=='active'){ echo 'selected="selected"'; } ?>><?php echo $this->lang->line(''); ?>Active</option>
			 <option value="inactive" <?php if($status=='inactive'){ echo 'selected="selected"'; } ?>><?php echo $this->lang->line(''); ?>Inactive</option>
		</select>	
	
	</div>
	</div>
	</div>

	
	<input type="hidden" name="admin_new_img" id="admin_new_img" />
	
	
	</div>
	<div class="form-actions">
                                                        <div class="col-md-offset-3 col-md-9">
	<input type="submit" id="submitBtn1" name="submit" class="btn btn-success" value="Save" />
	<div id="errorDiv1" class="error-div" style="float:left"></div>
	<Submit <i class="icon-ok"></i>
	</a>
	</div>
	</div>
	</form>
	</div>
	</div>
	</div>
	</div> 
	</div>
	<?php
	}
	?>
                    </div>
                </div>
            </div>
            <!--END CONTENT--><!--BEGIN FOOTER-->
              <?php $this->load->view("admin/footer"); ?>