<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Withdraw History</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Withdraw History</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<?php 
	$success = $this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?> 
	
	<?php  if(!isset($error)) { $error=$this->session->flashdata('error');	}									
	if($error)	{ ?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<?php }?>	
					<div class="panel panel-green">
                        <div class="panel-heading">Withdraw History</div>
                        <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" id="example">
                                <thead>
      <tr>
      <th style="text-align:center">S.No</th>
	  <th style='text-align:center'>Client Id</th>
	  <th style='text-align:center'>User Name</th>
      <th style='text-align:center'>Txid</th>
      <th style='text-align:center' class="hidden-phone">Currency</th>
      <th style='text-align:center' class="hidden-phone">Amount</th>
      <th style='text-align:center' class="hidden-phone">Date & time</th>
      <th style='text-align:center' class="hidden-phone">Status</th>
      
      </tr>
                                </thead>
                                <tbody>
		<?php 
		$i="1";
	foreach($withdraw as $withdraw1)
	{
	?>
	
		<tr>
		<td style='text-align:center'><?php echo $i; ?></td>
		<td style='text-align:center'><?php echo client_id($withdraw1->DiZrIeSsOu); ?></td>
		<td style='text-align:center'><?php echo $withdraw1->emanZrIeSsOu; ?></td>
		<td style='text-align:center;word-break: break-all;'><?php echo $withdraw1->trans_id; ?></td>
		<td style='text-align:center'><?php echo $withdraw1->currency; ?></td>
		<td style='text-align:center'><?php echo $withdraw1->amount; ?></td>
		<td style='text-align:center'><?php echo $withdraw1->request_date." ". $withdraw1->request_time; ?></td>
		<td style='text-align:center'><?php echo $withdraw1->status; ?></td>
		
		</tr>
	<?php

$i++;
	} ?>
	</tbody>
    </table>
	</div>
    </div>
                    <!-- END BORDERED TABLE widget-->
                </div>
            </div>
            <div class="row-fluid">
               <div class="span6">
               </div>
               <div class="span6">
               </div>
            </div>
            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                </div>
            </div>
			</div>
			</div>
<?php $this->load->view('admin/footer'); ?>