<?php
if($trade_status == "enable")
{
	$fiat_array=array('INR','AED');
	$s_class=(in_array($sc,$fiat_array))?'number-2':'number-8';
	$f_class='number-8';
	$this->load->view('v2/header_inner'); 

	//By Mujeeb
	$uri2 = $this->uri->segment("2");
	//echo "URL : " . $uri2;

	if($uri2=="")
	{
		$fromcurrency = $fc;//"ETC";
		$tocurrency   = $sc;//"BTC";
	}
	else
	{
		$pairs = explode("_", $uri2);
		$fromcurrency = $pairs[0];
		$tocurrency   = $pairs[1];
	}
	
	$prs = $fromcurrency."-".$tocurrency;

	//echo $fromcurrency . " :  " . $tocurrency;

	$this->db->where("from_currency",$fromcurrency);
	$this->db->where("to_currency",$tocurrency);

	//$query = $this->user_model->get_data('egatnZeIcSrOeZpIeSeOf', 'from_currency=$fromcurrency, to_currency=$tocurrency', '', '', '', '', 'row');
	//echo "Values : " . $query->last_price . " :  " . $query->daily_change;

	$rec = $this->db->get("egatnZeIcSrOeZpIeSeOf")->result();
		
	foreach($rec as $pair)
    {
		
		if($fromcurrency=='ETH' || $fromcurrency=='ETC' || $fromcurrency=='LTC' || $fromcurrency=='DASH' || $fromcurrency=='BCH' || $fromcurrency=='ZEC') 
		{
			$mprice['last_price']   = sprintf('%.6f', $pair->last_price);
			$mprice['daily_change'] = sprintf('%.6f', $pair->daily_change);
			$mprice['daily_ptc']    = "(".round($pair->daily_pct,2) . "%)";
			$mprice['range']        = $pair->range_24hrs;
			$mprice['open_price']   = sprintf('%.6f', $pair->open_price);
		}
		elseif($fromcurrency=='XMR')
		{
			$mprice['last_price']   = sprintf('%.5f', $pair->last_price);
			$mprice['daily_change'] = sprintf('%.5f', $pair->daily_change);
			$mprice['daily_ptc']    = "(".round($pair->daily_pct,2) . "%)";
			$mprice['range']        = $pair->range_24hrs;
			$mprice['open_price']   = sprintf('%.5f', $pair->open_price);
		}
		elseif($fromcurrency=='XRP')
		{	
			$mprice['last_price']   = sprintf('%.8f', $pair->last_price);
			$mprice['daily_change'] = sprintf('%.8f', $pair->daily_change);
			$mprice['daily_ptc']    = "(".round($pair->daily_pct,2) . "%)";
			$mprice['range']        =  $pair->range_24hrs;
			$mprice['open_price']   = sprintf('%.8f', $pair->open_price);
		}
		
		//echo "Val : " . $pair->last_price . "  : " . $pair->daily_change;

		//echo "M : " . " S : " . $sell_price . " B : " . $buy_price;
	}//End of For
	
	
	

?>


	
<!--
<div class="container">
	<div class="alert alert-success" id="success-alert">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <strong>Success! </strong>
	    <span id="error">Order not placed.</span>
	</div>
</div>

<section class="trade_cen mar-top-20 mar-bot-10">
<div class="container">
    <div class="currency_tab">
    <ul class="list-inline">
	<?php  
	
	     $this->db->where("status",'active');
	     $allpair=$this->db->get("egatnZeIcSrOeZpIeSeOf")->result();
	
    $uri2=$this->uri->segment("2");

	   
   // if($uri2 == "")
   // {
   //    $uri2="BTC_INR";	    
   // }

    foreach($allpair as $pair1)
    {
			if($uri2 == "")
    		{
      			 $uri2=$pair1->from_currency.'_'.$pair1->to_currency;	    
    		}
					
	   		$active321=($pair1->from_currency.'_'.$pair1->to_currency == $uri2)?'active':'';
	   		echo "<li class='$active321'><a href=".base_url()."trade/".$pair1->from_currency.'_'.$pair1->to_currency.">".$pair1->from_currency.'/'.$pair1->to_currency."</a></li>";
		
	} 
	?>
	
	</ul>
    </div>
    </div>
</section> -->
<script>function open1(){alert("Bitunio : This pair coming soon...");}</script>



<section class="graph_sec">
<div class="container">

  <!-- Show Alert Dailog -->
<div align="center" style="width:100%;position: fixed;z-index: 1232331131;" id="alert">
		<div class="alert alert-success" id="success-alert" style="width:80%;">
			    <!--  <a href="#" class="close" data-dismiss="alert">&times;</a>-->
			    <strong>Order Status: &nbsp; </strong>
			    <span id="error"></span>
		</div>
</div>
   
<!-- Chart -->
    <!--<div class="graph_unit mar-bot-30" id="chart_data">
        <img src="<?php echo base_url() ?>assets/img/graph.png" class="img-responsive">
    </div> -->
    <div class="top-panel">
        <div class="trade-summary">
            <div class="trade-summary-desktop">
                <span class="price-header">Last price <span class="last-price" id="last_price"><?php echo $mprice['last_price']; ?></span></span>
                <span class="price-header" title="" data-original-title="From UTC midnight">Daily change <span class="daily-change" style="color: rgb(0, 153, 0);"><span id="dchange"><?php echo $mprice['daily_change']; ?></span>&nbsp;<i class="fa fa-caret-up"></i>&nbsp;<span id="dpercent"><?php echo $mprice['daily_ptc']; ?></span></span></span>
                <span class="price-header">24hr range <span class="range" id="range"><?php echo $mprice['range']; ?></span></span>
                <span class="price-header">Open price <span class="open-price" id="openprice"><?php echo $mprice['open_price']; ?></span></span>
            </div>

            <div class="trade-summary-mobile">
                <span class="price-header">Last price <span class="last-price" id="last_price"><?php echo $mprice['last_price']; ?></span></span>
                <span class="price-header pull-right" title="" data-original-title="From UTC midnight">Daily change <span class="daily-change" style="color: rgb(0, 153, 0);"><span id="dchange"><?php echo $mprice['daily_change']; ?></span>&nbsp;<i class="fa fa-caret-up"></i>&nbsp;<span id="dpercent"><?php echo $mprice['daily_ptc']; ?></span></span></span>
                <br>
                <span class="price-header">Open price <span class="open-price" id="openprice"><?php echo $mprice['open_price']; ?></span></span>
                <span class="price-header pull-right">24hr range <span class="range" id="range"><?php echo $mprice['range']; ?></span></span>
            </div>
            
            
            <form action="#" method="post" id="frm-tradeSummary-form" novalidate="">
                <select name="pair" id="tradeSummaryCurrency" class="form-control short">
	               <!--   <option value="BTC-AED" selected="">BTC-AED</option>
	                <option value="ETH-AED">ETH-AED</option>
	                <option value="ETH-BTC">ETH-BTC</option>
	                <option value="BCH-AED">BCH-AED</option>
	                <option value="BCH-BTC">BCH-BTC</option>
	                <option value="BCH-ETH">BCH-ETH</option>
	                <option value="XRP-AED">XRP-AED</option>
	                <option value="XRP-BTC">XRP-BTC</option>
	                <option value="ETC-AED">ETC-AED</option>
	                <option value="ETC-BTC">ETC-BTC</option>
	                <option value="LTC-AED">LTC-AED</option>
	                <option value="LTC-BTC">LTC-BTC</option>
	                <option value="ZEC-AED">ZEC-AED</option>
	                <option value="ZEC-BTC">ZEC-BTC</option>
	                <option value="XMR-AED">XMR-AED</option>-->
	                
	                <?php
	                	$this->db->where("status",'active');
	    				$allpair=$this->db->get("egatnZeIcSrOeZpIeSeOf")->result(); 

						$uri2=$this->uri->segment("2");

						foreach($allpair as $pair1)
    					{
							if($uri2 == "")
    						{
      							 $uri2=$pair1->from_currency.'_'.$pair1->to_currency;	    
    						}
					
	   						$active321 =($pair1->from_currency.'_'.$pair1->to_currency == $uri2)?'active':'';
							$optvalue  = $pair1->from_currency.'_'.$pair1->to_currency;
							$optvalue2  = $pair1->from_currency.'/'.$pair1->to_currency;
							$hrefvalue = base_url()."trade/".$pair1->from_currency.'/'.$pair1->to_currency;

							echo "<option value='$optvalue'><a href='.$hrefvalue.'>".$optvalue2."</a></option>";
							
	   						//echo "<li class='$active321'><a href=".base_url()."trade/".$pair1->from_currency.'_'.$pair1->to_currency.">".$pair1->from_currency.'/'.$pair1->to_currency."</a></li>";
		
						} 
	                ?>
               </select>
                <input name="_submit" value="submit" id="tradeSummaryCurrencySubmit" class="hidden" type="submit">
                <input name="do" value="tradeSummary-form-submit" type="hidden"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]-->
            </form>
        </div>
        <a class="exchange-button" href="#">
            <img src="<?php echo base_url(); ?>new_assets/images/echange.png" alt="" style="width:26px;height:24px;margin-left:5px;">
            <h2>Exchange</h2>           
        </a>

        <script type="text/javascript">
          /*  var spanPath = '.trade-summary span span';

            var updateLastPriceInTitle = function(price) {
                var titleEl = $('title');
                titleEl.text(titleEl.text().replace(/\(.*\)/, '(' + price + ')'));
            };

            var fillSummary = function(data) {
                var lastPrice = data.lastPrice.exchangePrice();
                $(spanPath + '.last-price').text(lastPrice);
                if (data.dailyChange > 0) {
                    var dailyChangeIconClass = 'fa-caret-up';
                    var dailyChangeColor = '#009900';
                } else {
                    var dailyChangeIconClass = 'fa-caret-down';
                    var dailyChangeColor = '#d9534f';
                }
                var lastPricePrecision = data.lastPrice.getMaxPricePrecision(false);
                var dailyChange = formatNumber(round(data.dailyChange.toFixed(16), lastPricePrecision), Math.max(0, lastPricePrecision));
                $(spanPath + '.daily-change').html(dailyChange + '&nbsp;<i class="fa '+dailyChangeIconClass+'"></i>&nbsp;('+data.dailyPercentageChange+'%)').css('color', dailyChangeColor);
                $(spanPath + '.range').text(data.dailyLow.exchangePrice() + ' - ' + data.dailyHigh.exchangePrice());
                $(spanPath + '.open-price').text(data.openPrice.exchangePrice());
                updateLastPriceInTitle(lastPrice);
            };

            $(function() {
                boWebsocketClient.addListener("trades-summary", "subscribe", fillSummary, { pair: "BTC-AED" });

                $('#tradeSummaryCurrency').change(function(e) {
                    $('#tradeSummaryCurrencySubmit').click();
                });
            });*/
        </script>
    </div>
    <div class="col-md-9 app-content blocks">
        <div>
            <div id="snippet-systemNotifications-"></div>
            <div class="open-orders" style="cursor: pointer; z-index: 99999;">
                <h3><i class="fa fa-chevron-down" style="cursor: pointer;"></i>&nbsp;Open Orders <span>(0)</span></h3>
                <div class="order-list" id="snippet-openOrderList-" style="display: block;">
                    <table class="table-list prevent-double-click">
                        <tbody id="orders_active"><tr><th>You have no order yet</th></tr></tbody>
                    </table>
                </div>
            </div>
            
            <div class="charts"  style="cursor: pointer; z-index: 99999;" >
                <h3><i class="fa fa-chevron-down"  style="cursor: pointer;z-index: 999999;"></i>&nbsp;Charts</h3>
                <div class="charts-container" style="display: none;width: 100%; height: auto;">
                    <div class="chart candlestick-chart" style="width: 100%; height: auto;">
                        <div class="chart-container" id="tv-chart-container" style="width: 100%; height: auto;">
                        	<div id="chart_div" style="block;" width="100%" height="500px"></div>                       	
                        	
                            <!--  <iframe id="tradingview_3494f" name="tradingview_3494f" src="" width="100%" height="500px" frameborder="0" allowtransparency="true" scrolling="no" allowfullscreen="" style="display:block;"></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="snippet--openOrderPrices"></div>
            <div class="order-book row">
                <div id="order-book-modal"></div>
                <div class="col-lg-9 order-book-container">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 order-book-table bids">
                            <div class="row head">
                                <div class="col-12 head-title">
                                    <span class="span-bids">Bids:</span> <?php echo $prs; ?>
						<span class="precision hidden-xs">
							<span class="precision-value">Max</span>
							<button onclick="updateOrderBookPrecision(-1);">-</button>
							<button onclick="updateOrderBookPrecision(1);">+</button>
						</span>
						<span class="precision visible-xs text-right">
							<span class="precision-value">Max</span>
						</span>
                                </div>
                            </div>
                            <div class="row head columns-titles">
                                <div class="col-xs-3 count hidden-xs">Count</div>
                                <div class="col-xs-3 hidden-xs">Amount</div>
                                <div class="col-xs-6 col-sm-3">Total(BTC)</div>
                                <div class="col-xs-6 col-sm-3">Price</div>
                            </div>
                            <div class="data">
                                <div class="row row-0" data-price="23747.1">
                                    <div class="depth-bar" style="width: 0.07%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.14</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">0.14</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,747.1</div>
                                </div>
                                <div class="row row-1" data-price="23746.4">
                                    <div class="depth-bar" style="width: 0.27%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.40</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">0.54</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,746.4</div>
                                </div>
                                <div class="row row-2" data-price="23743.1">
                                    <div class="depth-bar" style="width: 0.36%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">2</div>
                                    <div class="col-xs-3 amount hidden-xs">0.18</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">0.72</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,743.1</div>
                                </div>
                                <div class="row row-3" data-price="23742.3">
                                    <div class="depth-bar" style="width: 1.13%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">1.54</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">2.26</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,742.3</div>
                                </div>
                                <div class="row row-4" data-price="23739.4">
                                    <div class="depth-bar" style="width: 1.13%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.00</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">2.27</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,739.4</div>
                                </div>
                                <div class="row row-5" data-price="23738.3">
                                    <div class="depth-bar" style="width: 1.33%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.40</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">2.67</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,738.3</div>
                                </div>
                                <div class="row row-6" data-price="23737.9">
                                    <div class="depth-bar" style="width: 1.83%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">1.00</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">3.67</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,737.9</div>
                                </div>
                                <div class="row row-7" data-price="23737.2">
                                    <div class="depth-bar" style="width: 2.83%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">2.00</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">5.67</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,737.2</div>
                                </div>
                                <div class="row row-8" data-price="23736.8">
                                    <div class="depth-bar" style="width: 2.83%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.00</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">5.67</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,736.8</div>
                                </div>
                                <div class="row row-9" data-price="23733.5">
                                    <div class="depth-bar" style="width: 2.89%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">3</div>
                                    <div class="col-xs-3 amount hidden-xs">0.11</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">5.78</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,733.5</div>
                                </div>
                                <div class="row row-10" data-price="23733.2">
                                    <div class="depth-bar" style="width: 2.91%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.05</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">5.82</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,733.2</div>
                                </div>
                                <div class="row row-11" data-price="23732.4">
                                    <div class="depth-bar" style="width: 3.16%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.50</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">6.32</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,732.4</div>
                                </div>
                                <div class="row row-12" data-price="23731">
                                    <div class="depth-bar" style="width: 3.35%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.37</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">6.69</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,731.0</div>
                                </div>
                                <div class="row row-13" data-price="23730.6">
                                    <div class="depth-bar" style="width: 3.96%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">1.22</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">7.91</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,730.6</div>
                                </div>
                                <div class="row row-14" data-price="23729.1">
                                    <div class="depth-bar" style="width: 4.09%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">2</div>
                                    <div class="col-xs-3 amount hidden-xs">0.28</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">8.19</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,729.1</div>
                                </div>
                                <div class="row row-15" data-price="23728.8">
                                    <div class="depth-bar" style="width: 4.84%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">1.50</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">9.69</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,728.8</div>
                                </div>
                                <div class="row row-16" data-price="23728">
                                    <div class="depth-bar" style="width: 4.85%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.00</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">9.69</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,728.0</div>
                                </div>
                                <div class="row row-17" data-price="23727.3">
                                    <div class="depth-bar" style="width: 4.9%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.10</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">9.79</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,727.3</div>
                                </div>
                                <div class="row row-18" data-price="23725.8">
                                    <div class="depth-bar" style="width: 4.97%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.15</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">9.94</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,725.8</div>
                                </div>
                                <div class="row row-19" data-price="23725.5">
                                    <div class="depth-bar" style="width: 5.51%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">1.07</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">11.01</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,725.5</div>
                                </div>
                                <div class="row row-20" data-price="23723.2">
                                    <div class="depth-bar" style="width: 5.52%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.02</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">11.03</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,723.2</div>
                                </div>
                                <div class="row row-21" data-price="23721.4">
                                    <div class="depth-bar" style="width: 5.52%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.00</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">11.03</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,721.4</div>
                                </div>
                                <div class="row row-22" data-price="23718.5">
                                    <div class="depth-bar" style="width: 5.77%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">0.50</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">11.53</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,718.5</div>
                                </div>
                                <div class="row row-23" data-price="23717.4">
                                    <div class="depth-bar" style="width: 6.27%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-3 amount hidden-xs">1.00</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">12.53</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,717.4</div>
                                </div>
                                <div class="row row-24" data-price="23717">
                                    <div class="depth-bar" style="width: 6.27%;">&nbsp;</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                    <div class="col-xs-2 count hidden-xs">3</div>
                                    <div class="col-xs-3 amount hidden-xs">0.01</div>
                                    <div class="col-xs-6 col-sm-3 cumulative">12.55</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3 price">23,717.0</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 order-book-table asks">
                            <div class="row head">
                                <div class="col-12 head-title">
                                    <span class="span-asks">Asks:</span> <?php echo $prs; ?>
						<span class="precision visible-xs text-left">
							<button onclick="updateOrderBookPrecision(-1);">-</button>
							<button onclick="updateOrderBookPrecision(1);">+</button>
						</span>
                                </div>
                            </div>
                            <div class="row head columns-titles">
                                <div class="col-xs-6 col-sm-3">Price</div>
                                <div class="col-xs-6 col-sm-3">Total(BTC)</div>
                                <div class="col-xs-3 hidden-xs">Amount</div>
                                <div class="col-xs-2 count hidden-xs">Count</div>
                                <div class="col-xs-1 hidden-xs">&nbsp;</div>
                            </div>
                            <div class="data">
                                <div class="row row-0" data-price="23761.1">
                                    <div class="depth-bar" style="width: 0.5%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,761.1</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">1.00</div>
                                    <div class="col-xs-3 amount hidden-xs">1.00</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-1" data-price="23761.8">
                                    <div class="depth-bar" style="width: 6.93%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,761.8</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">13.86</div>
                                    <div class="col-xs-3 amount hidden-xs">12.86</div>
                                    <div class="col-xs-2 count hidden-xs">30</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-2" data-price="23763.3">
                                    <div class="depth-bar" style="width: 8.09%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,763.3</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">16.18</div>
                                    <div class="col-xs-3 amount hidden-xs">2.32</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-3" data-price="23764">
                                    <div class="depth-bar" style="width: 9.02%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,764.0</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">18.03</div>
                                    <div class="col-xs-3 amount hidden-xs">1.85</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-4" data-price="23766.6">
                                    <div class="depth-bar" style="width: 9.53%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,766.6</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">19.05</div>
                                    <div class="col-xs-3 amount hidden-xs">1.02</div>
                                    <div class="col-xs-2 count hidden-xs">2</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-5" data-price="23767.3">
                                    <div class="depth-bar" style="width: 10.78%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,767.3</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">21.55</div>
                                    <div class="col-xs-3 amount hidden-xs">2.50</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-6" data-price="23768.1">
                                    <div class="depth-bar" style="width: 11.55%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,768.1</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">23.09</div>
                                    <div class="col-xs-3 amount hidden-xs">1.54</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-7" data-price="23769.5">
                                    <div class="depth-bar" style="width: 11.75%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,769.5</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">23.49</div>
                                    <div class="col-xs-3 amount hidden-xs">0.40</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-8" data-price="23769.9">
                                    <div class="depth-bar" style="width: 13%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,769.9</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">25.99</div>
                                    <div class="col-xs-3 amount hidden-xs">2.50</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-9" data-price="23772.1">
                                    <div class="depth-bar" style="width: 13.2%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,772.1</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">26.40</div>
                                    <div class="col-xs-3 amount hidden-xs">0.40</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-10" data-price="23774.3">
                                    <div class="depth-bar" style="width: 14.7%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,774.3</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">29.40</div>
                                    <div class="col-xs-3 amount hidden-xs">3.00</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-11" data-price="23775.8">
                                    <div class="depth-bar" style="width: 14.87%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,775.8</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">29.73</div>
                                    <div class="col-xs-3 amount hidden-xs">0.34</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-12" data-price="23776.5">
                                    <div class="depth-bar" style="width: 15.66%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,776.5</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">31.31</div>
                                    <div class="col-xs-3 amount hidden-xs">1.58</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-13" data-price="23777.6">
                                    <div class="depth-bar" style="width: 16.1%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,777.6</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">32.21</div>
                                    <div class="col-xs-3 amount hidden-xs">0.89</div>
                                    <div class="col-xs-2 count hidden-xs">2</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-14" data-price="23779.4">
                                    <div class="depth-bar" style="width: 16.6%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,779.4</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">33.21</div>
                                    <div class="col-xs-3 amount hidden-xs">1.00</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-15" data-price="23780.2">
                                    <div class="depth-bar" style="width: 16.6%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,780.2</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">33.21</div>
                                    <div class="col-xs-3 amount hidden-xs">0.00</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-16" data-price="23782">
                                    <div class="depth-bar" style="width: 16.62%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,782.0</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">33.23</div>
                                    <div class="col-xs-3 amount hidden-xs">0.02</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-17" data-price="23782.4">
                                    <div class="depth-bar" style="width: 17.53%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,782.4</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">35.05</div>
                                    <div class="col-xs-3 amount hidden-xs">1.82</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-18" data-price="23783.8">
                                    <div class="depth-bar" style="width: 17.99%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,783.8</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">35.99</div>
                                    <div class="col-xs-3 amount hidden-xs">0.94</div>
                                    <div class="col-xs-2 count hidden-xs">4</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-19" data-price="23789.4">
                                    <div class="depth-bar" style="width: 18.99%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,789.4</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">37.99</div>
                                    <div class="col-xs-3 amount hidden-xs">2.00</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-20" data-price="23789.7">
                                    <div class="depth-bar" style="width: 19.2%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,789.7</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">38.40</div>
                                    <div class="col-xs-3 amount hidden-xs">0.41</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-21" data-price="23793">
                                    <div class="depth-bar" style="width: 19.24%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,793.0</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">38.48</div>
                                    <div class="col-xs-3 amount hidden-xs">0.08</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-22" data-price="23793.4">
                                    <div class="depth-bar" style="width: 19.78%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,793.4</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">39.55</div>
                                    <div class="col-xs-3 amount hidden-xs">1.07</div>
                                    <div class="col-xs-2 count hidden-xs">5</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-23" data-price="23794.1">
                                    <div class="depth-bar" style="width: 19.83%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,794.1</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">39.66</div>
                                    <div class="col-xs-3 amount hidden-xs">0.11</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                                <div class="row row-24" data-price="23795.2">
                                    <div class="depth-bar" style="width: 20.03%;">&nbsp;</div>
                                    <div onclick="$(&quot;#frm-buyAndSell-form-price&quot;).val(($(this).parent(&quot;.row&quot;).attr(&quot;data-price&quot;)));$(&quot;#frm-buyAndSell-form-price&quot;).change();" class="col-xs-6 col-sm-3"><div class="price">23,795.2</div></div>
                                    <div class="col-xs-6 col-sm-3 cumulative">40.06</div>
                                    <div class="col-xs-3 amount hidden-xs">0.40</div>
                                    <div class="col-xs-2 count hidden-xs">1</div>
                                    <div class="col-xs-1 icon hidden-xs">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 order-book-table trades">
                    <div class="row head">
                        <div class="col-12 head-title">
                            <span class="span-trades">Trades</span>
                        </div>
                    </div>
                    <div class="row head columns-titles">
                        <div class="col-xs-4">Time</div>
                        <div class="col-xs-4">Price</div>
                        <div class="col-xs-4">Amount</div>
                    </div>
                    <div class="data"><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:36</div><div class="col-xs-4">23,747.4</div><div class="col-xs-4">0.26</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:36</div><div class="col-xs-4">23,753.0</div><div class="col-xs-4">0.06</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:36</div><div class="col-xs-4">23,753.0</div><div class="col-xs-4">0.05</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:36</div><div class="col-xs-4">23,757.4</div><div class="col-xs-4">0.01</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:36</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">2.95</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:36</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">0.06</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:36</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">0.00</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:35</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">0.20</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:35</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">0.06</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:35</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">2.04</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:35</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">0.54</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:33</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">0.96</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:33</div><div class="col-xs-4">23,761.4</div><div class="col-xs-4">0.04</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:28</div><div class="col-xs-4">23,767.0</div><div class="col-xs-4">0.00</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:28</div><div class="col-xs-4">23,767.0</div><div class="col-xs-4">0.10</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:28</div><div class="col-xs-4">23,767.0</div><div class="col-xs-4">0.20</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:22</div><div class="col-xs-4">23,769.2</div><div class="col-xs-4">0.01</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:22</div><div class="col-xs-4">23,769.6</div><div class="col-xs-4">0.06</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:22</div><div class="col-xs-4">23,776.5</div><div class="col-xs-4">0.00</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:22</div><div class="col-xs-4">23,776.5</div><div class="col-xs-4">0.19</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:21</div><div class="col-xs-4">23,778.7</div><div class="col-xs-4">0.00</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:21</div><div class="col-xs-4">23,778.7</div><div class="col-xs-4">0.40</div></div><div class="row"><div class="sell">&nbsp;</div><div class="col-xs-4">12:40:21</div><div class="col-xs-4">23,778.7</div><div class="col-xs-4">0.03</div></div><div class="row"><div class="buy">&nbsp;</div><div class="col-xs-4">12:40:16</div><div class="col-xs-4">23,779.1</div><div class="col-xs-4">0.23</div></div><div class="row"><div class="buy">&nbsp;</div><div class="col-xs-4">12:40:10</div><div class="col-xs-4">23,779.1</div><div class="col-xs-4">0.00</div></div><div class="row"><div class="buy">&nbsp;</div><div class="col-xs-4">12:40:08</div><div class="col-xs-4">23,779.1</div><div class="col-xs-4">0.76</div></div></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="mgt10"></div>
            <div class="order-list" id="snippet-orderList-" style="display:none;">
                <table class="table-list prevent-double-click" style="display: none;"">
                    <tbody>
                    <tr>
                        <th>Date</th>
                        <th class="hidden-xs">Pair</th>
                        <th class="hidden-xs">Type</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th class="hidden-xs"><span title="" data-original-title="This is amount after fee is applied.">Value</span></th>
                        <th class="hidden-xs">Status</th>
                        <th class="visible-xs"></th>
                        <th class="visible-xs"></th>
                    </tr>
                    <tr class="order-848749" data-order-id="848749">
                        <td>
                            <span class="hidden-xs">Aug 7th, 2018 08:45</span>
                            <span class="visible-xs" title="" data-original-title="Aug 7th, 2018 08:45">Aug 7th, 2018</span>
                        </td>
                        <td class="hidden-xs">BTC-AED</td>
                        <td class="hidden-xs">Limit Sell</td>
                        <td class="text-red">
						<span>
							-0.07118471&nbsp;BTC
						</span>
                        </td>
                        <td>
						<span title="" data-original-title="Limit price: 25523.9 AED&lt;br&gt;Executed price: 25523.9 AED">
							25523.9&nbsp;AED
						</span>
                        </td>
                        <td class="hidden-xs">
                            1,812.35&nbsp;AED
                        </td>
                        <td class="hidden-xs">Done</td>
                        <td class="visible-xs text-center"><i class="fa fa-2x fa-question-circle" style="font-size: 1.5em;" title="" data-original-title="&lt;b&gt;Pair:&lt;/b&gt; BTC-AED&lt;br&gt;&lt;b&gt;Type:&lt;/b&gt; Limit Sell&lt;br&gt;&lt;b&gt;Fiat Amount:&lt;/b&gt; &lt;span&gt;1,812.35 AED&lt;/span&gt;&lt;br&gt;&lt;b&gt;Status:&lt;/b&gt; Done"></i>
                        </td>
                        <td class="visible-xs text-center">

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3 blog-sidebar app-sidebar blocks exchange-sidebar" >
        <div class="balances-sidebar">
            <h3 class="visible-xs"><i class="fa fa-chevron-down"></i>&nbsp;Balances <span></span></h3>
            <div class="pd10 pdt0 pdb0 white-background">
                <div class="row deposit-withdrawal hidden-xs">
                    <div class="col-xs-6">
                    	<a href="<?php echo base_url(); ?>deposit/<?php echo $fromcurrency; ?>"><i class="fa fa-arrow-circle-down"></i>&nbsp;&nbsp;Deposit</a>
                    </div>
                    <div class="col-xs-6">
                        <span class="horizontal-separator"></span>
                        <a href="<?php echo base_url(); ?>withdraw/<?php echo $fromcurrency; ?>"><i class="fa fa-arrow-circle-up"></i>&nbsp;&nbsp;Withdrawal</a>
                    </div>
                </div>
                <div class="balances" id="snippet--balances">
                    <div class="row">
                        <div class="col-xs-3"><?php echo $fc ?></div>
                        <div class="col-xs-9 amount" id="fc_balance">0.00</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3"><?php echo $sc ?></div>
                        <div class="col-xs-9 amount" id="sc_balance">0.00</div>
                    </div>
                     <!-- <div class="hidden-xs">
                         <div id="more-currencies" style="display: none;">
                            <div class="row">
                                <div class="col-xs-3">BCH</div>
                                <div class="col-xs-9 amount">0.00600181</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">ETH</div>
                                <div class="col-xs-9 amount">0.0379</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">XRP</div>
                                <div class="col-xs-9 amount">373.98</div>
                            </div>
                        </div>
                        <div class="balances-arrow">
                            <i class="fa fa-2x fa-angle-down" aria-hidden="true" style="cursor: pointer;"></i>
                        </div>
                    </div>
                    <div class="visible-xs">
                        <div class="row">
                            <div class="col-xs-3">BCH</div>
                            <div class="col-xs-9 amount">0.00600181</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">ETH</div>
                            <div class="col-xs-9 amount">0.0379</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">XRP</div>
                            <div class="col-xs-9 amount">373.98</div>
                        </div>
                    </div>-->
                </div>
            </div>

        </div>

        <div class="buy-and-sell-sidebar">
            <h3 class="visible-xs"><i class="fa fa-chevron-down"></i>&nbsp;Buy and sell <span></span></h3>
            <div class="orders prevent-double-click" id="snippet-buyAndSell-buyAndSell">
              <!--   <form method="post" id="frm-buyAndSell-form" name="frm-buyAndSell-form" novalidate="">--> 
                <?php echo form_open("",array('class'=>'','id'=>'frm-buyAndSell-form')); ?>
                    <div class="row type">
                    	<div class="col-xs-6">                            
                            <a id="limit-btn" class="active">Limit</a>
                        </div>
                        <div class="col-xs-6">
                        	<span class="horizontal-separator"></span>
                        	<a id="market-btn" class="">Market</a>
                        </div>
                        <!--<div class="col-xs-6">
                            <span class="horizontal-separator"></span>
                            <a id="limit-btn" class="">Limit</a>
                        </div>  -->
                        <div class="col-xs-6"><a id="stop-btn" class="">Stop</a></div>
                        <div class="col-xs-6">
                            <span class="horizontal-separator"></span>
                            <a id="stop-limit-btn" class="">Stop Limit</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mg15">
                        <div class="row buy-sell-buttons">
                            <div class="col-xs-6"><a id="buy-btn" class="btn btn-green active">BUY</a></div>
                            <div class="col-xs-6"><a id="sell-btn" class="btn btn-danger">SELL</a></div>
                        </div>
                       <!--   <div class="hidden">
                            <select name="side" id="order-side" required="" data-nette-rules="[{&quot;op&quot;:&quot;:filled&quot;,&quot;msg&quot;:&quot;This field is required.&quot;}]" class="form-control"><option value="">Select side</option><option value="buy" selected="">Buy</option><option value="sell">Sell</option></select>
                            <select name="type" id="order-type" required="" data-nette-rules="[{&quot;op&quot;:&quot;:filled&quot;,&quot;msg&quot;:&quot;This field is required.&quot;}]" class="form-control"><option value="">Select type</option><option value="market" selected="">instant</option><option value="limit">Limit</option><option value="stop">Stop</option><option value="stop_limit">Stop Limit</option></select>
                        </div>-->
                        <input name="amount" autocomplete="off" id="frm-buyAndSell-form-amount" required="" data-nette-rules="[{&quot;op&quot;:&quot;:filled&quot;,&quot;msg&quot;:&quot;This field is required.&quot;}]" class="form-control" placeholder="Amount (<?php echo $fc; ?>)" type="text">
                        <input name="price" id="frm-buyAndSell-form-price" data-nette-rules="[{&quot;op&quot;:&quot;:equal&quot;,&quot;rules&quot;:[{&quot;op&quot;:&quot;:filled&quot;,&quot;msg&quot;:&quot;This field is required.&quot;}],&quot;control&quot;:&quot;type&quot;,&quot;arg&quot;:[&quot;limit&quot;,&quot;stop_limit&quot;]}]" class="form-control" style="display: none;" placeholder="Limit Price (<?php echo $sc; ?>)" type="text">
                        <input name="stopPrice" id="frm-buyAndSell-form-stopPrice" data-nette-rules="[{&quot;op&quot;:&quot;:equal&quot;,&quot;rules&quot;:[{&quot;op&quot;:&quot;:filled&quot;,&quot;msg&quot;:&quot;This field is required.&quot;}],&quot;control&quot;:&quot;type&quot;,&quot;arg&quot;:[&quot;stop&quot;,&quot;stop_limit&quot;]}]" class="form-control" style="display: none;" placeholder="Stop Price (<?php echo $sc; ?>)" type="text">
                        <div class="total-price" title="Expected price, note that executed market order price may vary due to market change" data-original-title="Expected price, note that executed market order price may vary due to market change">Total <span class="fr"><span id="totalamt">~0.00 </span><?php echo " ".$sc; ?></span><div class="clearfix"></div></div>
                        <input name="_submit" value="Place order" class="btn place-buy-order ajax" id="submit-order" type="button">
                    </div>
                    
                    <!--  <input name="_token_" value="pi3abww9utlKfEMwFk10UhrMDbrxbaKP1uhxE=" type="hidden">-->
                    <input name="do" value="buyAndSell-form-submit" type="hidden">
                    
                    <input type="hidden" name="fee" value="<?php echo $fee; ?>">
					<input type="hidden" id="fc" name="fc" value="<?php echo $fc; ?>">
					<input type="hidden" id="sc" name="sc" value="<?php echo $sc; ?>">
					<input type="hidden" name="pair" value="<?php echo $cpair; ?>">
					<input type="hidden" name="bprice" id="bprice" value="<?php echo $buy_price; ?>">
					<input type="hidden" name="sprice" id="sprice" value="<?php echo $sell_price; ?>">
					<input type="hidden" name="order_type" id="order_type" value="instant">
					<input type="hidden" name="type" id="type" value="Buy">
                  </form>
            </div>
        </div>

        <div class="menu-sidebar">
            <h3 class="visible-xs"><i class="fa fa-chevron-down"></i>&nbsp;Menu <span></span></h3>
            <ul class="nav">
            	<li  class="active">
                    <a href="referral">Referral Program</a>
                </li>
                <li>
                    <a href="terms">Terms of Service</a>
                </li>
                <li>
                    <a href="">My Wallet</a>
                </li>
                <li>
                    <a href="">Increase Limits</a>
                </li>
                <li>
                    <a href="">Trade History</a>
                </li>
                <li>
                    <a href="">Fees</a>
                </li>
                
                <li class="visible-xs">
                    <a href="">Settings</a>
                </li>
                <li class="visible-xs">
                    <a href="">Log out</a>
                </li>
            </ul>
        </div>
    </div>
<!-- End -->

    </div>
</section>

<hr>

<section class="order_sec">
<div class="container">
    <div class="row">
    <div id="tab" class="btn-group trade_btn mar-top-10" data-toggle="tab">
              <ul class="nav nav-pills">
			  <li class="active"><a href="#active_ord" class="btn btn-large btn-info" data-toggle="tab">active order</a></li>
              <li><a href="#stop_ord" class="btn btn-large btn-info" data-toggle="tab">stop order</a></li>
            </ul>
			</div>

         <div class="tab-content mar-top-20">
              <div class="tab-pane active" id="active_ord">
            <div class="orders_table">
	            <table class="table" id="<?php echo $fc; ?>_<?php echo $sc; ?>_history_active_orders">
			          <thead>
			            <tr style="color:#000;font-size:12px;font-weight:bold;">
			              <th>Date & Time	</th>
			              <th>  Type</th>
			              <th> Amount	(<?php echo $fc; ?>)</th>
			                <th> Price(<?php echo $sc; ?>)</th>
			                <th> Pair</th>
			                <th>  Fees(<?php echo $sc; ?>)</th>
							<th> Total(<?php echo $sc; ?>)</th>
			                <th>	Action</th>
			            </tr>
			          </thead>
			          <tbody>
					  </tbody>
		         </table>
             </div>

              </div>
              <div class="tab-pane" id="stop_ord">
                   <div class="orders_table">
		                <table class="table" id="<?php echo $fc; ?>_<?php echo $sc; ?>_stop_orders">
					          <thead>
					            <tr style="color:#000;font-size:12px;font-weight:bold;">
					              <th>Date & Time	</th>
					              <th>  Type</th>
					              <th> Amount(<?php echo $fc; ?>)</th>
					                <th> Stop Price(<?php echo $sc; ?>)</th>

					                <th> Pair</th>
					                <th>  Fees(<?php echo $sc; ?>)</th>
									<th> Total(<?php echo $sc; ?>)</th>
					                <th>	Action</th>
					            </tr>
					          </thead>
					          <tbody>
							  </tbody>
					      </table>
         			</div>
                </div>


            </div>

    </div>
    </div>
</section>



<script>
	var comm="<?php echo $fee; ?>";
	var instant_sell_price="<?php echo $sell_price; ?>";
	var instant_buy_price="<?php echo $buy_price; ?>";
	var firstCurrency="<?php echo $fc; ?>";
	var secondCurrency="<?php echo $sc; ?>";
	
	
</script>
<?php $this->load->view('front/footer'); ?>
<script>
function isNumberKey(evt)
{
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 46 || charCode > 57))
        return false;
    return true;
}
</script>

<script>

	  var base_url = "<?php echo base_url(); ?>";
	  var vstatus  = "";	  
	  //console.log("Verify : " + vstatus + " : " + base_url);
	  
</script>

    <!-- custom scrollbar stylesheet 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
	<script src="<?php echo base_url(); ?>new_assets/js/trade/trade.js?<?php echo time(); ?>"></script>
	<script src="<?php echo base_url(); ?>new_assets/js/trade/trade_ui.js?<?php echo time(); ?>"></script>
	
	<!-- <script src="https://bitoasis.net/js/scripts.js?stamp=2d7a90"></script>-->
	<script src="<?php echo base_url(); ?>new_assets/js/trade/orderbook.js?<?php echo time(); ?>"></script>

	<script src="<?php echo base_url(); ?>assets/js/highstock.js"></script>

	<link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/jquery.mCustomScrollbar.css">
	<script src="<?php echo base_url(); ?>assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	
	<script src="<?php echo base_url(); ?>new_assets/js/general_settings.js?<?php echo time(); ?>"></script>
	
	<script>
		
		refreshsellbuyorders_new(firstCurrency, secondCurrency); //First Time Load Data
		
		AccountActive(); //account Active /Disabled
		
	(function($){
			$(window).on("load",function(){

        var width = $(window).width();

        if(width>500){
      //    big screen //1282
        $(".trade_history_scroll,.sell_order,.buy_order,.order_table_scroll").mCustomScrollbar({
                          scrollButtons:{
                            enable:false
                          },

                      scrollbarPosition: 'inside',
                      autoExpandScrollbar:true,
                      theme: 'dark',
                       axis:"y",
                          setWidth: "auto"
            });

        }else{
    $(".trade_history_scroll,.sell_order,.buy_order,.order_table_scroll").mCustomScrollbar({
                          scrollButtons:{
                            enable:false
                          },

                      scrollbarPosition: 'inside',
                      autoExpandScrollbar:true,
                      theme: 'dark',
                       axis:"x",
                          setWidth: "auto"
            });

        }
			});
		})(jQuery);
</script>

<?php } else  {
$this->load->view('v2/header_inner');  ?>

<section class="trade_cen mar-top-20 mar-bot-10">
<div class="container">
<br><br><br><br><br><br><br>
<center>
	<h1>Coming Soon</h1>
	<p>We are updating some wonderful things waiting for the Upgrade</p>
</center>
	<br><br><br>
</div>
</section>
<?php $this->load->view('front/footer'); ?>
<?php }  ?>
