<?php $this->load->view("wallet/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("wallet/sidebar"); 
        $wallet_url = site_config()->footer;
				?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Change Password</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url().$wallet_url; ?>">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Change Password</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Change Password</div>
                                            <div class="panel-body pan">
											<br>
							
							
			  				<div class="panel-body">
							
							 <?php 	$error=$this->session->flashdata('error');
								if($error)	{	?> 
									 <div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh !</strong><?php echo $error;?>.
									</div>
									<?php }?>  
								<?php $success=$this->session->flashdata('success');
								 if($success) { ?>
									<div class="alert alert-success">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong><?php echo "Success"; ?>!</strong> <?php echo $success;?>.
									</div>
								<?php }?>
			  					<?php $attribute=array('class'=>'','id' => '','name' => 'profileform'); ?>
	                 <?php echo form_open('',$attribute); ?>	
					 
									<fieldset>
										<div class="form-group">
											<label>Current Password</label>
											<input type="password" placeholder="Password" class="form-control" name="password" required>
											<?php echo form_error('password'); ?>
										</div>
										<div class="form-group">
											<label>New password</label>
											<input type="password" placeholder="Password" class="form-control" name="newpassword" required>
											<font color="#CC0000"><?php echo form_error('newpassword'); ?></font>
										</div>
										<div class="form-group">
											<label>Re New password</label>
											<input type="password" name="repassword" placeholder="Password" class="form-control" required>
											<font color="#CC0000"><?php echo form_error('repassword'); ?></font>
										</div>
										
									</fieldset>
									<div>
										<button  class="btn btn-primary">
											<i class="fa fa-save"></i>
											Submit
										</button>
									</div>
								<?php echo form_close(); ?>
			  				</div>
			  			</div>
			  			</div>
						
			
			</div>

			
			
			    <?php $this->load->view("wallet/footer"); ?>