<?php $this->load->view("wallet/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("wallet/sidebar"); 
        $uri1=$this->uri->segment(3);
        $wallet_url = site_config()->footer;?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Deposit</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url().$wallet_url; ?>">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Deposit</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				      <div class="col-lg-12">
          <div class="panel panel-green">
                        <div class="panel-heading">Deposit <?php echo $uri1; ?></div>
                        <div class="panel-body">
                          <div class="table-responsive">            
                           
                          <?php echo $uri1;?> Address : <h3 style="word-break:break-all;"><?php echo $address;?></h3>
                          <?php if($uri1 == 'XRP' && $tag!=''){
                          echo 'Destination Tag : <h3>'.$tag.'</h3>';
                          }else if($uri1 == 'XMR' && $tag!=''){
                          echo 'Payment Id : <h3>'.$tag.'</h3>';
                          }?>
                    
                          <img src="<?php echo $image;?>" />
                               
                            </div>
              <div class="space5"></div>
                        </div>
                  </div>
               </div>
                  
         </div>
		 
      <!--  <div class="row">
                
                    <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">Deposit History</div>
                        <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" id="example">
                                <thead>
                              <tr>
                              <th style="text-align:center">S.No</th>
                              <th style="text-align:center">Currency</th>
                              <th style="text-align:center">Amount</th>
                              <th style='text-align:center'>Txn id</th>
                              <th style='text-align:center' class="hidden-phone">Date&time</th>
                              <th style='text-align:center' class="hidden-phone">Status</th>
                              
                              </tr>
                                </thead>
                                <tbody>
        <?php 
        $i="1";

    foreach($deposit as $history)
    { 
    ?>
    
        <tr>
        <td style='text-align:center'><?php echo $i; ?></td>
        <td style='text-align:center'><?php echo $history->currency; ?></td>
        <td style='text-align:center'><?php echo $history->amount; ?></td>
        <td style='text-align:center'><?php echo $history->transactionId; ?></td>
        <td style='text-align:center'><?php echo $history->request_date.' '.$history->request_time; ?></td>
        <td style='text-align:center'><?php echo $history->status; ?></td>
        
        </tr>
    <?php

$i++;
    } ?>
        
                                </tbody>
                            </table>

                        </div>
                    </div>
                   
                </div>
            </div>
           </div> -->
         </div>
<?php $this->load->view('wallet/footer'); ?>  
