<?php  $ad_id = $this->session->userdata('id');
$admin_details = $this->admin_model->getsubadmin_details($ad_id);
$permisssion = explode(',',$admin_details[0]->permission);
$wallet_url=site_config()->footer;
?>
<?php $this->load->view("wallet/header"); ?>
<style type="text/css">
    #sum_box .icon {
    color: #999999;
    font-size: 20px;
    float: right;
}
</style>
    <div id="wrapper">
        <?php $this->load->view("wallet/sidebar"); ?>
        
	<div id="page-wrapper">
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Dashboard</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;
                    <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li class="active">Dashboard</li>
                </ol>
                <div class="clearfix"></div>
            </div>
         
            <div class="page-content">
                <div id="tab-general">
                    <div id="sum_box" class="row mbl">
					
                        <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/BTC';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $BTC;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>BTC<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>


                         <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/ETH';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $ETH;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>ETH<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>
                         <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/XRP';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $XRP;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>XRP<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>

                         <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/XMR';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $XMR;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>XMR<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>



                         <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/ETC';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $ETC;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>ETC<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>

                        <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/LTC';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $LTC;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>LTC<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>
                        <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/DOGE';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $DOGE;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>DOGE<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>

                        <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/DASH';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $DASH;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>DASH<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>

                        <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/BCH';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $BCH;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>BCH<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>

                          <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url().$wallet_url.'/deposit/ZEC';?>">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><?php echo $ZEC;?></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>ZEC<span></span></h4>

                                    <p class="description"></p>

                                   
                                </div>
                            </div> </a>
                        </div>
					
                      

                    </div>
                   
				</div>
          
             <div class="row">
                
                    <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">Withdraw History</div>
                        <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" id="example">
                                <thead>
                              <tr>
                              <th style="text-align:center">S.No</th>
                              <th style="text-align:center">Currency</th>
                              <th style="text-align:center">Amount</th>
                              <th style='text-align:center'>Txn id</th>
                              <th style='text-align:center' class="hidden-phone">Date&time</th>
                              <th style='text-align:center' class="hidden-phone">Status</th>
                              
                              </tr>
                                </thead>
                                <tbody>
        <?php 
        $i="1";

    foreach($withdraw as $history)
    { 
    ?>
    
        <tr>
        <td style='text-align:center'><?php echo $i; ?></td>
        <td style='text-align:center'><?php echo $history->currency; ?></td>
        <td style='text-align:center'><?php echo $history->amount; ?></td>
        <td style='text-align:center'><?php echo $history->transactionId; ?></td>
        <td style='text-align:center'><?php echo $history->request_date.' '.$history->request_time; ?></td>
        <td style='text-align:center'><?php echo $history->status; ?></td>
        
        </tr>
    <?php

$i++;
    } ?>
        
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END BORDERED TABLE widget-->
                </div>
            </div>
           
         </div>
            <?php $this->load->view("wallet/footer"); ?>
			
			