<?php $this->load->view("wallet/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("wallet/sidebar"); ?>
        
        <div id="page-wrapper">
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Change pattern</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Change pattern</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Change pattern</div>
                                            <div class="panel-body pan">
											
											
											<br>
											<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
	if($error)	{	?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<div class="span12">								<?php } ?>  	
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'accountForm');
	echo  form_open_multipart('',$attributes); ?>   
	 <input type="hidden" name="id" value="<?php echo $id;?>" > 
	 <input type="hidden" name="ft" id='ft' value=""/>
	
	<input type="hidden" name="ft1" id='ft1'/>
	<fieldset>
	
	
	
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Old Pattern <span class="require">*</span></label>
	<div class="col-md-6">
	<div id="gesturepwd"></div>
	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">New Pattern <span class="require"></span></label>
	<div class="col-md-6">
	<div id="gesturepwd1"></div>
	</div>
	</div>
	
	</fieldset>

	


	

	</div>

	<div class="form-actions ">
	 <div class="col-md-offset-3 col-md-9">
	<input type="submit" id="submitBtn1" name="submit" class="btn btn-success sce" value="Save" />
	<div id="errorDiv1" class="error-div" style="float:left"></div>
	<Submit <i class="icon-ok"></i>
	</a>
	</div>
	</div>
	</div>
	</form>
	</div>
<?php $this->load->view('admin/footer'); ?>			
<script type="text/javascript" src="<?php echo base_url();?>assets/js/bootstrap-datepicker.js"></script>
<script src='<?php echo base_url(); ?>assets_admin/js/jquery.mobile.custom.min1.js?<?php echo time(); ?>'></script>


	<script type="text/javascript">
$("#startDate").datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        startDate: '-0m',
        maxDate: '0',
        onClose: function( selectedDate ) {
        $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
        }
    });
</script>		


