
<nav id="sidebar" role="navigation" data-step="2" data-intro="" data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <ul id="side-menu" class="nav">
				<?php
				$uri=$this->uri->segment(2);
				$uri1=$this->uri->segment(3);
                $wallet_url = site_config()->footer;
				?>
                    <li class="user-panel">
                       <!-- <div class="thumb"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="" class="img-circle"/></div>-->
                        <div class="info"><p>Bitunio </p>
                       
                        </div>
                        <div class="clearfix"></div>
                    </li>

                    <li <?php if($uri =="" || $uri =="index") {  ?>class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>"><i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span></a>
                    </li>


                    <li <?php if($uri =="deposit") {  ?> class="active" <?php } ?>><a href="#">
                        <div class="fa fa-money"></div>
                    <span class="menu-title">Deposit</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li <?php if($uri =="deposit" && $uri1 == "BTC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/BTC"><span class="submenu-title">BTC</span></a></li>
                            <li <?php if($uri =="deposit" && $uri1 == "ETH") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/ETH"><span class="submenu-title">ETH</span></a></li>
                            <li <?php if($uri =="deposit" && $uri1 == "XRP") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/XRP"><span class="submenu-title">XRP</span></a></li>
                            <li <?php if($uri =="deposit" && $uri1 == "XMR") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/XMR"><span class="submenu-title">XMR</span></a></li>
                            <li <?php if($uri =="deposit" && $uri1 == "ETC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/ETC"><span class="submenu-title">ETC</span></a></li>
                            
                            <li <?php if($uri =="deposit" && $uri1 == "ZEC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/ZEC"><span class="submenu-title">ZEC</span></a></li>

                             <li <?php if($uri =="deposit" && $uri1 == "LTC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/LTC"><span class="submenu-title">LTC</span></a></li>

                             <li <?php if($uri =="deposit" && $uri1 == "DOGE") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/DOGE"><span class="submenu-title">DOGE</span></a></li>

                             <li <?php if($uri =="deposit" && $uri1 == "DASH") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/DASH"><span class="submenu-title">DASH</span></a></li>

                             <li <?php if($uri =="deposit" && $uri1 == "BCH") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/deposit/BCH"><span class="submenu-title">BCH</span></a></li>

                        </ul>
                    </li>

<li <?php if($uri =="withdraw") {  ?> class="active" <?php } ?>><a href="#">
                        <div class="fa fa-money"></div>
                    <span class="menu-title">Withdraw</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li <?php if($uri =="withdraw" && $uri1 == "BTC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/BTC"><span class="submenu-title">BTC</span></a></li>
                            <li <?php if($uri =="withdraw" && $uri1 == "ETH") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/ETH"><span class="submenu-title">ETH</span></a></li>
                            <li <?php if($uri =="withdraw" && $uri1 == "XRP") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/XRP"><span class="submenu-title">XRP</span></a></li>
                            <li <?php if($uri =="withdraw" && $uri1 == "XMR") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/XMR"><span class="submenu-title">XMR</span></a></li>
                            <li <?php if($uri =="withdraw" && $uri1 == "ETC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/ETC"><span class="submenu-title">ETC</span></a></li>
                            
                            <li <?php if($uri =="withdraw" && $uri1 == "ZEC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/ZEC"><span class="submenu-title">ZEC</span></a></li>
                            
                             <li <?php if($uri =="withdraw" && $uri1 == "LTC") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/LTC"><span class="submenu-title">LTC</span></a></li>

                             <li <?php if($uri =="withdraw" && $uri1 == "DOGE") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/DOGE"><span class="submenu-title">DOGE</span></a></li>

                             <li <?php if($uri =="withdraw" && $uri1 == "DASH") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/DASH"><span class="submenu-title">DASH</span></a></li>

                             <li <?php if($uri =="withdraw" && $uri1 == "BCH") { ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/withdraw/BCH"><span class="submenu-title">BCH</span></a></li>

                        </ul>
                    </li>
                    
                    <li <?php if($uri =="admin_change_password") {  ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/admin_change_password">
                     <div class="fa fa-key"></div>
                    <span class="menu-title">Change Password</span></a></li>

                    <li <?php if($uri =="admin_change_pattern") {  ?> class="active" <?php } ?>><a href="<?php echo base_url().$wallet_url; ?>/admin_change_pattern"><div class="fa fa-key"></div><span class="menu-title">Change Pattern</span></a></li>
                    
					<li><a href="<?php echo base_url().$wallet_url; ?>/logout"><i class="fa fa-sign-out">
                     <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Logout</span></a></li>
			</ul>
            </div>
        </nav>
