<?php $this->load->view("wallet/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("wallet/sidebar"); 
        $uri1 = $this->uri->segment(3);
        $wallet_url = site_config()->footer;
    ?>
        
        <div id="page-wrapper">
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Withdraw</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url().$wallet; ?>">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Withdraw</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading"><?php echo $uri1.' Withdraw'; ?><span  class="pull-right"><?php echo 'Balance : '.$balance.' '.$uri1;?></span></div>
                                            <div class="panel-body pan">
											
											
											<br>
											<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
	if($error)	{	?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<div class="span12">								<?php } ?>  	
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'accountForm');
	echo  form_open_multipart('',$attributes); ?>   
	 
	<fieldset>
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Amount<span class="require">*</span></label>
         <div class="col-md-6">
															
			<input type="text" class="form-control" onkeypress="return isNumberKey(event)"  name="amount" required />
	
		</div>
	</div>
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Address<span class="require">*</span></label>
         <div class="col-md-6">
															
			<input type="text" class="form-control"  name="address" required />
	
		</div>
	</div>
<?php if($uri1=='XRP' || $uri1=='XMR')
{ ?>
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername"><?php if($uri1=='XRP'){ echo 'Destination tag';}else{echo 'Payment id';}?><span class="require">*</span></label>
         <div class="col-md-6">
															
			<input type="text" class="form-control"  name="tag"  />
	
		</div>
	</div>
	<?php } ?>
  
	
	</fieldset>

	</div>

	<div class="form-actions ">
	 <div class="col-md-offset-3 col-md-9">
	<input type="submit" id="submitBtn1" name="save" class="btn btn-success sce" value="Send" />
	<div id="errorDiv1" class="error-div" style="float:left"></div>
	<Submit <i class="icon-ok"></i>
	</a>
	</div>
	</div>
	</div>
	</form>
	</div>
	  <div class="row">
                
                    <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">Withdraw History</div>
                        <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" id="example">
                                <thead>
                              <tr>
                              <th style="text-align:center">S.No</th>
                              <th style="text-align:center">Currency</th>
                              <th style="text-align:center">Amount</th>
                              <th style='text-align:center'>Txn id</th>
                              <th style='text-align:center' class="hidden-phone">Date&time</th>
                              <th style='text-align:center' class="hidden-phone">Status</th>
                              
                              </tr>
                                </thead>
                                <tbody>
        <?php 
        $i="1";

    foreach($withdraw as $history)
    { 
    ?>
    
        <tr>
        <td style='text-align:center'><?php echo $i; ?></td>
        <td style='text-align:center'><?php echo $history->currency; ?></td>
        <td style='text-align:center'><?php echo $history->amount; ?></td>
        <td style='text-align:center'><?php echo $history->transactionId; ?></td>
        <td style='text-align:center'><?php echo $history->request_date.' '.$history->request_time; ?></td>
        <td style='text-align:center'><?php echo $history->status; ?></td>
        
        </tr>
    <?php

$i++;
    } ?>
        
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- END BORDERED TABLE widget-->
                </div>
            </div>
           
         </div>
<?php $this->load->view('wallet/footer'); ?>			
<script type="text/javascript" src="<?php echo base_url();?>assets/js/bootstrap-datepicker.js"></script>
<script src='<?php echo base_url(); ?>assets_admin/js/jquery.mobile.custom.min1.js?<?php echo time(); ?>'></script>

<script type="text/javascript">
	function isNumberKey(evt){
      var charCode = (evt.which) ? evt.which : evt.keyCode
      if ((charCode > 34 && charCode < 41) || (charCode > 47 && charCode < 58) || (charCode == 46) || (charCode == 8) || (charCode == 9))
          return true;
      return false;
   }
</script>


